/* ------------------zwykłe ikony----------------------- */


/* #region [ rgba( 0, 0, 200, 0.05 ) ] --->  */

.sprite2 {
    background-image: url(../img/base.png);
    background-repeat: no-repeat;
    display: block;
}

.base-10minutemail {
    width: 100px;
    height: 12px;
    background-position: 0 0;
}

.base-airpl {
    width: 38px;
    height: 37px;
    background-position: -100px 0;
}

.base-allegro {
    width: 102px;
    height: 42px;
    background-position: -138px 0;
}

.base-amazon {
    width: 95px;
    height: 27px;
    background-position: -240px 0;
}

.base-amway {
    width: 82px;
    height: 34px;
    background-position: -335px 0;
}

.base-animatedknots {
    width: 61px;
    height: 30px;
    background-position: -417px 0;
}

.base-antyweb {
    width: 52px;
    height: 45px;
    background-position: -478px 0;
}

.base-aps {
    width: 75px;
    height: 21px;
    background-position: -530px 0;
}

.base-artstation {
    width: 128px;
    height: 28px;
    background-position: -530px -21px;
}

.base-asciicker {
    width: 64px;
    height: 47px;
    background-position: 0 -49px;
}

.base-ask {
    width: 55px;
    height: 40px;
    background-position: -64px -49px;
}

.base-astronew {
    width: 89px;
    height: 29px;
    background-position: -119px -49px;
}

.base-atari {
    width: 105px;
    height: 33px;
    background-position: -208px -49px;
}

.base-bankier {
    width: 64px;
    height: 41px;
    background-position: -313px -49px;
}

.base-bedeker {
    width: 42px;
    height: 35px;
    background-position: -658px 0;
}

.base-bibcyf {
    width: 41px;
    height: 48px;
    background-position: -377px -35px;
}

.base-blackhole {
    width: 32px;
    height: 32px;
    background-position: -418px -35px;
}

.base-blenderguru {
    width: 108px;
    height: 27px;
    background-position: -450px -49px;
}

.base-bloginews {
    width: 95px;
    height: 44px;
    background-position: -558px -49px;
}

.base-c64portal {
    width: 146px;
    height: 27px;
    background-position: -64px -93px;
}

.base-c64sets {
    width: 42px;
    height: 34px;
    background-position: -658px -35px;
}

.base-calendar {
    width: 100px;
    height: 31px;
    background-position: -210px -93px;
}

.base-cams {
    width: 70px;
    height: 33px;
    background-position: -310px -93px;
}

.base-cda {
    width: 86px;
    height: 26px;
    background-position: -380px -93px;
}

.base-ceidg {
    width: 104px;
    height: 27px;
    background-position: -466px -93px;
}

.base-ciekawostkihist {
    width: 85px;
    height: 33px;
    background-position: -570px -93px;
}

.base-colossal {
    width: 123px;
    height: 25px;
    background-position: 0 -126px;
}

.base-commodore {
    width: 100px;
    height: 32px;
    background-position: -123px -126px;
}

.base-commodore_c64_books {
    width: 130px;
    height: 22px;
    background-position: -223px -126px;
}

.base-convert {
    width: 143px;
    height: 29px;
    background-position: -380px -120px;
}

.base-conwerter {
    width: 50px;
    height: 21px;
    background-position: -605px 0;
}

.base-cqcounter {
    width: 89px;
    height: 30px;
    background-position: -523px -126px;
}

.base-crazynauka {
    width: 160px;
    height: 20px;
    background-position: -223px -156px;
}

.base-darmprog {
    width: 202px;
    height: 24px;
    background-position: -383px -156px;
}

.base-dawnygdansk {
    width: 110px;
    height: 17px;
    background-position: 0 -156px;
}

.base-delta {
    width: 80px;
    height: 33px;
    background-position: -612px -126px;
}

.base-duo {
    width: 36px;
    height: 36px;
    background-position: -655px -69px;
}

.base-ebuy {
    width: 90px;
    height: 40px;
    background-position: -110px -159px;
}

.base-eioba {
    width: 74px;
    height: 26px;
    background-position: -585px -159px;
}

.base-elektroda {
    width: 110px;
    height: 20px;
    background-position: 0 -185px;
}

.base-elektroonline {
    width: 160px;
    height: 24px;
    background-position: -200px -180px;
}

.base-elportal {
    width: 160px;
    height: 20px;
    background-position: -360px -180px;
}

.base-exbl {
    width: 160px;
    height: 21px;
    background-position: -520px -185px;
}

.base-facebook {
    width: 103px;
    height: 35px;
    background-position: 0 -206px;
}

.base-fake {
    width: 68px;
    height: 32px;
    background-position: -103px -206px;
}

.base-fakty {
    width: 107px;
    height: 27px;
    background-position: -171px -206px;
}

.base-filmon {
    width: 123px;
    height: 31px;
    background-position: -278px -206px;
}

.base-finviz {
    width: 37px;
    height: 44px;
    background-position: -401px -206px;
}

.base-forbot {
    width: 110px;
    height: 17px;
    background-position: -438px -206px;
}

.base-forsa {
    width: 102px;
    height: 30px;
    background-position: -548px -206px;
}

.base-fosshub {
    width: 97px;
    height: 20px;
    background-position: 0 -21px;
}

.base-fotogdansk {
    width: 30px;
    height: 35px;
    background-position: -680px -159px;
}

.base-freemusicarchive {
    width: 51px;
    height: 25px;
    background-position: -650px -206px;
}

.base-freesound {
    width: 110px;
    height: 31px;
    background-position: -438px -231px;
}

.base-gameplay {
    width: 130px;
    height: 23px;
    background-position: -548px -236px;
}

.base-gb64b {
    width: 147px;
    height: 21px;
    background-position: 0 -259px;
}

.base-geekaresexy {
    width: 124px;
    height: 38px;
    background-position: -147px -259px;
}

.base-geooo {
    width: 46px;
    height: 46px;
    background-position: -271px -259px;
}

.base-getionary {
    width: 40px;
    height: 40px;
    background-position: -317px -259px;
}

.base-github {
    width: 30px;
    height: 30px;
    background-position: -678px -231px;
}

.base-gmail {
    width: 30px;
    height: 30px;
    background-position: -357px -261px;
}

.base-gnew {
    width: 97px;
    height: 50px;
    background-position: -548px -259px;
}

.base-goodhomedesign {
    width: 110px;
    height: 44px;
    background-position: 0 -309px;
}

.base-google {
    width: 128px;
    height: 54px;
    background-position: -110px -309px;
}

.base-grypl {
    width: 107px;
    height: 47px;
    background-position: -238px -309px;
}

.base-haloradio {
    width: 95px;
    height: 39px;
    background-position: -345px -309px;
}

.base-hevensabo {
    width: 78px;
    height: 30px;
    background-position: -440px -309px;
}

.base-history {
    width: 146px;
    height: 21px;
    background-position: -518px -309px;
}

.base-inhabit {
    width: 100px;
    height: 32px;
    background-position: -518px -330px;
}

.base-instalki {
    width: 105px;
    height: 32px;
    background-position: 0 -362px;
}

.base-jakdojade {
    width: 97px;
    height: 22px;
    background-position: -171px -236px;
}

.base-jayisgames {
    width: 150px;
    height: 36px;
    background-position: -238px -362px;
}

.base-jpg2png {
    width: 45px;
    height: 35px;
    background-position: -387px -259px;
}

.base-kalbi {
    width: 40px;
    height: 41px;
    background-position: -645px -261px;
}

.base-komputerswiat {
    width: 95px;
    height: 40px;
    background-position: -388px -362px;
}

.base-kopalniawiedzy {
    width: 86px;
    height: 39px;
    background-position: -618px -330px;
}

.base-kosmonauta {
    width: 144px;
    height: 24px;
    background-position: -483px -369px;
}

.base-kostka {
    width: 42px;
    height: 43px;
    background-position: -105px -369px;
}

.base-krytykapolityczna {
    width: 230px;
    height: 23px;
    background-position: -147px -402px;
}

.base-kurnik {
    width: 120px;
    height: 11px;
    background-position: -483px -393px;
}

.base-linkedin {
    width: 30px;
    height: 30px;
    background-position: -147px -369px;
}

.base-linkedin {
    width: 38px;
    height: 38px;
    background-position: -627px -369px;
}

.base-madeon {
    width: 110px;
    height: 26px;
    background-position: -377px -404px;
}

.base-malawielkafirma {
    width: 80px;
    height: 38px;
    background-position: 0 -407px;
}

.base-mapa {
    width: 42px;
    height: 22px;
    background-position: -664px -302px;
}

.base-math {
    width: 118px;
    height: 24px;
    background-position: -487px -404px;
}

.base-millennium {
    width: 157px;
    height: 36px;
    background-position: -80px -428px;
}

.base-mojemiasto {
    width: 90px;
    height: 46px;
    background-position: -605px -407px;
}

.base-ms {
    width: 120px;
    height: 32px;
    background-position: -237px -428px;
}

.base-mtechnik {
    width: 105px;
    height: 28px;
    background-position: -357px -453px;
}

.base-mynoise {
    width: 190px;
    height: 20px;
    background-position: -462px -453px;
}

.base-naszgdansk {
    width: 36px;
    height: 46px;
    background-position: 0 -453px;
}

.base-natemat {
    width: 133px;
    height: 24px;
    background-position: -36px -473px;
}

.base-naukaoklimacie {
    width: 115px;
    height: 17px;
    background-position: -487px -428px;
}

.base-netoog {
    width: 77px;
    height: 39px;
    background-position: -169px -473px;
}

.base-newyorktimes {
    width: 230px;
    height: 32px;
    background-position: -462px -473px;
}

.base-ninateka_logo {
    width: 190px;
    height: 41px;
    background-position: -246px -505px;
}

.base-noizz {
    width: 87px;
    height: 28px;
    background-position: 0 -505px;
}

.base-nosil {
    width: 83px;
    height: 29px;
    background-position: -436px -505px;
}

.base-obiektywizm {
    width: 133px;
    height: 24px;
    background-position: -519px -505px;
}

.base-okopress {
    width: 50px;
    height: 60px;
    background-position: -87px -505px;
}

.base-oldversion {
    width: 110px;
    height: 15px;
    background-position: -246px -473px;
}

.base-onet {
    width: 92px;
    height: 34px;
    background-position: -137px -529px;
}

.base-osm {
    width: 140px;
    height: 21px;
    background-position: -519px -529px;
}

.base-otranscribe {
    width: 110px;
    height: 17px;
    background-position: -229px -550px;
}

.base-panel {
    width: 114px;
    height: 21px;
    background-position: -339px -550px;
}

.base-pap {
    width: 49px;
    height: 30px;
    background-position: -177px -369px;
}

.base-pazyl {
    width: 100px;
    height: 18px;
    background-position: -453px -550px;
}

.base-pimeyes {
    width: 110px;
    height: 34px;
    background-position: -553px -550px;
}

.base-pinterest {
    width: 111px;
    height: 35px;
    background-position: 0 -584px;
}

.base-playgl {
    width: 149px;
    height: 39px;
    background-position: -111px -584px;
}

.base-pocket {
    width: 105px;
    height: 25px;
    background-position: -260px -584px;
}

.base-podroznik {
    width: 110px;
    height: 23px;
    background-position: -365px -584px;
}

.base-poliblogi {
    width: 40px;
    height: 25px;
    background-position: -665px -369px;
}

.base-policjagda {
    width: 48px;
    height: 50px;
    background-position: -475px -584px;
}

.base-polityka {
    width: 131px;
    height: 36px;
    background-position: -523px -584px;
}

.base-polskifrontend {
    width: 130px;
    height: 41px;
    background-position: -260px -620px;
}

.base-press {
    width: 100px;
    height: 38px;
    background-position: 0 -620px;
}

.base-programy {
    width: 110px;
    height: 19px;
    background-position: -523px -620px;
}

.base-protonmail {
    width: 109px;
    height: 24px;
    background-position: -100px -639px;
}

.base-pulsbiznesu {
    width: 84px;
    height: 35px;
    background-position: -390px -620px;
}

.base-qwant {
    width: 38px;
    height: 40px;
    background-position: -659px -505px;
}

.base-racjonalista {
    width: 110px;
    height: 21px;
    background-position: -474px -639px;
}

.base-radio {
    width: 49px;
    height: 30px;
    background-position: 0 -545px;
}

.base-rainymood {
    width: 168px;
    height: 26px;
    background-position: -390px -660px;
}

.base-ranking24 {
    width: 110px;
    height: 26px;
    background-position: -584px -639px;
}

.base-raspberrypi {
    width: 36px;
    height: 44px;
    background-position: -663px -545px;
}

.base-retrogamer {
    width: 148px;
    height: 21px;
    background-position: 0 -665px;
}

.base-reverso {
    width: 40px;
    height: 40px;
    background-position: -654px -589px;
}

.base-rzygacz {
    width: 50px;
    height: 38px;
    background-position: -209px -629px;
}

.base-schemat {
    width: 25px;
    height: 18px;
    background-position: -418px -69px;
}

.base-sejmometr {
    width: 63px;
    height: 38px;
    background-position: -259px -665px;
}

.base-skiplagged {
    width: 90px;
    height: 20px;
    background-position: -558px -665px;
}

.base-sklepy24 {
    width: 120px;
    height: 32px;
    background-position: -700px 0;
}

.base-spacelabeu {
    width: 140px;
    height: 16px;
    background-position: -655px -105px;
}

.base-sprzedajemy {
    width: 100px;
    height: 22px;
    background-position: -700px -32px;
}

.base-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -800px -32px;
}

.base-staregrynet {
    width: 147px;
    height: 25px;
    background-position: -648px -665px;
}

.base-strongpasswordgenerator {
    width: 110px;
    height: 20px;
    background-position: -700px -62px;
}

.base-supercook {
    width: 100px;
    height: 26px;
    background-position: -692px -121px;
}

.base-svg {
    width: 71px;
    height: 27px;
    background-position: -710px -147px;
}

.base-syntax {
    width: 52px;
    height: 45px;
    background-position: -710px -174px;
}

.base-tajemniceatari8 {
    width: 120px;
    height: 25px;
    background-position: -708px -219px;
}

.base-teatrtelewizji {
    width: 50px;
    height: 42px;
    background-position: -762px -174px;
}

.base-theguardian {
    width: 160px;
    height: 23px;
    background-position: 0 -690px;
}

.base-thenewyorker {
    width: 130px;
    height: 32px;
    background-position: -685px -261px;
}

.base-thewest {
    width: 149px;
    height: 35px;
    background-position: -322px -690px;
}

.base-timeanddate {
    width: 45px;
    height: 25px;
    background-position: -781px -147px;
}

.base-tnyt_pol {
    width: 60px;
    height: 32px;
    background-position: -706px -293px;
}

.base-tokfm {
    width: 95px;
    height: 55px;
    background-position: -705px -325px;
}

.base-translator {
    width: 35px;
    height: 35px;
    background-position: -795px -82px;
}

.base-tumblr {
    width: 30px;
    height: 30px;
    background-position: -795px -117px;
}

.base-tvn {
    width: 38px;
    height: 38px;
    background-position: -705px -380px;
}

.base-tvpg {
    width: 171px;
    height: 37px;
    background-position: -471px -690px;
}

.base-twitter {
    width: 30px;
    height: 30px;
    background-position: -766px -293px;
}

.base-twojahistoria {
    width: 125px;
    height: 33px;
    background-position: -695px -418px;
}

.base-urszula {
    width: 105px;
    height: 24px;
    background-position: -695px -451px;
}

.base-usdebt {
    width: 110px;
    height: 36px;
    background-position: -697px -475px;
}

.base-useme {
    width: 99px;
    height: 38px;
    background-position: -699px -511px;
}

.base-vectra {
    width: 120px;
    height: 25px;
    background-position: -699px -549px;
}

.base-vimeo {
    width: 116px;
    height: 38px;
    background-position: -699px -574px;
}

.base-voice {
    width: 42px;
    height: 45px;
    background-position: -694px -612px;
}

.base-wei {
    width: 90px;
    height: 34px;
    background-position: -736px -612px;
}

.base-wiedzoholik {
    width: 67px;
    height: 44px;
    background-position: -160px -690px;
}

.base-wikimap {
    width: 127px;
    height: 28px;
    background-position: -642px -690px;
}

.base-windy {
    width: 38px;
    height: 38px;
    background-position: -743px -380px;
}

.base-wp {
    width: 33px;
    height: 31px;
    background-position: -796px -293px;
}

.base-wtz {
    width: 140px;
    height: 18px;
    background-position: 0 -718px;
}

.base-wu {
    width: 64px;
    height: 40px;
    background-position: -830px 0;
}

.base-yahoo {
    width: 110px;
    height: 28px;
    background-position: -781px -380px;
}

.base-yandex {
    width: 94px;
    height: 27px;
    background-position: -800px -324px;
}

.base-yt {
    width: 109px;
    height: 46px;
    background-position: -769px -690px;
}

.base-zama {
    width: 40px;
    height: 40px;
    background-position: -830px -40px;
}

.base-zegaratomowy {
    width: 40px;
    height: 39px;
    background-position: -830px -80px;
}

.base-ziemianarozdrozu {
    width: 105px;
    height: 36px;
    background-position: 0 -736px;
}

.base-ztmg {
    width: 50px;
    height: 27px;
    background-position: -825px -119px;
}

.base-zufana {
    width: 230px;
    height: 18px;
    background-position: -105px -736px;
}

.base-zumi {
    width: 84px;
    height: 36px;
    background-position: -807px -451px;
}


/* #endregion */


/* ------------------programowanie----------------------- */


/* #region [ rgba( 255, 0, 0, 0.05 ) ] */

.sprite {
    background-image: url(../img/prog.png);
    background-repeat: no-repeat;
    display: block;
}

.prog-W3 {
    width: 73px;
    height: 40px;
    background-position: 0 0;
}

.prog-adobe {
    width: 114px;
    height: 21px;
    background-position: -73px 0;
}

.prog-aftermarket {
    width: 160px;
    height: 27px;
    background-position: -187px 0;
}

.prog-alicevision {
    width: 58px;
    height: 50px;
    background-position: -347px 0;
}

.prog-angular {
    width: 50px;
    height: 49px;
    background-position: -405px 0;
}

.prog-animacje {
    width: 103px;
    height: 27px;
    background-position: 0 -49px;
}

.prog-anime {
    width: 112px;
    height: 22px;
    background-position: -103px -49px;
}

.prog-animista {
    width: 117px;
    height: 31px;
    background-position: -215px -49px;
}

.prog-apollographql {
    width: 113px;
    height: 36px;
    background-position: -405px -49px;
}

.prog-asciigenerator {
    width: 110px;
    height: 45px;
    background-position: 0 -85px;
}

.prog-awesome {
    width: 45px;
    height: 45px;
    background-position: -455px 0;
}

.prog-befonts {
    width: 105px;
    height: 36px;
    background-position: -110px -85px;
}

.prog-bezier {
    width: 125px;
    height: 18px;
    background-position: -215px -85px;
}

.prog-caniuse {
    width: 110px;
    height: 25px;
    background-position: -340px -85px;
}

.prog-canvas {
    width: 113px;
    height: 25px;
    background-position: -215px -110px;
}

.prog-codewars {
    width: 45px;
    height: 45px;
    background-position: -500px 0;
}

.prog-colorbox {
    width: 120px;
    height: 31px;
    background-position: -328px -110px;
}

.prog-colorhunt {
    width: 120px;
    height: 30px;
    background-position: 0 -141px;
}

.prog-colors_picker {
    width: 120px;
    height: 34px;
    background-position: -120px -141px;
}

.prog-compresor {
    width: 93px;
    height: 27px;
    background-position: -450px -85px;
}

.prog-compressor {
    width: 90px;
    height: 22px;
    background-position: -448px -112px;
}

.prog-cursor {
    width: 72px;
    height: 18px;
    background-position: -448px -134px;
}

.prog-d3 {
    width: 36px;
    height: 34px;
    background-position: -240px -152px;
}

.prog-davinci17 {
    width: 214px;
    height: 22px;
    background-position: -73px -27px;
}

.prog-dbdiagram {
    width: 100px;
    height: 24px;
    background-position: -276px -152px;
}

.prog-dojotoolkit {
    width: 73px;
    height: 36px;
    background-position: -376px -152px;
}

.prog-draw {
    width: 40px;
    height: 40px;
    background-position: -449px -152px;
}

.prog-electronjs {
    width: 156px;
    height: 32px;
    background-position: 0 -188px;
}

.prog-estimator {
    width: 98px;
    height: 32px;
    background-position: -156px -192px;
}

.prog-ezgif {
    width: 120px;
    height: 23px;
    background-position: -254px -192px;
}

.prog-feathericons {
    width: 39px;
    height: 37px;
    background-position: -489px -152px;
}

.prog-figma {
    width: 40px;
    height: 57px;
    background-position: -374px -189px;
}

.prog-flaticon {
    width: 121px;
    height: 25px;
    background-position: -414px -192px;
}

.prog-flex {
    width: 100px;
    height: 25px;
    background-position: -254px -217px;
}

.prog-font-converter {
    width: 120px;
    height: 25px;
    background-position: -414px -217px;
}

.prog-fontsgoogle {
    width: 135px;
    height: 29px;
    background-position: 0 -242px;
}

.prog-github {
    width: 30px;
    height: 30px;
    background-position: -518px -45px;
}

.prog-github {
    width: 36px;
    height: 36px;
    background-position: -135px -242px;
}

.prog-gitlab {
    width: 41px;
    height: 40px;
    background-position: -171px -242px;
}

.prog-glyphicons {
    width: 135px;
    height: 19px;
    background-position: -212px -242px;
}

.prog-gmail {
    width: 30px;
    height: 30px;
    background-position: -414px -242px;
}

.prog-googlecloud {
    width: 45px;
    height: 36px;
    background-position: -444px -242px;
}

.prog-graphql {
    width: 88px;
    height: 28px;
    background-position: 0 -278px;
}

.prog-grid {
    width: 100px;
    height: 25px;
    background-position: -212px -278px;
}

.prog-gtmetrix {
    width: 110px;
    height: 33px;
    background-position: -312px -278px;
}

.prog-h5p {
    width: 60px;
    height: 43px;
    background-position: -489px -242px;
}

.prog-html5 {
    width: 154px;
    height: 34px;
    background-position: 0 -311px;
}

.prog-htmlemail {
    width: 69px;
    height: 25px;
    background-position: -88px -285px;
}

.prog-icons {
    width: 120px;
    height: 30px;
    background-position: -422px -285px;
}

.prog-immutable {
    width: 116px;
    height: 20px;
    background-position: -154px -315px;
}

.prog-jsnice {
    width: 67px;
    height: 27px;
    background-position: -270px -315px;
}

.prog-json {
    width: 99px;
    height: 31px;
    background-position: -337px -315px;
}

.prog-kurshtml {
    width: 120px;
    height: 28px;
    background-position: 0 -346px;
}

.prog-kurshtmlcss {
    width: 154px;
    height: 25px;
    background-position: -120px -346px;
}

.prog-lawsofux {
    width: 36px;
    height: 36px;
    background-position: -436px -315px;
}

.prog-leetcode {
    width: 110px;
    height: 27px;
    background-position: -274px -351px;
}

.prog-linkedin {
    width: 30px;
    height: 30px;
    background-position: -157px -285px;
}

.prog-loader {
    width: 40px;
    height: 40px;
    background-position: -472px -315px;
}

.prog-localforage {
    width: 75px;
    height: 28px;
    background-position: -384px -355px;
}

.prog-markdown_preview {
    width: 34px;
    height: 45px;
    background-position: -512px -315px;
}

.prog-material {
    width: 120px;
    height: 28px;
    background-position: 0 -383px;
}

.prog-materialize {
    width: 50px;
    height: 28px;
    background-position: -459px -355px;
}

.prog-materialuicolors {
    width: 120px;
    height: 18px;
    background-position: -120px -383px;
}

.prog-matic {
    width: 118px;
    height: 26px;
    background-position: -240px -383px;
}

.prog-meyerweb {
    width: 35px;
    height: 36px;
    background-position: -509px -360px;
}

.prog-minifier {
    width: 50px;
    height: 27px;
    background-position: -358px -383px;
}

.prog-nafrontendzie {
    width: 125px;
    height: 22px;
    background-position: -408px -396px;
}

.prog-netlify {
    width: 38px;
    height: 38px;
    background-position: 0 -418px;
}

.prog-normalize {
    width: 36px;
    height: 36px;
    background-position: -38px -418px;
}

.prog-npm {
    width: 108px;
    height: 49px;
    background-position: -74px -418px;
}

.prog-obfuscator {
    width: 120px;
    height: 21px;
    background-position: -182px -418px;
}

.prog-obfuscator2 {
    width: 120px;
    height: 35px;
    background-position: -302px -418px;
}

.prog-obliczeniowo {
    width: 127px;
    height: 32px;
    background-position: -422px -418px;
}

.prog-ocks {
    width: 35px;
    height: 87px;
    background-position: -182px -450px;
}

.prog-outliner {
    width: 110px;
    height: 31px;
    background-position: -422px -450px;
}

.prog-pagespeed {
    width: 75px;
    height: 22px;
    background-position: -217px -450px;
}

.prog-pagespeed2 {
    width: 161px;
    height: 22px;
    background-position: 0 -481px;
}

.prog-paletton {
    width: 120px;
    height: 27px;
    background-position: -217px -481px;
}

.prog-paperjs {
    width: 69px;
    height: 25px;
    background-position: -337px -481px;
}

.prog-parcel {
    width: 102px;
    height: 28px;
    background-position: -406px -481px;
}

.prog-paths {
    width: 73px;
    height: 25px;
    background-position: 0 -509px;
}

.prog-pinterest {
    width: 35px;
    height: 87px;
    background-position: -548px 0;
}

.prog-pixijs {
    width: 80px;
    height: 27px;
    background-position: -73px -509px;
}

.prog-popmotion {
    width: 110px;
    height: 23px;
    background-position: -217px -509px;
}

.prog-pose {
    width: 80px;
    height: 28px;
    background-position: -327px -509px;
}

.prog-primefaces {
    width: 43px;
    height: 46px;
    background-position: -538px -112px;
}

.prog-puppeteer {
    width: 110px;
    height: 25px;
    background-position: -407px -509px;
}

.prog-ranking {
    width: 100px;
    height: 22px;
    background-position: -217px -534px;
}

.prog-reacthooks {
    width: 88px;
    height: 24px;
    background-position: -407px -534px;
}

.prog-reactjs {
    width: 120px;
    height: 39px;
    background-position: 0 -558px;
}

.prog-reactnative {
    width: 75px;
    height: 36px;
    background-position: -495px -534px;
}

.prog-reset {
    width: 36px;
    height: 36px;
    background-position: -535px -158px;
}

.prog-rockstar {
    width: 110px;
    height: 20px;
    background-position: -120px -558px;
}

.prog-sandbox {
    width: 42px;
    height: 46px;
    background-position: -535px -194px;
}

.prog-sass {
    width: 36px;
    height: 36px;
    background-position: -549px -240px;
}

.prog-serverless {
    width: 146px;
    height: 28px;
    background-position: -230px -558px;
}

.prog-slides {
    width: 41px;
    height: 40px;
    background-position: -544px -360px;
}

.prog-sortable {
    width: 45px;
    height: 47px;
    background-position: -532px -450px;
}

.prog-special {
    width: 100px;
    height: 23px;
    background-position: -376px -558px;
}

.prog-sprite {
    width: 74px;
    height: 26px;
    background-position: -476px -570px;
}

.prog-sprites {
    width: 90px;
    height: 25px;
    background-position: -120px -596px;
}

.prog-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -549px -276px;
}

.prog-svg {
    width: 75px;
    height: 34px;
    background-position: -210px -596px;
}

.prog-svg-js {
    width: 41px;
    height: 41px;
    background-position: -285px -596px;
}

.prog-svgsilh {
    width: 120px;
    height: 25px;
    background-position: -326px -596px;
}

.prog-textfancy {
    width: 124px;
    height: 31px;
    background-position: -446px -596px;
}

.prog-textshadow {
    width: 120px;
    height: 25px;
    background-position: -583px 0;
}

.prog-threejs {
    width: 66px;
    height: 22px;
    background-position: -583px -25px;
}

.prog-tinypng {
    width: 120px;
    height: 38px;
    background-position: -583px -47px;
}

.prog-tumblr {
    width: 30px;
    height: 30px;
    background-position: -583px -85px;
}

.prog-twitter {
    width: 30px;
    height: 30px;
    background-position: -613px -85px;
}

.prog-unminify {
    width: 120px;
    height: 22px;
    background-position: -581px -115px;
}

.prog-vscode {
    width: 45px;
    height: 46px;
    background-position: -581px -137px;
}

.prog-vuejs {
    width: 50px;
    height: 45px;
    background-position: -626px -137px;
}

.prog-w3schools {
    width: 130px;
    height: 16px;
    background-position: -546px -306px;
}

.prog-wroc {
    width: 44px;
    height: 43px;
    background-position: -626px -182px;
}

.prog-xenko {
    width: 110px;
    height: 22px;
    background-position: -585px -225px;
}

.prog-yarn {
    width: 46px;
    height: 46px;
    background-position: -585px -247px;
}


/* #endregion */