/* ------------------zwykłe ikony----------------------- */


/* #region [ rgba( 0, 0, 200, 0.05 ) ] --->  */

.base {
    background-image: url(../img/base.png);
    background-repeat: no-repeat;
    display: block;
}

.base-10minutemail {
    width: 100px;
    height: 12px;
    background-position: 0 0;
}

.base-after-me {
    width: 110px;
    height: 28px;
    background-position: -100px 0;
}

.base-ahrefs {
    width: 76px;
    height: 23px;
    background-position: -210px 0;
}

.base-airpl {
    width: 38px;
    height: 37px;
    background-position: -286px 0;
}

.base-allegro {
    width: 102px;
    height: 42px;
    background-position: -324px 0;
}

.base-amazon {
    width: 95px;
    height: 27px;
    background-position: -426px 0;
}

.base-amway {
    width: 82px;
    height: 34px;
    background-position: -521px 0;
}

.base-animatedknots {
    width: 61px;
    height: 30px;
    background-position: -603px 0;
}

.base-antyweb {
    width: 52px;
    height: 45px;
    background-position: -664px 0;
}

.base-aps {
    width: 75px;
    height: 21px;
    background-position: 0 -45px;
}

.base-artstation {
    width: 128px;
    height: 28px;
    background-position: -75px -45px;
}

.base-asciicker {
    width: 64px;
    height: 47px;
    background-position: -203px -45px;
}

.base-ask {
    width: 55px;
    height: 40px;
    background-position: -267px -45px;
}

.base-astronew {
    width: 89px;
    height: 29px;
    background-position: -322px -45px;
}

.base-atari {
    width: 105px;
    height: 33px;
    background-position: -411px -45px;
}

.base-bankier {
    width: 64px;
    height: 41px;
    background-position: -516px -45px;
}

.base-bedeker {
    width: 42px;
    height: 35px;
    background-position: -716px 0;
}

.base-bibcyf {
    width: 41px;
    height: 48px;
    background-position: -580px -35px;
}

.base-blackhole {
    width: 32px;
    height: 32px;
    background-position: -621px -35px;
}

.base-blender {
    width: 44px;
    height: 58px;
    background-position: -716px -35px;
}

.base-blenderguru {
    width: 108px;
    height: 27px;
    background-position: 0 -93px;
}

.base-bloginews {
    width: 95px;
    height: 44px;
    background-position: -108px -93px;
}

.base-c64portal {
    width: 146px;
    height: 27px;
    background-position: -203px -93px;
}

.base-c64sets {
    width: 42px;
    height: 34px;
    background-position: -349px -93px;
}

.base-calendar {
    width: 100px;
    height: 31px;
    background-position: -391px -93px;
}

.base-cams {
    width: 70px;
    height: 33px;
    background-position: -491px -93px;
}

.base-cda {
    width: 86px;
    height: 26px;
    background-position: -561px -93px;
}

.base-ceidg {
    width: 104px;
    height: 27px;
    background-position: -647px -93px;
}

.base-ciekawostkihist {
    width: 85px;
    height: 33px;
    background-position: 0 -120px;
}

.base-colossal {
    width: 123px;
    height: 25px;
    background-position: -203px -120px;
}

.base-commodore {
    width: 100px;
    height: 32px;
    background-position: -561px -120px;
}

.base-commodore_c64_books {
    width: 130px;
    height: 22px;
    background-position: -85px -152px;
}

.base-convert {
    width: 143px;
    height: 29px;
    background-position: -215px -152px;
}

.base-conwerter {
    width: 50px;
    height: 21px;
    background-position: -661px -120px;
}

.base-coub {
    width: 43px;
    height: 43px;
    background-position: -711px -120px;
}

.base-cqcounter {
    width: 89px;
    height: 30px;
    background-position: -358px -163px;
}

.base-crazynauka {
    width: 160px;
    height: 20px;
    background-position: -447px -152px;
}

.base-dailymail {
    width: 110px;
    height: 41px;
    background-position: -607px -163px;
}

.base-darmprog {
    width: 202px;
    height: 24px;
    background-position: 0 -204px;
}

.base-dawnygdansk {
    width: 110px;
    height: 17px;
    background-position: -202px -204px;
}

.base-delta {
    width: 80px;
    height: 33px;
    background-position: 0 -163px;
}

.base-demagog {
    width: 132px;
    height: 23px;
    background-position: -312px -204px;
}

.base-droidcon {
    width: 120px;
    height: 26px;
    background-position: -444px -204px;
}

.base-duo {
    width: 36px;
    height: 36px;
    background-position: -717px -163px;
}

.base-ebuy {
    width: 90px;
    height: 40px;
    background-position: -564px -204px;
}

.base-ecudo {
    width: 105px;
    height: 47px;
    background-position: -654px -204px;
}

.base-eioba {
    width: 74px;
    height: 26px;
    background-position: 0 -251px;
}

.base-elektroda {
    width: 110px;
    height: 20px;
    background-position: -74px -251px;
}

.base-elektroonline {
    width: 160px;
    height: 24px;
    background-position: -184px -244px;
}

.base-elportal {
    width: 160px;
    height: 20px;
    background-position: -344px -244px;
}

.base-epuap2 {
    width: 145px;
    height: 27px;
    background-position: -504px -244px;
}

.base-euvsdisinfo {
    width: 61px;
    height: 36px;
    background-position: -653px -45px;
}

.base-exbl {
    width: 160px;
    height: 21px;
    background-position: -74px -271px;
}

.base-facebook {
    width: 103px;
    height: 35px;
    background-position: -649px -251px;
}

.base-fake {
    width: 68px;
    height: 32px;
    background-position: 0 -286px;
}

.base-fakty {
    width: 107px;
    height: 27px;
    background-position: -234px -286px;
}

.base-filmon {
    width: 123px;
    height: 31px;
    background-position: -341px -271px;
}

.base-finviz {
    width: 37px;
    height: 44px;
    background-position: -464px -286px;
}

.base-forbot {
    width: 110px;
    height: 17px;
    background-position: -501px -286px;
}

.base-forsa {
    width: 102px;
    height: 30px;
    background-position: -611px -286px;
}

.base-fosshub {
    width: 97px;
    height: 20px;
    background-position: -68px -316px;
}

.base-fotogdansk {
    width: 30px;
    height: 35px;
    background-position: -713px -286px;
}

.base-freemusicarchive {
    width: 51px;
    height: 25px;
    background-position: 0 -321px;
}

.base-freesound {
    width: 110px;
    height: 31px;
    background-position: -165px -321px;
}

.base-gameplay {
    width: 130px;
    height: 23px;
    background-position: -275px -321px;
}

.base-gb64b {
    width: 147px;
    height: 21px;
    background-position: -501px -321px;
}

.base-geargenerator {
    width: 85px;
    height: 30px;
    background-position: -648px -321px;
}

.base-geekaresexy {
    width: 124px;
    height: 38px;
    background-position: -405px -342px;
}

.base-geooo {
    width: 46px;
    height: 46px;
    background-position: 0 -351px;
}

.base-getionary {
    width: 40px;
    height: 40px;
    background-position: -46px -351px;
}

.base-gnew {
    width: 97px;
    height: 50px;
    background-position: -275px -351px;
}

.base-gnom {
    width: 100px;
    height: 27px;
    background-position: -529px -351px;
}

.base-goodhomedesign {
    width: 110px;
    height: 44px;
    background-position: -629px -351px;
}

.base-google {
    width: 128px;
    height: 54px;
    background-position: -46px -395px;
}

.base-grypl {
    width: 107px;
    height: 47px;
    background-position: -372px -395px;
}

.base-haloradio {
    width: 95px;
    height: 39px;
    background-position: -174px -395px;
}

.base-hevensabo {
    width: 78px;
    height: 30px;
    background-position: -86px -351px;
}

.base-history {
    width: 146px;
    height: 21px;
    background-position: -479px -395px;
}

.base-inhabit {
    width: 100px;
    height: 32px;
    background-position: -625px -395px;
}

.base-inkscape {
    width: 44px;
    height: 44px;
    background-position: 0 -427px;
}

.base-instalki {
    width: 105px;
    height: 32px;
    background-position: -479px -427px;
}

.base-jakdojade {
    width: 97px;
    height: 22px;
    background-position: -269px -427px;
}

.base-jayisgames {
    width: 150px;
    height: 36px;
    background-position: -584px -427px;
}

.base-jpg2png {
    width: 45px;
    height: 35px;
    background-position: -44px -463px;
}

.base-justgeek {
    width: 140px;
    height: 35px;
    background-position: -89px -463px;
}

.base-kalbi {
    width: 40px;
    height: 41px;
    background-position: -229px -463px;
}

.base-komputerswiat {
    width: 95px;
    height: 40px;
    background-position: -269px -463px;
}

.base-kopalniawiedzy {
    width: 86px;
    height: 39px;
    background-position: -364px -463px;
}

.base-kosmonauta {
    width: 144px;
    height: 24px;
    background-position: -450px -463px;
}

.base-kostka {
    width: 42px;
    height: 43px;
    background-position: -594px -463px;
}

.base-krytykapolityczna {
    width: 230px;
    height: 23px;
    background-position: 0 -506px;
}

.base-kurnik {
    width: 120px;
    height: 11px;
    background-position: 0 -81px;
}

.base-linkedin {
    width: 38px;
    height: 38px;
    background-position: -636px -463px;
}

.base-madeon {
    width: 110px;
    height: 26px;
    background-position: -450px -501px;
}

.base-make {
    width: 84px;
    height: 32px;
    background-position: -674px -463px;
}

.base-malawielkafirma {
    width: 80px;
    height: 38px;
    background-position: -674px -495px;
}

.base-mapa {
    width: 42px;
    height: 22px;
    background-position: -725px -395px;
}

.base-mapa_turystyczna {
    width: 89px;
    height: 30px;
    background-position: 0 -533px;
}

.base-mapbox {
    width: 142px;
    height: 34px;
    background-position: -89px -533px;
}

.base-math {
    width: 118px;
    height: 24px;
    background-position: -231px -533px;
}

.base-millennium {
    width: 157px;
    height: 36px;
    background-position: -349px -533px;
}

.base-mojemiasto {
    width: 90px;
    height: 46px;
    background-position: -506px -533px;
}

.base-ms {
    width: 120px;
    height: 32px;
    background-position: -596px -533px;
}

.base-mtechnik {
    width: 105px;
    height: 28px;
    background-position: -231px -565px;
}

.base-myminifactory {
    width: 85px;
    height: 33px;
    background-position: 0 -565px;
}

.base-mynoise {
    width: 190px;
    height: 20px;
    background-position: -336px -579px;
}

.base-nask {
    width: 96px;
    height: 18px;
    background-position: -596px -565px;
}

.base-naszgdansk {
    width: 36px;
    height: 46px;
    background-position: -716px -533px;
}

.base-natemat {
    width: 133px;
    height: 24px;
    background-position: -85px -583px;
}

.base-naukaoklimacie {
    width: 115px;
    height: 17px;
    background-position: -526px -583px;
}

.base-netoog {
    width: 77px;
    height: 39px;
    background-position: -641px -583px;
}

.base-newyorktimes {
    width: 230px;
    height: 32px;
    background-position: 0 -622px;
}

.base-ninateka_logo {
    width: 190px;
    height: 41px;
    background-position: -230px -622px;
}

.base-noizz {
    width: 87px;
    height: 28px;
    background-position: -420px -622px;
}

.base-nosil {
    width: 83px;
    height: 29px;
    background-position: -507px -622px;
}

.base-obiektywizm {
    width: 133px;
    height: 24px;
    background-position: -590px -622px;
}

.base-ohmydev {
    width: 105px;
    height: 17px;
    background-position: -590px -646px;
}

.base-okopress {
    width: 50px;
    height: 60px;
    background-position: -695px -646px;
}

.base-oldversion {
    width: 110px;
    height: 15px;
    background-position: 0 -30px;
}

.base-onet {
    width: 92px;
    height: 34px;
    background-position: 0 -663px;
}

.base-onetimesecret {
    width: 45px;
    height: 45px;
    background-position: 0 -706px;
}

.base-osm {
    width: 140px;
    height: 21px;
    background-position: -45px -706px;
}

.base-otranscribe {
    width: 110px;
    height: 17px;
    background-position: -185px -706px;
}

.base-panel {
    width: 114px;
    height: 21px;
    background-position: -295px -706px;
}

.base-pap {
    width: 49px;
    height: 30px;
    background-position: -718px -579px;
}

.base-pazyl {
    width: 100px;
    height: 18px;
    background-position: -92px -663px;
}

.base-pi-hole {
    width: 44px;
    height: 63px;
    background-position: -760px 0;
}

.base-pimeyes {
    width: 110px;
    height: 34px;
    background-position: -409px -706px;
}

.base-pinterest {
    width: 111px;
    height: 35px;
    background-position: -519px -706px;
}

.base-playgl {
    width: 149px;
    height: 39px;
    background-position: -630px -706px;
}

.base-pocket {
    width: 105px;
    height: 25px;
    background-position: -45px -745px;
}

.base-podroznik {
    width: 110px;
    height: 23px;
    background-position: -150px -745px;
}

.base-poliblogi {
    width: 40px;
    height: 25px;
    background-position: -760px -63px;
}

.base-policjagda {
    width: 48px;
    height: 50px;
    background-position: -760px -88px;
}

.base-polityka {
    width: 131px;
    height: 36px;
    background-position: -260px -745px;
}

.base-polskifrontend {
    width: 130px;
    height: 41px;
    background-position: -391px -745px;
}

.base-press {
    width: 100px;
    height: 38px;
    background-position: -521px -745px;
}

.base-programy {
    width: 110px;
    height: 19px;
    background-position: -621px -745px;
}

.base-protonmail {
    width: 109px;
    height: 24px;
    background-position: -621px -764px;
}

.base-pulsbiznesu {
    width: 84px;
    height: 35px;
    background-position: -723px -609px;
}

.base-qwant {
    width: 38px;
    height: 40px;
    background-position: -754px -138px;
}

.base-racjonalista {
    width: 110px;
    height: 21px;
    background-position: -80px -178px;
}

.base-radio {
    width: 49px;
    height: 30px;
    background-position: -759px -178px;
}

.base-rainymood {
    width: 168px;
    height: 26px;
    background-position: 0 -788px;
}

.base-ranking24 {
    width: 110px;
    height: 26px;
    background-position: -447px -178px;
}

.base-raspberrypi {
    width: 36px;
    height: 44px;
    background-position: -759px -208px;
}

.base-retrogamer {
    width: 148px;
    height: 21px;
    background-position: -168px -788px;
}

.base-reverso {
    width: 40px;
    height: 40px;
    background-position: -752px -252px;
}

.base-rzygacz {
    width: 50px;
    height: 38px;
    background-position: -743px -292px;
}

.base-schemat {
    width: 25px;
    height: 18px;
    background-position: -358px -138px;
}

.base-scope {
    width: 88px;
    height: 27px;
    background-position: -316px -788px;
}

.base-sejmometr {
    width: 63px;
    height: 38px;
    background-position: -739px -330px;
}

.base-skiplagged {
    width: 90px;
    height: 20px;
    background-position: -404px -788px;
}

.base-sklepy24 {
    width: 120px;
    height: 32px;
    background-position: -494px -788px;
}

.base-sms4sats {
    width: 44px;
    height: 43px;
    background-position: -767px -368px;
}

.base-softwareok {
    width: 213px;
    height: 24px;
    background-position: -192px -663px;
}

.base-spacelabeu {
    width: 140px;
    height: 16px;
    background-position: -68px -292px;
}

.base-sprzedajemy {
    width: 100px;
    height: 22px;
    background-position: -164px -368px;
}

.base-staregrynet {
    width: 147px;
    height: 25px;
    background-position: -614px -788px;
}

.base-strongpasswordgenerator {
    width: 110px;
    height: 20px;
    background-position: -804px 0;
}

.base-supercook {
    width: 100px;
    height: 26px;
    background-position: -804px -20px;
}

.base-svg {
    width: 71px;
    height: 27px;
    background-position: -804px -46px;
}

.base-syntax {
    width: 52px;
    height: 45px;
    background-position: -808px -73px;
}

.base-tajemniceatari8 {
    width: 120px;
    height: 25px;
    background-position: -792px -138px;
}

.base-taxeon {
    width: 146px;
    height: 26px;
    background-position: -767px -411px;
}

.base-teatrtelewizji {
    width: 50px;
    height: 42px;
    background-position: -860px -73px;
}

.base-theguardian {
    width: 160px;
    height: 23px;
    background-position: -734px -437px;
}

.base-thenewyorker {
    width: 130px;
    height: 32px;
    background-position: -758px -460px;
}

.base-thewest {
    width: 149px;
    height: 35px;
    background-position: -758px -492px;
}

.base-thingiverse {
    width: 125px;
    height: 25px;
    background-position: -795px -208px;
}

.base-timeanddate {
    width: 45px;
    height: 25px;
    background-position: -875px -46px;
}

.base-tnyt_pol {
    width: 60px;
    height: 32px;
    background-position: -808px -163px;
}

.base-tokfm {
    width: 95px;
    height: 55px;
    background-position: -795px -233px;
}

.base-tp-link {
    width: 90px;
    height: 13px;
    background-position: -808px -118px;
}

.base-translator {
    width: 35px;
    height: 35px;
    background-position: -868px -163px;
}

.base-tvn {
    width: 38px;
    height: 38px;
    background-position: -793px -288px;
}

.base-tvpg {
    width: 171px;
    height: 37px;
    background-position: -745px -644px;
}

.base-twojahistoria {
    width: 125px;
    height: 33px;
    background-position: -754px -527px;
}

.base-urszula {
    width: 105px;
    height: 24px;
    background-position: -802px -326px;
}

.base-usdebt {
    width: 110px;
    height: 36px;
    background-position: -811px -350px;
}

.base-useme {
    width: 99px;
    height: 38px;
    background-position: -767px -560px;
}

.base-vectra {
    width: 120px;
    height: 25px;
    background-position: -405px -681px;
}

.base-veganbanda {
    width: 160px;
    height: 29px;
    background-position: -731px -745px;
}

.base-vimeo {
    width: 116px;
    height: 38px;
    background-position: -779px -681px;
}

.base-voice {
    width: 42px;
    height: 45px;
    background-position: -879px -527px;
}

.base-wei {
    width: 90px;
    height: 34px;
    background-position: -831px -288px;
}

.base-wiedzoholik {
    width: 67px;
    height: 44px;
    background-position: -807px -598px;
}

.base-wikimap {
    width: 127px;
    height: 28px;
    background-position: -761px -774px;
}

.base-windy {
    width: 38px;
    height: 38px;
    background-position: -874px -572px;
}

.base-wirtualneszlaki {
    width: 47px;
    height: 46px;
    background-position: -761px -802px;
}

.base-wp {
    width: 33px;
    height: 31px;
    background-position: -383px -131px;
}

.base-wtz {
    width: 140px;
    height: 18px;
    background-position: -416px -131px;
}

.base-wu {
    width: 64px;
    height: 40px;
    background-position: -808px -802px;
}

.base-yahoo {
    width: 110px;
    height: 28px;
    background-position: -914px 0;
}

.base-yandex {
    width: 94px;
    height: 27px;
    background-position: -920px -28px;
}

.base-yeggi {
    width: 62px;
    height: 24px;
    background-position: -920px -55px;
}

.base-yt {
    width: 109px;
    height: 46px;
    background-position: -910px -79px;
}

.base-zama {
    width: 40px;
    height: 40px;
    background-position: -912px -125px;
}

.base-zegaratomowy {
    width: 40px;
    height: 39px;
    background-position: -952px -125px;
}

.base-ziemianarozdrozu {
    width: 105px;
    height: 36px;
    background-position: -903px -165px;
}

.base-ztmg {
    width: 50px;
    height: 27px;
    background-position: -920px -201px;
}

.base-zufana {
    width: 230px;
    height: 18px;
    background-position: -779px -719px;
}

.base-zumi {
    width: 84px;
    height: 36px;
    background-position: -920px -228px;
}


/* #endregion */


/* ------------------programowanie----------------------- */


/* #region [ rgba( 255, 0, 0, 0.05 ) ] */

.prog {
    background-image: url(../img/prog.png);
    background-repeat: no-repeat;
    display: block;
}

.prog-W3 {
    width: 73px;
    height: 40px;
    background-position: 0 0;
}

.prog-adobe {
    width: 114px;
    height: 21px;
    background-position: -73px 0;
}

.prog-aftermarket {
    width: 160px;
    height: 27px;
    background-position: -187px 0;
}

.prog-ahrefs {
    width: 79px;
    height: 25px;
    background-position: -347px 0;
}

.prog-alicevision {
    width: 58px;
    height: 50px;
    background-position: -426px 0;
}

.prog-angular {
    width: 50px;
    height: 49px;
    background-position: -484px 0;
}

.prog-animacje {
    width: 103px;
    height: 27px;
    background-position: 0 -49px;
}

.prog-anime {
    width: 112px;
    height: 22px;
    background-position: -103px -49px;
}

.prog-animista {
    width: 117px;
    height: 31px;
    background-position: -215px -49px;
}

.prog-apollographql {
    width: 113px;
    height: 36px;
    background-position: -484px -49px;
}

.prog-asciigenerator {
    width: 110px;
    height: 45px;
    background-position: 0 -85px;
}

.prog-awesome {
    width: 45px;
    height: 45px;
    background-position: -534px 0;
}

.prog-babel {
    width: 66px;
    height: 32px;
    background-position: -332px -45px;
}

.prog-befonts {
    width: 105px;
    height: 36px;
    background-position: -110px -85px;
}

.prog-bezier {
    width: 125px;
    height: 18px;
    background-position: -215px -85px;
}

.prog-caniuse {
    width: 110px;
    height: 25px;
    background-position: -340px -85px;
}

.prog-canvas {
    width: 113px;
    height: 25px;
    background-position: -450px -85px;
}

.prog-codewars {
    width: 45px;
    height: 45px;
    background-position: -215px -110px;
}

.prog-colorbox {
    width: 120px;
    height: 31px;
    background-position: -260px -110px;
}

.prog-colorhunt {
    width: 120px;
    height: 30px;
    background-position: -380px -110px;
}

.prog-colors_picker {
    width: 120px;
    height: 34px;
    background-position: 0 -140px;
}

.prog-compresor {
    width: 93px;
    height: 27px;
    background-position: -500px -110px;
}

.prog-compressor {
    width: 90px;
    height: 22px;
    background-position: -120px -137px;
}

.prog-cursor {
    width: 72px;
    height: 18px;
    background-position: -500px -137px;
}

.prog-d3 {
    width: 36px;
    height: 34px;
    background-position: -210px -155px;
}

.prog-davinci17 {
    width: 214px;
    height: 22px;
    background-position: -246px -155px;
}

.prog-dbdiagram {
    width: 100px;
    height: 24px;
    background-position: -460px -155px;
}

.prog-docs-w3cub {
    width: 137px;
    height: 25px;
    background-position: 0 -179px;
}

.prog-dojotoolkit {
    width: 73px;
    height: 36px;
    background-position: -137px -179px;
}

.prog-draw {
    width: 40px;
    height: 40px;
    background-position: -560px -155px;
}

.prog-electronjs {
    width: 156px;
    height: 32px;
    background-position: -246px -177px;
}

.prog-estimator {
    width: 98px;
    height: 32px;
    background-position: -402px -179px;
}

.prog-ezgif {
    width: 120px;
    height: 23px;
    background-position: 0 -211px;
}

.prog-feathericons {
    width: 39px;
    height: 37px;
    background-position: -500px -195px;
}

.prog-figma {
    width: 40px;
    height: 57px;
    background-position: -539px -195px;
}

.prog-flaticon {
    width: 121px;
    height: 25px;
    background-position: -120px -232px;
}

.prog-flex {
    width: 100px;
    height: 25px;
    background-position: -241px -232px;
}

.prog-font-converter {
    width: 120px;
    height: 25px;
    background-position: -341px -232px;
}

.prog-fontsgoogle {
    width: 135px;
    height: 29px;
    background-position: -461px -252px;
}

.prog-getmdl {
    width: 41px;
    height: 41px;
    background-position: 0 -252px;
}

.prog-gigantic {
    width: 36px;
    height: 27px;
    background-position: -210px -195px;
}

.prog-github {
    width: 36px;
    height: 36px;
    background-position: -41px -252px;
}

.prog-gitlab {
    width: 41px;
    height: 40px;
    background-position: -77px -252px;
}

.prog-glyphicons {
    width: 135px;
    height: 19px;
    background-position: -118px -281px;
}

.prog-googlecloud {
    width: 45px;
    height: 36px;
    background-position: -253px -281px;
}

.prog-graphql {
    width: 88px;
    height: 28px;
    background-position: -298px -281px;
}

.prog-grid {
    width: 100px;
    height: 25px;
    background-position: -386px -281px;
}

.prog-gtmetrix {
    width: 110px;
    height: 33px;
    background-position: -486px -281px;
}

.prog-h5p {
    width: 60px;
    height: 43px;
    background-position: 0 -314px;
}

.prog-html5 {
    width: 154px;
    height: 34px;
    background-position: -60px -306px;
}

.prog-htmlemail {
    width: 69px;
    height: 25px;
    background-position: -298px -314px;
}

.prog-icomoon {
    width: 41px;
    height: 41px;
    background-position: -367px -314px;
}

.prog-icons {
    width: 120px;
    height: 30px;
    background-position: -408px -314px;
}

.prog-immutable {
    width: 116px;
    height: 20px;
    background-position: -60px -344px;
}

.prog-jsnice {
    width: 67px;
    height: 27px;
    background-position: -528px -314px;
}

.prog-json {
    width: 99px;
    height: 31px;
    background-position: -176px -344px;
}

.prog-knowledgehut {
    width: 135px;
    height: 61px;
    background-position: -408px -344px;
}

.prog-kurshtml {
    width: 120px;
    height: 28px;
    background-position: 0 -405px;
}

.prog-kurshtmlcss {
    width: 154px;
    height: 25px;
    background-position: -120px -405px;
}

.prog-lawsofux {
    width: 36px;
    height: 36px;
    background-position: -275px -341px;
}

.prog-leetcode {
    width: 110px;
    height: 27px;
    background-position: -274px -405px;
}

.prog-loader {
    width: 40px;
    height: 40px;
    background-position: -311px -341px;
}

.prog-localforage {
    width: 75px;
    height: 28px;
    background-position: -384px -405px;
}

.prog-markdown_preview {
    width: 34px;
    height: 45px;
    background-position: -543px -341px;
}

.prog-material {
    width: 120px;
    height: 28px;
    background-position: -459px -405px;
}

.prog-materialize {
    width: 50px;
    height: 28px;
    background-position: 0 -433px;
}

.prog-materialuicolors {
    width: 120px;
    height: 18px;
    background-position: -50px -433px;
}

.prog-matic {
    width: 118px;
    height: 26px;
    background-position: -170px -433px;
}

.prog-meyerweb {
    width: 35px;
    height: 36px;
    background-position: -288px -433px;
}

.prog-minifier {
    width: 50px;
    height: 27px;
    background-position: -323px -433px;
}

.prog-nafrontendzie {
    width: 125px;
    height: 22px;
    background-position: -373px -433px;
}

.prog-netlify {
    width: 38px;
    height: 38px;
    background-position: -498px -433px;
}

.prog-next {
    width: 118px;
    height: 60px;
    background-position: -50px -455px;
}

.prog-normalize {
    width: 36px;
    height: 36px;
    background-position: -536px -433px;
}

.prog-npm {
    width: 108px;
    height: 49px;
    background-position: -373px -455px;
}

.prog-obfuscator {
    width: 120px;
    height: 21px;
    background-position: -168px -469px;
}

.prog-obfuscator2 {
    width: 120px;
    height: 35px;
    background-position: -481px -471px;
}

.prog-obliczeniowo {
    width: 127px;
    height: 32px;
    background-position: -168px -504px;
}

.prog-ocks {
    width: 35px;
    height: 87px;
    background-position: 0 -506px;
}

.prog-outliner {
    width: 110px;
    height: 31px;
    background-position: -295px -506px;
}

.prog-pagespeed {
    width: 75px;
    height: 22px;
    background-position: -288px -469px;
}

.prog-pagespeed2 {
    width: 161px;
    height: 22px;
    background-position: -118px -257px;
}

.prog-paletton {
    width: 120px;
    height: 27px;
    background-position: -405px -506px;
}

.prog-paperjs {
    width: 69px;
    height: 25px;
    background-position: -525px -506px;
}

.prog-parcel {
    width: 102px;
    height: 28px;
    background-position: -35px -533px;
}

.prog-paths {
    width: 73px;
    height: 25px;
    background-position: -525px -531px;
}

.prog-phaser {
    width: 104px;
    height: 29px;
    background-position: -405px -533px;
}

.prog-pinterest {
    width: 35px;
    height: 87px;
    background-position: -597px 0;
}

.prog-pixijs {
    width: 80px;
    height: 27px;
    background-position: -137px -556px;
}

.prog-popmotion {
    width: 110px;
    height: 23px;
    background-position: -217px -556px;
}

.prog-pose {
    width: 80px;
    height: 28px;
    background-position: -509px -556px;
}

.prog-primefaces {
    width: 43px;
    height: 46px;
    background-position: -593px -87px;
}

.prog-puppeteer {
    width: 110px;
    height: 25px;
    background-position: -35px -584px;
}

.prog-ranking {
    width: 100px;
    height: 22px;
    background-position: -145px -584px;
}

.prog-reacthooks {
    width: 88px;
    height: 24px;
    background-position: -245px -584px;
}

.prog-reactjs {
    width: 120px;
    height: 39px;
    background-position: -333px -584px;
}

.prog-reactnative {
    width: 75px;
    height: 36px;
    background-position: -453px -584px;
}

.prog-reacttypa {
    width: 132px;
    height: 31px;
    background-position: 0 -620px;
}

.prog-reset {
    width: 36px;
    height: 36px;
    background-position: -600px -133px;
}

.prog-rockstar {
    width: 110px;
    height: 20px;
    background-position: -528px -584px;
}

.prog-sandbox {
    width: 42px;
    height: 46px;
    background-position: -579px -195px;
}

.prog-sass {
    width: 36px;
    height: 36px;
    background-position: -596px -241px;
}

.prog-serverless {
    width: 146px;
    height: 28px;
    background-position: -132px -620px;
}

.prog-slides {
    width: 41px;
    height: 40px;
    background-position: -596px -277px;
}

.prog-sortable {
    width: 45px;
    height: 47px;
    background-position: -577px -341px;
}

.prog-special {
    width: 100px;
    height: 23px;
    background-position: -528px -604px;
}

.prog-prog {
    width: 74px;
    height: 26px;
    background-position: -327px -556px;
}

.prog-progs {
    width: 90px;
    height: 25px;
    background-position: -278px -627px;
}

.prog-svg {
    width: 75px;
    height: 34px;
    background-position: -368px -627px;
}

.prog-svg-js {
    width: 41px;
    height: 41px;
    background-position: -579px -388px;
}

.prog-svgomg {
    width: 41px;
    height: 41px;
    background-position: -579px -429px;
}

.prog-svgsilh {
    width: 120px;
    height: 25px;
    background-position: -443px -627px;
}

.prog-swift {
    width: 45px;
    height: 45px;
    background-position: -563px -627px;
}

.prog-swr {
    width: 132px;
    height: 23px;
    background-position: -632px 0;
}

.prog-textfancy {
    width: 124px;
    height: 31px;
    background-position: -632px -23px;
}

.prog-textshadow {
    width: 120px;
    height: 25px;
    background-position: -632px -54px;
}

.prog-theme-ui {
    width: 102px;
    height: 23px;
    background-position: -73px -23px;
}

.prog-threejs {
    width: 66px;
    height: 22px;
    background-position: -398px -54px;
}

.prog-tinypng {
    width: 120px;
    height: 38px;
    background-position: -636px -79px;
}

.prog-unminify {
    width: 120px;
    height: 22px;
    background-position: -636px -117px;
}

.prog-vectorizer {
    width: 134px;
    height: 28px;
    background-position: -636px -139px;
}

.prog-vscode {
    width: 45px;
    height: 46px;
    background-position: -636px -167px;
}

.prog-vuejs {
    width: 50px;
    height: 45px;
    background-position: -681px -167px;
}

.prog-w3schools {
    width: 130px;
    height: 16px;
    background-position: -246px -212px;
}

.prog-workspace {
    width: 108px;
    height: 43px;
    background-position: -632px -213px;
}

.prog-wroc {
    width: 44px;
    height: 43px;
    background-position: -637px -256px;
}

.prog-xamarin {
    width: 106px;
    height: 25px;
    background-position: -637px -299px;
}

.prog-xenko {
    width: 110px;
    height: 22px;
    background-position: -622px -324px;
}

.prog-yarn {
    width: 46px;
    height: 46px;
    background-position: -622px -346px;
}

.prog-zoho-people {
    width: 180px;
    height: 33px;
    background-position: 0 -672px;
}

.prog-zoho-projects {
    width: 197px;
    height: 34px;
    background-position: -180px -672px;
}


/* #endregion */