/* ------------------zwykłe ikony----------------------- */


/* #region [ rgba( 0, 0, 200, 0.05 ) ] --->  */

.sprite2 {
    background-image: url(../img/base.png);
    background-repeat: no-repeat;
    display: block;
}

.base-10minutemail {
    width: 100px;
    height: 12px;
    background-position: 0 0;
}

.base-after-me {
    width: 110px;
    height: 28px;
    background-position: -100px 0;
}

.base-ahrefs {
    width: 76px;
    height: 23px;
    background-position: -210px 0;
}

.base-airpl {
    width: 38px;
    height: 37px;
    background-position: -286px 0;
}

.base-allegro {
    width: 102px;
    height: 42px;
    background-position: -324px 0;
}

.base-amazon {
    width: 95px;
    height: 27px;
    background-position: -426px 0;
}

.base-amway {
    width: 82px;
    height: 34px;
    background-position: -521px 0;
}

.base-animatedknots {
    width: 61px;
    height: 30px;
    background-position: -603px 0;
}

.base-antyweb {
    width: 52px;
    height: 45px;
    background-position: -664px 0;
}

.base-aps {
    width: 75px;
    height: 21px;
    background-position: 0 -45px;
}

.base-artstation {
    width: 128px;
    height: 28px;
    background-position: -75px -45px;
}

.base-asciicker {
    width: 64px;
    height: 47px;
    background-position: -203px -45px;
}

.base-ask {
    width: 55px;
    height: 40px;
    background-position: -267px -45px;
}

.base-astronew {
    width: 89px;
    height: 29px;
    background-position: -322px -45px;
}

.base-atari {
    width: 105px;
    height: 33px;
    background-position: -411px -45px;
}

.base-bankier {
    width: 64px;
    height: 41px;
    background-position: -516px -45px;
}

.base-bedeker {
    width: 42px;
    height: 35px;
    background-position: -716px 0;
}

.base-bibcyf {
    width: 41px;
    height: 48px;
    background-position: -580px -35px;
}

.base-blackhole {
    width: 32px;
    height: 32px;
    background-position: -621px -35px;
}

.base-blender {
    width: 44px;
    height: 58px;
    background-position: -716px -35px;
}

.base-blenderguru {
    width: 108px;
    height: 27px;
    background-position: 0 -93px;
}

.base-bloginews {
    width: 95px;
    height: 44px;
    background-position: -108px -93px;
}

.base-c64portal {
    width: 146px;
    height: 27px;
    background-position: -203px -93px;
}

.base-c64sets {
    width: 42px;
    height: 34px;
    background-position: -349px -93px;
}

.base-calendar {
    width: 100px;
    height: 31px;
    background-position: -391px -93px;
}

.base-cams {
    width: 70px;
    height: 33px;
    background-position: -491px -93px;
}

.base-cda {
    width: 86px;
    height: 26px;
    background-position: -561px -93px;
}

.base-ceidg {
    width: 104px;
    height: 27px;
    background-position: -647px -93px;
}

.base-ciekawostkihist {
    width: 85px;
    height: 33px;
    background-position: 0 -120px;
}

.base-colossal {
    width: 123px;
    height: 25px;
    background-position: -203px -120px;
}

.base-commodore {
    width: 100px;
    height: 32px;
    background-position: -561px -120px;
}

.base-commodore_c64_books {
    width: 130px;
    height: 22px;
    background-position: -85px -152px;
}

.base-convert {
    width: 143px;
    height: 29px;
    background-position: -215px -152px;
}

.base-conwerter {
    width: 50px;
    height: 21px;
    background-position: -653px -45px;
}

.base-coub {
    width: 43px;
    height: 43px;
    background-position: -661px -120px;
}

.base-cqcounter {
    width: 89px;
    height: 30px;
    background-position: -358px -163px;
}

.base-crazynauka {
    width: 160px;
    height: 20px;
    background-position: -447px -152px;
}

.base-dailymail {
    width: 110px;
    height: 41px;
    background-position: -607px -163px;
}

.base-darmprog {
    width: 202px;
    height: 24px;
    background-position: 0 -204px;
}

.base-dawnygdansk {
    width: 110px;
    height: 17px;
    background-position: -202px -204px;
}

.base-delta {
    width: 80px;
    height: 33px;
    background-position: 0 -163px;
}

.base-demagog {
    width: 132px;
    height: 23px;
    background-position: -312px -204px;
}

.base-duo {
    width: 36px;
    height: 36px;
    background-position: -704px -120px;
}

.base-ebuy {
    width: 90px;
    height: 40px;
    background-position: -444px -204px;
}

.base-ecudo {
    width: 105px;
    height: 47px;
    background-position: -534px -204px;
}

.base-eioba {
    width: 74px;
    height: 26px;
    background-position: 0 -66px;
}

.base-elektroda {
    width: 110px;
    height: 20px;
    background-position: -639px -204px;
}

.base-elektroonline {
    width: 160px;
    height: 24px;
    background-position: -447px -172px;
}

.base-elportal {
    width: 160px;
    height: 20px;
    background-position: 0 -251px;
}

.base-epuap2 {
    width: 145px;
    height: 27px;
    background-position: -160px -251px;
}

.base-euvsdisinfo {
    width: 61px;
    height: 36px;
    background-position: -639px -224px;
}

.base-exbl {
    width: 160px;
    height: 21px;
    background-position: -305px -251px;
}

.base-facebook {
    width: 103px;
    height: 35px;
    background-position: -465px -260px;
}

.base-fake {
    width: 68px;
    height: 32px;
    background-position: -568px -260px;
}

.base-fakty {
    width: 107px;
    height: 27px;
    background-position: -636px -260px;
}

.base-filmon {
    width: 123px;
    height: 31px;
    background-position: 0 -287px;
}

.base-finviz {
    width: 37px;
    height: 44px;
    background-position: -717px -156px;
}

.base-forbot {
    width: 110px;
    height: 17px;
    background-position: -202px -224px;
}

.base-forsa {
    width: 102px;
    height: 30px;
    background-position: -123px -287px;
}

.base-fosshub {
    width: 97px;
    height: 20px;
    background-position: -225px -287px;
}

.base-fotogdansk {
    width: 30px;
    height: 35px;
    background-position: -700px -224px;
}

.base-freemusicarchive {
    width: 51px;
    height: 25px;
    background-position: -322px -287px;
}

.base-freesound {
    width: 110px;
    height: 31px;
    background-position: -636px -287px;
}

.base-gameplay {
    width: 130px;
    height: 23px;
    background-position: 0 -318px;
}

.base-gb64b {
    width: 147px;
    height: 21px;
    background-position: -130px -318px;
}

.base-geargenerator {
    width: 85px;
    height: 30px;
    background-position: -277px -318px;
}

.base-geekaresexy {
    width: 124px;
    height: 38px;
    background-position: -362px -318px;
}

.base-geooo {
    width: 46px;
    height: 46px;
    background-position: -486px -318px;
}

.base-getionary {
    width: 40px;
    height: 40px;
    background-position: -532px -318px;
}

.base-github {
    width: 30px;
    height: 30px;
    background-position: -730px -224px;
}

.base-gmail {
    width: 30px;
    height: 30px;
    background-position: -373px -287px;
}

.base-gnew {
    width: 97px;
    height: 50px;
    background-position: -572px -318px;
}

.base-gnom {
    width: 100px;
    height: 27px;
    background-position: 0 -368px;
}

.base-goodhomedesign {
    width: 110px;
    height: 44px;
    background-position: -100px -368px;
}

.base-google {
    width: 128px;
    height: 54px;
    background-position: -210px -368px;
}

.base-grypl {
    width: 107px;
    height: 47px;
    background-position: -338px -368px;
}

.base-haloradio {
    width: 95px;
    height: 39px;
    background-position: -445px -368px;
}

.base-hevensabo {
    width: 78px;
    height: 30px;
    background-position: -669px -318px;
}

.base-history {
    width: 146px;
    height: 21px;
    background-position: -540px -368px;
}

.base-inhabit {
    width: 100px;
    height: 32px;
    background-position: -540px -389px;
}

.base-inkscape {
    width: 44px;
    height: 44px;
    background-position: -686px -348px;
}

.base-instalki {
    width: 105px;
    height: 32px;
    background-position: -640px -392px;
}

.base-jakdojade {
    width: 97px;
    height: 22px;
    background-position: 0 -424px;
}

.base-jayisgames {
    width: 150px;
    height: 36px;
    background-position: -338px -421px;
}

.base-jpg2png {
    width: 45px;
    height: 35px;
    background-position: -97px -424px;
}

.base-kalbi {
    width: 40px;
    height: 41px;
    background-position: -142px -424px;
}

.base-komputerswiat {
    width: 95px;
    height: 40px;
    background-position: -182px -424px;
}

.base-kopalniawiedzy {
    width: 86px;
    height: 39px;
    background-position: -488px -424px;
}

.base-kosmonauta {
    width: 144px;
    height: 24px;
    background-position: -574px -424px;
}

.base-kostka {
    width: 42px;
    height: 43px;
    background-position: -277px -424px;
}

.base-krytykapolityczna {
    width: 230px;
    height: 23px;
    background-position: -403px -295px;
}

.base-kurnik {
    width: 120px;
    height: 11px;
    background-position: -574px -448px;
}

.base-linkedin {
    width: 30px;
    height: 30px;
    background-position: -730px -348px;
}

.base-linkedin {
    width: 38px;
    height: 38px;
    background-position: -718px -424px;
}

.base-madeon {
    width: 110px;
    height: 26px;
    background-position: 0 -459px;
}

.base-make {
    width: 84px;
    height: 32px;
    background-position: -319px -459px;
}

.base-malawielkafirma {
    width: 80px;
    height: 38px;
    background-position: -403px -459px;
}

.base-mapa {
    width: 42px;
    height: 22px;
    background-position: -574px -462px;
}

.base-mapbox {
    width: 142px;
    height: 34px;
    background-position: -616px -462px;
}

.base-math {
    width: 118px;
    height: 24px;
    background-position: 0 -496px;
}

.base-millennium {
    width: 157px;
    height: 36px;
    background-position: -118px -496px;
}

.base-mojemiasto {
    width: 90px;
    height: 46px;
    background-position: -275px -496px;
}

.base-ms {
    width: 120px;
    height: 32px;
    background-position: -483px -496px;
}

.base-mtechnik {
    width: 105px;
    height: 28px;
    background-position: -603px -496px;
}

.base-myminifactory {
    width: 85px;
    height: 33px;
    background-position: 0 -524px;
}

.base-mynoise {
    width: 190px;
    height: 20px;
    background-position: 0 -348px;
}

.base-nask {
    width: 96px;
    height: 18px;
    background-position: -365px -524px;
}

.base-naszgdansk {
    width: 36px;
    height: 46px;
    background-position: -708px -496px;
}

.base-natemat {
    width: 133px;
    height: 24px;
    background-position: -85px -542px;
}

.base-naukaoklimacie {
    width: 115px;
    height: 17px;
    background-position: -218px -542px;
}

.base-netoog {
    width: 77px;
    height: 39px;
    background-position: -603px -524px;
}

.base-newyorktimes {
    width: 230px;
    height: 32px;
    background-position: -218px -563px;
}

.base-ninateka_logo {
    width: 190px;
    height: 41px;
    background-position: -448px -563px;
}

.base-noizz {
    width: 87px;
    height: 28px;
    background-position: -638px -563px;
}

.base-nosil {
    width: 83px;
    height: 29px;
    background-position: 0 -563px;
}

.base-obiektywizm {
    width: 133px;
    height: 24px;
    background-position: 0 -604px;
}

.base-okopress {
    width: 50px;
    height: 60px;
    background-position: -133px -591px;
}

.base-oldversion {
    width: 110px;
    height: 15px;
    background-position: 0 -30px;
}

.base-onet {
    width: 92px;
    height: 34px;
    background-position: -638px -591px;
}

.base-onetimesecret {
    width: 45px;
    height: 45px;
    background-position: -183px -625px;
}

.base-osm {
    width: 140px;
    height: 21px;
    background-position: -333px -542px;
}

.base-otranscribe {
    width: 110px;
    height: 17px;
    background-position: -473px -542px;
}

.base-panel {
    width: 114px;
    height: 21px;
    background-position: -228px -625px;
}

.base-pap {
    width: 49px;
    height: 30px;
    background-position: -342px -625px;
}

.base-pazyl {
    width: 100px;
    height: 18px;
    background-position: -391px -625px;
}

.base-pi-hole {
    width: 44px;
    height: 63px;
    background-position: -491px -625px;
}

.base-pimeyes {
    width: 110px;
    height: 34px;
    background-position: -535px -625px;
}

.base-pinterest {
    width: 111px;
    height: 35px;
    background-position: -645px -625px;
}

.base-playgl {
    width: 149px;
    height: 39px;
    background-position: 0 -659px;
}

.base-pocket {
    width: 105px;
    height: 25px;
    background-position: -228px -660px;
}

.base-podroznik {
    width: 110px;
    height: 23px;
    background-position: -333px -660px;
}

.base-poliblogi {
    width: 40px;
    height: 25px;
    background-position: -443px -660px;
}

.base-policjagda {
    width: 48px;
    height: 50px;
    background-position: -535px -660px;
}

.base-polityka {
    width: 131px;
    height: 36px;
    background-position: -583px -660px;
}

.base-polskifrontend {
    width: 130px;
    height: 41px;
    background-position: -149px -696px;
}

.base-press {
    width: 100px;
    height: 38px;
    background-position: -279px -696px;
}

.base-programy {
    width: 110px;
    height: 19px;
    background-position: -379px -696px;
}

.base-protonmail {
    width: 109px;
    height: 24px;
    background-position: -583px -696px;
}

.base-pulsbiznesu {
    width: 84px;
    height: 35px;
    background-position: 0 -720px;
}

.base-qwant {
    width: 38px;
    height: 40px;
    background-position: -714px -660px;
}

.base-racjonalista {
    width: 110px;
    height: 21px;
    background-position: -379px -720px;
}

.base-radio {
    width: 49px;
    height: 30px;
    background-position: -84px -700px;
}

.base-rainymood {
    width: 168px;
    height: 26px;
    background-position: -489px -720px;
}

.base-ranking24 {
    width: 110px;
    height: 26px;
    background-position: -758px 0;
}

.base-raspberrypi {
    width: 36px;
    height: 44px;
    background-position: -760px -26px;
}

.base-retrogamer {
    width: 148px;
    height: 21px;
    background-position: -680px -542px;
}

.base-reverso {
    width: 40px;
    height: 40px;
    background-position: -796px -26px;
}

.base-rzygacz {
    width: 50px;
    height: 38px;
    background-position: -796px -66px;
}

.base-schemat {
    width: 25px;
    height: 18px;
    background-position: -210px -26px;
}

.base-sejmometr {
    width: 63px;
    height: 38px;
    background-position: -751px -104px;
}

.base-skiplagged {
    width: 90px;
    height: 20px;
    background-position: -621px -70px;
}

.base-sklepy24 {
    width: 120px;
    height: 32px;
    background-position: -743px -254px;
}

.base-sms4sats {
    width: 44px;
    height: 43px;
    background-position: -814px -104px;
}

.base-softwareok {
    width: 213px;
    height: 24px;
    background-position: -657px -720px;
}

.base-spacelabeu {
    width: 140px;
    height: 16px;
    background-position: -190px -348px;
}

.base-sprzedajemy {
    width: 100px;
    height: 22px;
    background-position: -754px -147px;
}

.base-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -836px -26px;
}

.base-staregrynet {
    width: 147px;
    height: 25px;
    background-position: -84px -744px;
}

.base-strongpasswordgenerator {
    width: 110px;
    height: 20px;
    background-position: -754px -169px;
}

.base-supercook {
    width: 100px;
    height: 26px;
    background-position: -754px -189px;
}

.base-svg {
    width: 71px;
    height: 27px;
    background-position: -760px -215px;
}

.base-syntax {
    width: 52px;
    height: 45px;
    background-position: -747px -286px;
}

.base-tajemniceatari8 {
    width: 120px;
    height: 25px;
    background-position: -745px -378px;
}

.base-taxeon {
    width: 146px;
    height: 26px;
    background-position: -231px -744px;
}

.base-teatrtelewizji {
    width: 50px;
    height: 42px;
    background-position: -799px -286px;
}

.base-theguardian {
    width: 160px;
    height: 23px;
    background-position: -657px -744px;
}

.base-thenewyorker {
    width: 130px;
    height: 32px;
    background-position: -730px -563px;
}

.base-thewest {
    width: 149px;
    height: 35px;
    background-position: -868px 0;
}

.base-thingiverse {
    width: 125px;
    height: 25px;
    background-position: -866px -35px;
}

.base-timeanddate {
    width: 45px;
    height: 25px;
    background-position: -846px -60px;
}

.base-tnyt_pol {
    width: 60px;
    height: 32px;
    background-position: -891px -60px;
}

.base-tokfm {
    width: 95px;
    height: 55px;
    background-position: -858px -92px;
}

.base-tp-link {
    width: 90px;
    height: 13px;
    background-position: -854px -147px;
}

.base-translator {
    width: 35px;
    height: 35px;
    background-position: -953px -60px;
}

.base-tumblr {
    width: 30px;
    height: 30px;
    background-position: -988px -60px;
}

.base-tvn {
    width: 38px;
    height: 38px;
    background-position: -953px -95px;
}

.base-tvpg {
    width: 171px;
    height: 37px;
    background-position: -831px -215px;
}

.base-twitter {
    width: 30px;
    height: 30px;
    background-position: -358px -133px;
}

.base-twojahistoria {
    width: 125px;
    height: 33px;
    background-position: -864px -160px;
}

.base-urszula {
    width: 105px;
    height: 24px;
    background-position: -863px -252px;
}

.base-usdebt {
    width: 110px;
    height: 36px;
    background-position: -863px -276px;
}

.base-useme {
    width: 99px;
    height: 38px;
    background-position: -849px -312px;
}

.base-vectra {
    width: 120px;
    height: 25px;
    background-position: -760px -350px;
}

.base-veganbanda {
    width: 160px;
    height: 29px;
    background-position: -756px -403px;
}

.base-vimeo {
    width: 116px;
    height: 38px;
    background-position: -880px -350px;
}

.base-voice {
    width: 42px;
    height: 45px;
    background-position: -973px -252px;
}

.base-wei {
    width: 90px;
    height: 34px;
    background-position: -916px -388px;
}

.base-wiedzoholik {
    width: 67px;
    height: 44px;
    background-position: -916px -422px;
}

.base-wikimap {
    width: 127px;
    height: 28px;
    background-position: -756px -432px;
}

.base-windy {
    width: 38px;
    height: 38px;
    background-position: -973px -297px;
}

.base-wirtualneszlaki {
    width: 47px;
    height: 46px;
    background-position: -758px -466px;
}

.base-wp {
    width: 33px;
    height: 31px;
    background-position: -983px -422px;
}

.base-wtz {
    width: 140px;
    height: 18px;
    background-position: -388px -133px;
}

.base-wu {
    width: 64px;
    height: 40px;
    background-position: -805px -466px;
}

.base-yahoo {
    width: 110px;
    height: 28px;
    background-position: -110px -466px;
}

.base-yandex {
    width: 94px;
    height: 27px;
    background-position: -869px -466px;
}

.base-yt {
    width: 109px;
    height: 46px;
    background-position: -869px -493px;
}

.base-zama {
    width: 40px;
    height: 40px;
    background-position: -978px -466px;
}

.base-zegaratomowy {
    width: 40px;
    height: 39px;
    background-position: -828px -506px;
}

.base-ziemianarozdrozu {
    width: 105px;
    height: 36px;
    background-position: -868px -539px;
}

.base-ztmg {
    width: 50px;
    height: 27px;
    background-position: -953px -133px;
}

.base-zufana {
    width: 230px;
    height: 18px;
    background-position: -183px -595px;
}

.base-zumi {
    width: 84px;
    height: 36px;
    background-position: -860px -575px;
}


/* #endregion */


/* ------------------programowanie----------------------- */


/* #region [ rgba( 255, 0, 0, 0.05 ) ] */

.sprite {
    background-image: url(../img/prog.png);
    background-repeat: no-repeat;
    display: block;
}

.prog-W3 {
    width: 73px;
    height: 40px;
    background-position: 0 0;
}

.prog-adobe {
    width: 114px;
    height: 21px;
    background-position: -73px 0;
}

.prog-aftermarket {
    width: 160px;
    height: 27px;
    background-position: -187px 0;
}

.prog-alicevision {
    width: 58px;
    height: 50px;
    background-position: -347px 0;
}

.prog-angular {
    width: 50px;
    height: 49px;
    background-position: -405px 0;
}

.prog-animacje {
    width: 103px;
    height: 27px;
    background-position: -455px 0;
}

.prog-anime {
    width: 112px;
    height: 22px;
    background-position: -73px -27px;
}

.prog-animista {
    width: 117px;
    height: 31px;
    background-position: -185px -27px;
}

.prog-apollographql {
    width: 113px;
    height: 36px;
    background-position: -455px -27px;
}

.prog-asciigenerator {
    width: 110px;
    height: 45px;
    background-position: 0 -63px;
}

.prog-awesome {
    width: 45px;
    height: 45px;
    background-position: -110px -63px;
}

.prog-babel {
    width: 66px;
    height: 32px;
    background-position: -155px -63px;
}

.prog-befonts {
    width: 105px;
    height: 36px;
    background-position: -221px -63px;
}

.prog-bezier {
    width: 125px;
    height: 18px;
    background-position: -326px -63px;
}

.prog-caniuse {
    width: 110px;
    height: 25px;
    background-position: -451px -63px;
}

.prog-canvas {
    width: 113px;
    height: 25px;
    background-position: -326px -88px;
}

.prog-codewars {
    width: 45px;
    height: 45px;
    background-position: -439px -88px;
}

.prog-colorbox {
    width: 120px;
    height: 31px;
    background-position: 0 -133px;
}

.prog-colorhunt {
    width: 120px;
    height: 30px;
    background-position: -120px -133px;
}

.prog-colors_picker {
    width: 120px;
    height: 34px;
    background-position: -240px -133px;
}

.prog-compresor {
    width: 93px;
    height: 27px;
    background-position: -484px -88px;
}

.prog-compressor {
    width: 90px;
    height: 22px;
    background-position: -484px -115px;
}

.prog-cursor {
    width: 72px;
    height: 18px;
    background-position: 0 -115px;
}

.prog-d3 {
    width: 36px;
    height: 34px;
    background-position: -360px -115px;
}

.prog-davinci17 {
    width: 214px;
    height: 22px;
    background-position: -360px -149px;
}

.prog-dbdiagram {
    width: 100px;
    height: 24px;
    background-position: 0 -171px;
}

.prog-docs-w3cub {
    width: 137px;
    height: 25px;
    background-position: -100px -171px;
}

.prog-dojotoolkit {
    width: 73px;
    height: 36px;
    background-position: -237px -171px;
}

.prog-draw {
    width: 40px;
    height: 40px;
    background-position: -310px -171px;
}

.prog-electronjs {
    width: 156px;
    height: 32px;
    background-position: -350px -171px;
}

.prog-estimator {
    width: 98px;
    height: 32px;
    background-position: 0 -203px;
}

.prog-ezgif {
    width: 120px;
    height: 23px;
    background-position: -98px -203px;
}

.prog-feathericons {
    width: 39px;
    height: 37px;
    background-position: -506px -171px;
}

.prog-figma {
    width: 40px;
    height: 57px;
    background-position: -545px -171px;
}

.prog-flaticon {
    width: 121px;
    height: 25px;
    background-position: -350px -203px;
}

.prog-flex {
    width: 100px;
    height: 25px;
    background-position: -98px -228px;
}

.prog-font-converter {
    width: 120px;
    height: 25px;
    background-position: -198px -228px;
}

.prog-fontsgoogle {
    width: 135px;
    height: 29px;
    background-position: -318px -228px;
}

.prog-getmdl {
    width: 41px;
    height: 41px;
    background-position: -453px -228px;
}

.prog-github {
    width: 30px;
    height: 30px;
    background-position: -568px 0;
}

.prog-github {
    width: 36px;
    height: 36px;
    background-position: -494px -228px;
}

.prog-gitlab {
    width: 41px;
    height: 40px;
    background-position: -530px -228px;
}

.prog-glyphicons {
    width: 135px;
    height: 19px;
    background-position: 0 -268px;
}

.prog-gmail {
    width: 30px;
    height: 30px;
    background-position: -302px -30px;
}

.prog-googlecloud {
    width: 45px;
    height: 36px;
    background-position: -135px -268px;
}

.prog-graphql {
    width: 88px;
    height: 28px;
    background-position: -180px -268px;
}

.prog-grid {
    width: 100px;
    height: 25px;
    background-position: -268px -268px;
}

.prog-gtmetrix {
    width: 110px;
    height: 33px;
    background-position: -368px -269px;
}

.prog-h5p {
    width: 60px;
    height: 43px;
    background-position: -494px -268px;
}

.prog-html5 {
    width: 154px;
    height: 34px;
    background-position: 0 -311px;
}

.prog-htmlemail {
    width: 69px;
    height: 25px;
    background-position: -154px -311px;
}

.prog-icomoon {
    width: 41px;
    height: 41px;
    background-position: -554px -268px;
}

.prog-icons {
    width: 120px;
    height: 30px;
    background-position: -223px -309px;
}

.prog-immutable {
    width: 116px;
    height: 20px;
    background-position: -343px -309px;
}

.prog-jsnice {
    width: 67px;
    height: 27px;
    background-position: -459px -311px;
}

.prog-json {
    width: 99px;
    height: 31px;
    background-position: -343px -338px;
}

.prog-knowledgehut {
    width: 135px;
    height: 61px;
    background-position: -442px -338px;
}

.prog-kurshtml {
    width: 120px;
    height: 28px;
    background-position: 0 -399px;
}

.prog-kurshtmlcss {
    width: 154px;
    height: 25px;
    background-position: -120px -399px;
}

.prog-lawsofux {
    width: 36px;
    height: 36px;
    background-position: -274px -399px;
}

.prog-leetcode {
    width: 110px;
    height: 27px;
    background-position: -310px -399px;
}

.prog-linkedin {
    width: 30px;
    height: 30px;
    background-position: -568px -30px;
}

.prog-loader {
    width: 40px;
    height: 40px;
    background-position: -420px -399px;
}

.prog-localforage {
    width: 75px;
    height: 28px;
    background-position: -460px -399px;
}

.prog-markdown_preview {
    width: 34px;
    height: 45px;
    background-position: -535px -399px;
}

.prog-material {
    width: 120px;
    height: 28px;
    background-position: 0 -444px;
}

.prog-materialize {
    width: 50px;
    height: 28px;
    background-position: -120px -444px;
}

.prog-materialuicolors {
    width: 120px;
    height: 18px;
    background-position: -170px -444px;
}

.prog-matic {
    width: 118px;
    height: 26px;
    background-position: -290px -444px;
}

.prog-meyerweb {
    width: 35px;
    height: 36px;
    background-position: -408px -444px;
}

.prog-minifier {
    width: 50px;
    height: 27px;
    background-position: -526px -311px;
}

.prog-nafrontendzie {
    width: 125px;
    height: 22px;
    background-position: -443px -444px;
}

.prog-netlify {
    width: 38px;
    height: 38px;
    background-position: -170px -466px;
}

.prog-next {
    width: 118px;
    height: 60px;
    background-position: -443px -466px;
}

.prog-normalize {
    width: 36px;
    height: 36px;
    background-position: -208px -466px;
}

.prog-npm {
    width: 108px;
    height: 49px;
    background-position: 0 -526px;
}

.prog-obfuscator {
    width: 120px;
    height: 21px;
    background-position: -108px -526px;
}

.prog-obfuscator2 {
    width: 120px;
    height: 35px;
    background-position: -228px -526px;
}

.prog-obliczeniowo {
    width: 127px;
    height: 32px;
    background-position: -348px -526px;
}

.prog-ocks {
    width: 35px;
    height: 87px;
    background-position: -561px -466px;
}

.prog-outliner {
    width: 110px;
    height: 31px;
    background-position: -108px -553px;
}

.prog-pagespeed {
    width: 75px;
    height: 22px;
    background-position: -475px -526px;
}

.prog-pagespeed2 {
    width: 161px;
    height: 22px;
    background-position: 0 -369px;
}

.prog-paletton {
    width: 120px;
    height: 27px;
    background-position: -475px -553px;
}

.prog-paperjs {
    width: 69px;
    height: 25px;
    background-position: -154px -338px;
}

.prog-parcel {
    width: 102px;
    height: 28px;
    background-position: -598px 0;
}

.prog-paths {
    width: 73px;
    height: 25px;
    background-position: -598px -28px;
}

.prog-phaser {
    width: 104px;
    height: 29px;
    background-position: -598px -53px;
}

.prog-pinterest {
    width: 35px;
    height: 87px;
    background-position: -577px -82px;
}

.prog-pixijs {
    width: 80px;
    height: 27px;
    background-position: -612px -82px;
}

.prog-popmotion {
    width: 110px;
    height: 23px;
    background-position: -72px -109px;
}

.prog-pose {
    width: 80px;
    height: 28px;
    background-position: -612px -109px;
}

.prog-primefaces {
    width: 43px;
    height: 46px;
    background-position: -612px -137px;
}

.prog-puppeteer {
    width: 110px;
    height: 25px;
    background-position: -585px -183px;
}

.prog-ranking {
    width: 100px;
    height: 22px;
    background-position: -182px -109px;
}

.prog-reacthooks {
    width: 88px;
    height: 24px;
    background-position: -585px -208px;
}

.prog-reactjs {
    width: 120px;
    height: 39px;
    background-position: -577px -309px;
}

.prog-reactnative {
    width: 75px;
    height: 36px;
    background-position: -571px -232px;
}

.prog-reacttypa {
    width: 132px;
    height: 31px;
    background-position: -569px -399px;
}

.prog-reset {
    width: 36px;
    height: 36px;
    background-position: -655px -137px;
}

.prog-rockstar {
    width: 110px;
    height: 20px;
    background-position: 0 -348px;
}

.prog-sandbox {
    width: 42px;
    height: 46px;
    background-position: -646px -232px;
}

.prog-sass {
    width: 36px;
    height: 36px;
    background-position: -223px -348px;
}

.prog-serverless {
    width: 146px;
    height: 28px;
    background-position: -218px -580px;
}

.prog-slides {
    width: 41px;
    height: 40px;
    background-position: -259px -348px;
}

.prog-sortable {
    width: 45px;
    height: 47px;
    background-position: -577px -348px;
}

.prog-special {
    width: 100px;
    height: 23px;
    background-position: -595px -278px;
}

.prog-sprite {
    width: 74px;
    height: 26px;
    background-position: -622px -348px;
}

.prog-sprites {
    width: 90px;
    height: 25px;
    background-position: -300px -374px;
}

.prog-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -569px -430px;
}

.prog-svg {
    width: 75px;
    height: 34px;
    background-position: -599px -430px;
}

.prog-svg-js {
    width: 41px;
    height: 41px;
    background-position: -244px -464px;
}

.prog-svgomg {
    width: 41px;
    height: 41px;
    background-position: -596px -464px;
}

.prog-svgsilh {
    width: 120px;
    height: 25px;
    background-position: -364px -580px;
}

.prog-swr {
    width: 132px;
    height: 23px;
    background-position: -484px -580px;
}

.prog-textfancy {
    width: 124px;
    height: 31px;
    background-position: -700px 0;
}

.prog-textshadow {
    width: 120px;
    height: 25px;
    background-position: -702px -31px;
}

.prog-theme-ui {
    width: 102px;
    height: 23px;
    background-position: -702px -56px;
}

.prog-threejs {
    width: 66px;
    height: 22px;
    background-position: -702px -79px;
}

.prog-tinypng {
    width: 120px;
    height: 38px;
    background-position: -692px -101px;
}

.prog-tumblr {
    width: 30px;
    height: 30px;
    background-position: -691px -139px;
}

.prog-twitter {
    width: 30px;
    height: 30px;
    background-position: -721px -139px;
}

.prog-unminify {
    width: 120px;
    height: 22px;
    background-position: -695px -169px;
}

.prog-vectorizer {
    width: 134px;
    height: 28px;
    background-position: -688px -208px;
}

.prog-vscode {
    width: 45px;
    height: 46px;
    background-position: -695px -236px;
}

.prog-vuejs {
    width: 50px;
    height: 45px;
    background-position: -740px -236px;
}

.prog-w3schools {
    width: 130px;
    height: 16px;
    background-position: -695px -191px;
}

.prog-workspace {
    width: 108px;
    height: 43px;
    background-position: -697px -282px;
}

.prog-wroc {
    width: 44px;
    height: 43px;
    background-position: -697px -325px;
}

.prog-xenko {
    width: 110px;
    height: 22px;
    background-position: -696px -368px;
}

.prog-yarn {
    width: 46px;
    height: 46px;
    background-position: -701px -390px;
}

.prog-zoho-people {
    width: 180px;
    height: 33px;
    background-position: -637px -464px;
}

.prog-zoho-projects {
    width: 197px;
    height: 34px;
    background-position: -596px -505px;
}


/* #endregion */