/* ------------------zwykłe ikony----------------------- */


/* #region [ rgba( 0, 0, 200, 0.05 ) ] --->  */

.base {
    background-image: url(./img/base.png);
    background-repeat: no-repeat;
    display: block;
}

.base-10minutemail {
    width: 100px;
    height: 12px;
    background-position: -1px -1px;
}

.base-AstroNET {
    width: 41px;
    height: 40px;
    background-position: -103px -1px;
}

.base-after-me {
    width: 110px;
    height: 28px;
    background-position: -146px -1px;
}

.base-ahrefs {
    width: 76px;
    height: 23px;
    background-position: -258px -1px;
}

.base-airpl {
    width: 38px;
    height: 37px;
    background-position: -336px -1px;
}

.base-allegro {
    width: 102px;
    height: 42px;
    background-position: -376px -1px;
}

.base-amazon {
    width: 95px;
    height: 27px;
    background-position: -480px -1px;
}

.base-amway {
    width: 82px;
    height: 34px;
    background-position: -577px -1px;
}

.base-animatedknots {
    width: 61px;
    height: 30px;
    background-position: -661px -1px;
}

.base-antyweb {
    width: 52px;
    height: 45px;
    background-position: -724px -1px;
}

.base-aps {
    width: 75px;
    height: 21px;
    background-position: -1px -48px;
}

.base-artstation {
    width: 128px;
    height: 28px;
    background-position: -78px -48px;
}

.base-asciicker {
    width: 64px;
    height: 47px;
    background-position: -208px -48px;
}

.base-ask {
    width: 55px;
    height: 40px;
    background-position: -274px -48px;
}

.base-astronew {
    width: 89px;
    height: 29px;
    background-position: -480px -33px;
}

.base-atari {
    width: 105px;
    height: 33px;
    background-position: -331px -48px;
}

.base-bankier {
    width: 64px;
    height: 41px;
    background-position: -571px -48px;
}

.base-bedeker {
    width: 42px;
    height: 35px;
    background-position: -637px -48px;
}

.base-bibcyf {
    width: 41px;
    height: 48px;
    background-position: -681px -48px;
}

.base-blackhole {
    width: 32px;
    height: 32px;
    background-position: -438px -48px;
}

.base-blender {
    width: 44px;
    height: 58px;
    background-position: -724px -48px;
}

.base-blenderguru {
    width: 108px;
    height: 27px;
    background-position: -1px -108px;
}

.base-bloginews {
    width: 95px;
    height: 44px;
    background-position: -111px -108px;
}

.base-c-64_scene {
    width: 125px;
    height: 25px;
    background-position: -208px -108px;
}

.base-c64portal {
    width: 146px;
    height: 27px;
    background-position: -335px -108px;
}

.base-c64sets {
    width: 42px;
    height: 34px;
    background-position: -483px -108px;
}

.base-calendar {
    width: 100px;
    height: 31px;
    background-position: -527px -108px;
}

.base-cams {
    width: 70px;
    height: 33px;
    background-position: -629px -108px;
}

.base-cda {
    width: 86px;
    height: 26px;
    background-position: -701px -108px;
}

.base-ceidg {
    width: 104px;
    height: 27px;
    background-position: -208px -136px;
}

.base-ciekawostkihist {
    width: 85px;
    height: 33px;
    background-position: -701px -136px;
}

.base-colossal {
    width: 123px;
    height: 25px;
    background-position: -1px -171px;
}

.base-commodore {
    width: 100px;
    height: 32px;
    background-position: -126px -171px;
}

.base-commodore_c64_books {
    width: 130px;
    height: 22px;
    background-position: -228px -171px;
}

.base-convert {
    width: 143px;
    height: 29px;
    background-position: -360px -171px;
}

.base-conwerter {
    width: 50px;
    height: 21px;
    background-position: -505px -171px;
}

.base-coub {
    width: 43px;
    height: 43px;
    background-position: -557px -171px;
}

.base-cqcounter {
    width: 89px;
    height: 30px;
    background-position: -602px -171px;
}

.base-crazynauka {
    width: 160px;
    height: 20px;
    background-position: -314px -143px;
}

.base-dailymail {
    width: 110px;
    height: 41px;
    background-position: -693px -171px;
}

.base-darmprog {
    width: 202px;
    height: 24px;
    background-position: -1px -214px;
}

.base-dawnygdansk {
    width: 110px;
    height: 17px;
    background-position: -205px -214px;
}

.base-delta {
    width: 80px;
    height: 33px;
    background-position: -317px -214px;
}

.base-demagog {
    width: 132px;
    height: 23px;
    background-position: -399px -203px;
}

.base-duo {
    width: 36px;
    height: 36px;
    background-position: -770px -48px;
}

.base-ebuy {
    width: 90px;
    height: 40px;
    background-position: -602px -214px;
}

.base-ecudo {
    width: 105px;
    height: 47px;
    background-position: -694px -214px;
}

.base-eioba {
    width: 74px;
    height: 26px;
    background-position: -1px -263px;
}

.base-elektroda {
    width: 110px;
    height: 20px;
    background-position: -77px -263px;
}

.base-elektroonline {
    width: 160px;
    height: 24px;
    background-position: -527px -143px;
}

.base-elportal {
    width: 160px;
    height: 20px;
    background-position: -1px -86px;
}

.base-epuap2 {
    width: 145px;
    height: 27px;
    background-position: -189px -256px;
}

.base-euvsdisinfo {
    width: 61px;
    height: 36px;
    background-position: -336px -263px;
}

.base-exbl {
    width: 160px;
    height: 21px;
    background-position: -399px -263px;
}

.base-facebook {
    width: 103px;
    height: 35px;
    background-position: -561px -263px;
}

.base-fake {
    width: 68px;
    height: 32px;
    background-position: -666px -263px;
}

.base-fakty {
    width: 107px;
    height: 27px;
    background-position: -1px -297px;
}

.base-filmon {
    width: 123px;
    height: 31px;
    background-position: -110px -297px;
}

.base-finviz {
    width: 37px;
    height: 44px;
    background-position: -736px -263px;
}

.base-forbot {
    width: 110px;
    height: 17px;
    background-position: -399px -297px;
}

.base-forsa {
    width: 102px;
    height: 30px;
    background-position: -235px -309px;
}

.base-fosshub {
    width: 97px;
    height: 20px;
    background-position: -331px -86px;
}

.base-fotogdansk {
    width: 30px;
    height: 35px;
    background-position: -778px -1px;
}

.base-freemusicarchive {
    width: 51px;
    height: 25px;
    background-position: -339px -309px;
}

.base-freesound {
    width: 110px;
    height: 31px;
    background-position: -511px -309px;
}

.base-gameplay {
    width: 130px;
    height: 23px;
    background-position: -623px -309px;
}

.base-gb64b {
    width: 147px;
    height: 21px;
    background-position: -1px -334px;
}

.base-geargenerator {
    width: 85px;
    height: 30px;
    background-position: -392px -334px;
}

.base-geekaresexy {
    width: 124px;
    height: 38px;
    background-position: -623px -334px;
}

.base-geooo {
    width: 46px;
    height: 46px;
    background-position: -755px -309px;
}

.base-getionary {
    width: 40px;
    height: 40px;
    background-position: -1px -357px;
}

.base-github {
    width: 30px;
    height: 30px;
    background-position: -775px -263px;
}

.base-gmail {
    width: 30px;
    height: 30px;
    background-position: -43px -357px;
}

.base-gnew {
    width: 97px;
    height: 50px;
    background-position: -75px -374px;
}

.base-gnom {
    width: 100px;
    height: 27px;
    background-position: -174px -374px;
}

.base-goodhomedesign {
    width: 110px;
    height: 44px;
    background-position: -276px -374px;
}

.base-google {
    width: 128px;
    height: 54px;
    background-position: -388px -374px;
}

.base-grypl {
    width: 107px;
    height: 47px;
    background-position: -518px -374px;
}

.base-guerrillamail {
    width: 207px;
    height: 26px;
    background-position: -174px -423px;
}

.base-haloradio {
    width: 95px;
    height: 39px;
    background-position: -627px -374px;
}

.base-hevensabo {
    width: 78px;
    height: 30px;
    background-position: -724px -374px;
}

.base-history {
    width: 146px;
    height: 21px;
    background-position: -627px -415px;
}

.base-inhabit {
    width: 100px;
    height: 32px;
    background-position: -1px -438px;
}

.base-inkscape {
    width: 44px;
    height: 44px;
    background-position: -103px -438px;
}

.base-instalki {
    width: 105px;
    height: 32px;
    background-position: -383px -438px;
}

.base-jakdojade {
    width: 97px;
    height: 22px;
    background-position: -490px -438px;
}

.base-jayisgames {
    width: 150px;
    height: 36px;
    background-position: -589px -438px;
}

.base-jpg2png {
    width: 45px;
    height: 35px;
    background-position: -741px -438px;
}

.base-justgeek {
    width: 140px;
    height: 35px;
    background-position: -149px -476px;
}

.base-kalbi {
    width: 40px;
    height: 41px;
    background-position: -1px -475px;
}

.base-komputerswiat {
    width: 95px;
    height: 40px;
    background-position: -291px -476px;
}

.base-kopalniawiedzy {
    width: 86px;
    height: 39px;
    background-position: -388px -476px;
}

.base-kosmonauta {
    width: 144px;
    height: 24px;
    background-position: -476px -476px;
}

.base-kostka {
    width: 42px;
    height: 43px;
    background-position: -43px -475px;
}

.base-krytykapolityczna {
    width: 230px;
    height: 23px;
    background-position: -476px -502px;
}

.base-kurnik {
    width: 120px;
    height: 11px;
    background-position: -622px -476px;
}

.base-kwarantanna {
    width: 60px;
    height: 38px;
    background-position: -744px -475px;
}

.base-linkedin {
    width: 30px;
    height: 30px;
    background-position: -1px -406px;
}

.base-linkedin {
    width: 38px;
    height: 38px;
    background-position: -87px -515px;
}

.base-madeon {
    width: 110px;
    height: 26px;
    background-position: -127px -527px;
}

.base-make {
    width: 84px;
    height: 32px;
    background-position: -708px -515px;
}

.base-malawielkafirma {
    width: 80px;
    height: 38px;
    background-position: -1px -549px;
}

.base-mapa {
    width: 42px;
    height: 22px;
    background-position: -239px -515px;
}

.base-mapa_turystyczna {
    width: 89px;
    height: 30px;
    background-position: -239px -549px;
}

.base-mapbox {
    width: 142px;
    height: 34px;
    background-position: -330px -527px;
}

.base-math {
    width: 118px;
    height: 24px;
    background-position: -474px -527px;
}

.base-metadata2go {
    width: 127px;
    height: 23px;
    background-position: -594px -549px;
}

.base-meteo {
    width: 74px;
    height: 24px;
    background-position: -723px -549px;
}

.base-meteo2 {
    width: 86px;
    height: 28px;
    background-position: -83px -574px;
}

.base-millennium {
    width: 157px;
    height: 36px;
    background-position: -330px -575px;
}

.base-mojemiasto {
    width: 90px;
    height: 46px;
    background-position: -489px -574px;
}

.base-ms {
    width: 120px;
    height: 32px;
    background-position: -581px -574px;
}

.base-mtechnik {
    width: 105px;
    height: 28px;
    background-position: -703px -575px;
}

.base-myabandonware {
    width: 150px;
    height: 46px;
    background-position: -1px -608px;
}

.base-myminifactory {
    width: 85px;
    height: 33px;
    background-position: -153px -605px;
}

.base-mynoise {
    width: 190px;
    height: 20px;
    background-position: -150px -342px;
}

.base-naszgdansk {
    width: 36px;
    height: 46px;
    background-position: -240px -605px;
}

.base-natemat {
    width: 133px;
    height: 24px;
    background-position: -581px -608px;
}

.base-naukaoklimacie {
    width: 115px;
    height: 17px;
    background-position: -278px -634px;
}

.base-netoog {
    width: 77px;
    height: 39px;
    background-position: -716px -605px;
}

.base-newyorktimes {
    width: 230px;
    height: 32px;
    background-position: -395px -634px;
}

.base-ninateka {
    width: 109px;
    height: 23px;
    background-position: -627px -646px;
}

.base-ninateka_logo {
    width: 190px;
    height: 41px;
    background-position: -1px -668px;
}

.base-noizz {
    width: 87px;
    height: 28px;
    background-position: -193px -671px;
}

.base-nosil {
    width: 83px;
    height: 29px;
    background-position: -282px -671px;
}

.base-obiektywizm {
    width: 133px;
    height: 24px;
    background-position: -367px -671px;
}

.base-odysee {
    width: 52px;
    height: 52px;
    background-position: -738px -646px;
}

.base-okopress {
    width: 50px;
    height: 60px;
    background-position: -367px -700px;
}

.base-oldversion {
    width: 110px;
    height: 15px;
    background-position: -594px -527px;
}

.base-onet {
    width: 92px;
    height: 34px;
    background-position: -502px -671px;
}

.base-onetimesecret {
    width: 45px;
    height: 45px;
    background-position: -419px -700px;
}

.base-osm {
    width: 140px;
    height: 21px;
    background-position: -596px -700px;
}

.base-otranscribe {
    width: 110px;
    height: 17px;
    background-position: -1px -723px;
}

.base-panel {
    width: 114px;
    height: 21px;
    background-position: -113px -723px;
}

.base-pap {
    width: 49px;
    height: 30px;
    background-position: -738px -700px;
}

.base-pazyl {
    width: 100px;
    height: 18px;
    background-position: -596px -671px;
}

.base-pi-hole {
    width: 44px;
    height: 63px;
    background-position: -229px -732px;
}

.base-pimeyes {
    width: 110px;
    height: 34px;
    background-position: -466px -723px;
}

.base-pinterest {
    width: 111px;
    height: 35px;
    background-position: -578px -723px;
}

.base-playgl {
    width: 149px;
    height: 39px;
    background-position: -1px -760px;
}

.base-pocket {
    width: 105px;
    height: 25px;
    background-position: -691px -732px;
}

.base-podroznik {
    width: 110px;
    height: 23px;
    background-position: -419px -759px;
}

.base-poliblogi {
    width: 40px;
    height: 25px;
    background-position: -33px -406px;
}

.base-policjagda {
    width: 48px;
    height: 50px;
    background-position: -810px -1px;
}

.base-polityka {
    width: 131px;
    height: 36px;
    background-position: -691px -759px;
}

.base-press {
    width: 100px;
    height: 38px;
    background-position: -152px -797px;
}

.base-programy {
    width: 110px;
    height: 19px;
    background-position: -254px -797px;
}

.base-protonmail {
    width: 109px;
    height: 24px;
    background-position: -366px -797px;
}

.base-pulsbiznesu {
    width: 84px;
    height: 35px;
    background-position: -275px -759px;
}

.base-qwant {
    width: 38px;
    height: 40px;
    background-position: -808px -53px;
}

.base-racjonalista {
    width: 110px;
    height: 21px;
    background-position: -477px -797px;
}

.base-radio {
    width: 49px;
    height: 30px;
    background-position: -789px -95px;
}

.base-rainymood {
    width: 168px;
    height: 26px;
    background-position: -589px -797px;
}

.base-ranking24 {
    width: 110px;
    height: 26px;
    background-position: -1px -825px;
}

.base-raspberrypi {
    width: 36px;
    height: 44px;
    background-position: -805px -127px;
}

.base-retrogamer {
    width: 148px;
    height: 21px;
    background-position: -254px -825px;
}

.base-reverso {
    width: 40px;
    height: 40px;
    background-position: -805px -173px;
}

.base-rzygacz {
    width: 50px;
    height: 38px;
    background-position: -801px -215px;
}

.base-schemat {
    width: 25px;
    height: 18px;
    background-position: -807px -255px;
}

.base-scope {
    width: 88px;
    height: 27px;
    background-position: -759px -797px;
}

.base-sejmometr {
    width: 63px;
    height: 38px;
    background-position: -788px -406px;
}

.base-skiplagged {
    width: 90px;
    height: 20px;
    background-position: -430px -86px;
}

.base-sklepy24 {
    width: 120px;
    height: 32px;
    background-position: -404px -825px;
}

.base-sms4sats {
    width: 44px;
    height: 43px;
    background-position: -807px -275px;
}

.base-softwareok {
    width: 213px;
    height: 24px;
    background-position: -526px -825px;
}

.base-spacelabeu {
    width: 140px;
    height: 16px;
    background-position: -860px -1px;
}

.base-sprzedajemy {
    width: 100px;
    height: 22px;
    background-position: -1px -19px;
}

.base-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -860px -19px;
}

.base-staregrynet {
    width: 147px;
    height: 25px;
    background-position: -848px -53px;
}

.base-strongpasswordgenerator {
    width: 110px;
    height: 20px;
    background-position: -848px -80px;
}

.base-supercook {
    width: 100px;
    height: 26px;
    background-position: -892px -19px;
}

.base-svg {
    width: 71px;
    height: 27px;
    background-position: -843px -102px;
}

.base-tajemniceatari8 {
    width: 120px;
    height: 25px;
    background-position: -843px -131px;
}

.base-taxeon {
    width: 146px;
    height: 26px;
    background-position: -847px -158px;
}

.base-teatrtelewizji {
    width: 50px;
    height: 42px;
    background-position: -853px -186px;
}

.base-theguardian {
    width: 160px;
    height: 23px;
    background-position: -399px -230px;
}

.base-thenewyorker {
    width: 130px;
    height: 32px;
    background-position: -853px -230px;
}

.base-thewest {
    width: 149px;
    height: 35px;
    background-position: -803px -320px;
}

.base-thingiverse {
    width: 125px;
    height: 25px;
    background-position: -853px -264px;
}

.base-timeanddate {
    width: 45px;
    height: 25px;
    background-position: -522px -80px;
}

.base-tnyt_pol {
    width: 60px;
    height: 32px;
    background-position: -905px -186px;
}

.base-tokfm {
    width: 95px;
    height: 55px;
    background-position: -853px -357px;
}

.base-tp-link {
    width: 90px;
    height: 13px;
    background-position: -235px -291px;
}

.base-translator {
    width: 35px;
    height: 35px;
    background-position: -960px -80px;
}

.base-tumblr {
    width: 30px;
    height: 30px;
    background-position: -965px -117px;
}

.base-tvn {
    width: 38px;
    height: 38px;
    background-position: -561px -220px;
}

.base-twitter {
    width: 30px;
    height: 30px;
    background-position: -967px -186px;
}

.base-twojahistoria {
    width: 125px;
    height: 33px;
    background-position: -853px -414px;
}

.base-urszula {
    width: 105px;
    height: 24px;
    background-position: -853px -291px;
}

.base-usdebt {
    width: 110px;
    height: 36px;
    background-position: -806px -449px;
}

.base-useme {
    width: 99px;
    height: 38px;
    background-position: -806px -487px;
}

.base-vectra {
    width: 120px;
    height: 25px;
    background-position: -799px -527px;
}

.base-veganbanda {
    width: 160px;
    height: 29px;
    background-position: -810px -554px;
}

.base-vimeo {
    width: 116px;
    height: 38px;
    background-position: -810px -585px;
}

.base-voice {
    width: 42px;
    height: 45px;
    background-position: -954px -317px;
}

.base-wei {
    width: 90px;
    height: 34px;
    background-position: -907px -487px;
}

.base-wiedzoholik {
    width: 67px;
    height: 44px;
    background-position: -928px -585px;
}

.base-wikimap {
    width: 127px;
    height: 28px;
    background-position: -795px -625px;
}

.base-windy {
    width: 38px;
    height: 38px;
    background-position: -804px -364px;
}

.base-wirtualneszlaki {
    width: 47px;
    height: 46px;
    background-position: -950px -364px;
}

.base-wp {
    width: 33px;
    height: 31px;
    background-position: -918px -449px;
}

.base-wtz {
    width: 140px;
    height: 18px;
    background-position: -171px -585px;
}

.base-wu {
    width: 64px;
    height: 40px;
    background-position: -924px -631px;
}

.base-yahoo {
    width: 110px;
    height: 28px;
    background-position: -792px -655px;
}

.base-yandex {
    width: 94px;
    height: 27px;
    background-position: -904px -673px;
}

.base-yeggi {
    width: 62px;
    height: 24px;
    background-position: -1px -523px;
}

.base-yt {
    width: 109px;
    height: 46px;
    background-position: -798px -702px;
}

.base-zama {
    width: 40px;
    height: 40px;
    background-position: -275px -702px;
}

.base-zegaratomowy {
    width: 40px;
    height: 39px;
    background-position: -317px -702px;
}

.base-ziemianarozdrozu {
    width: 105px;
    height: 36px;
    background-position: -824px -750px;
}

.base-ztmg {
    width: 50px;
    height: 27px;
    background-position: -921px -523px;
}

.base-zumi {
    width: 84px;
    height: 36px;
    background-position: -909px -702px;
}


/* #endregion */


/* ------------------programowanie----------------------- */


/* #region [ rgba( 255, 0, 0, 0.05 ) ] */

.prog {
    background-image: url(./img/prog.png);
    background-repeat: no-repeat;
    display: block;
}

.prog-W3 {
    width: 73px;
    height: 40px;
    background-position: -1px -1px;
}

.prog-adobe {
    width: 114px;
    height: 21px;
    background-position: -76px -1px;
}

.prog-aftermarket {
    width: 160px;
    height: 27px;
    background-position: -192px -1px;
}

.prog-ahrefs {
    width: 79px;
    height: 25px;
    background-position: -354px -1px;
}

.prog-alicevision {
    width: 58px;
    height: 50px;
    background-position: -435px -1px;
}

.prog-angular {
    width: 50px;
    height: 49px;
    background-position: -495px -1px;
}

.prog-animacje {
    width: 103px;
    height: 27px;
    background-position: -547px -1px;
}

.prog-anime {
    width: 112px;
    height: 22px;
    background-position: -76px -30px;
}

.prog-animista {
    width: 42px;
    height: 42px;
    background-position: -190px -30px;
}

.prog-apollographql {
    width: 113px;
    height: 36px;
    background-position: -234px -30px;
}

.prog-asciigenerator {
    width: 110px;
    height: 45px;
    background-position: -547px -30px;
}

.prog-awesome {
    width: 45px;
    height: 45px;
    background-position: -1px -77px;
}

.prog-babel {
    width: 66px;
    height: 32px;
    background-position: -48px -77px;
}

.prog-befonts {
    width: 105px;
    height: 36px;
    background-position: -116px -77px;
}

.prog-bezier {
    width: 125px;
    height: 18px;
    background-position: -223px -77px;
}

.prog-bionicReading {
    width: 75px;
    height: 35px;
    background-position: -350px -77px;
}

.prog-caniuse {
    width: 110px;
    height: 25px;
    background-position: -427px -77px;
}

.prog-canvas {
    width: 113px;
    height: 25px;
    background-position: -539px -77px;
}

.prog-codewars {
    width: 45px;
    height: 45px;
    background-position: -223px -104px;
}

.prog-colorbox {
    width: 120px;
    height: 31px;
    background-position: -427px -104px;
}

.prog-colorhunt {
    width: 120px;
    height: 30px;
    background-position: -1px -137px;
}

.prog-colors_picker {
    width: 120px;
    height: 34px;
    background-position: -270px -137px;
}

.prog-compresor {
    width: 93px;
    height: 27px;
    background-position: -549px -104px;
}

.prog-compressor {
    width: 90px;
    height: 22px;
    background-position: -123px -133px;
}

.prog-cursor {
    width: 72px;
    height: 18px;
    background-position: -349px -30px;
}

.prog-d3 {
    width: 36px;
    height: 34px;
    background-position: -549px -133px;
}

.prog-davinci17 {
    width: 214px;
    height: 22px;
    background-position: -1px -169px;
}

.prog-dbdiagram {
    width: 100px;
    height: 24px;
    background-position: -392px -169px;
}

.prog-docs-w3cub {
    width: 137px;
    height: 25px;
    background-position: -392px -137px;
}

.prog-dojotoolkit {
    width: 73px;
    height: 36px;
    background-position: -587px -133px;
}

.prog-dragonbones {
    width: 34px;
    height: 34px;
    background-position: -217px -171px;
}

.prog-draw {
    width: 40px;
    height: 40px;
    background-position: -494px -171px;
}

.prog-droidcon {
    width: 120px;
    height: 26px;
    background-position: -536px -171px;
}

.prog-electronjs {
    width: 156px;
    height: 32px;
    background-position: -1px -199px;
}

.prog-estimator {
    width: 98px;
    height: 32px;
    background-position: -253px -199px;
}

.prog-ezgif {
    width: 120px;
    height: 23px;
    background-position: -353px -199px;
}

.prog-fbflipper {
    width: 30px;
    height: 30px;
    background-position: -159px -199px;
}

.prog-feathericons {
    width: 39px;
    height: 37px;
    background-position: -536px -199px;
}

.prog-figma {
    width: 40px;
    height: 57px;
    background-position: -577px -199px;
}

.prog-flaticon {
    width: 121px;
    height: 25px;
    background-position: -1px -258px;
}

.prog-flex {
    width: 100px;
    height: 25px;
    background-position: -124px -238px;
}

.prog-font-converter {
    width: 120px;
    height: 25px;
    background-position: -226px -258px;
}

.prog-fontsgoogle {
    width: 135px;
    height: 29px;
    background-position: -348px -258px;
}

.prog-formatjson {
    width: 145px;
    height: 21px;
    background-position: -485px -258px;
}

.prog-getmdl {
    width: 41px;
    height: 41px;
    background-position: -619px -199px;
}

.prog-gigantic {
    width: 36px;
    height: 27px;
    background-position: -124px -281px;
}

.prog-github {
    width: 36px;
    height: 36px;
    background-position: -162px -281px;
}

.prog-gitlab {
    width: 41px;
    height: 40px;
    background-position: -485px -281px;
}

.prog-glyphicons {
    width: 135px;
    height: 19px;
    background-position: -1px -323px;
}

.prog-googlecloud {
    width: 45px;
    height: 36px;
    background-position: -528px -281px;
}

.prog-graphql {
    width: 88px;
    height: 28px;
    background-position: -138px -319px;
}

.prog-gravityAI {
    width: 76px;
    height: 40px;
    background-position: -575px -281px;
}

.prog-grid {
    width: 100px;
    height: 25px;
    background-position: -228px -323px;
}

.prog-gtmetrix {
    width: 110px;
    height: 33px;
    background-position: -330px -323px;
}

.prog-h5p {
    width: 60px;
    height: 43px;
    background-position: -442px -323px;
}

.prog-html5 {
    width: 154px;
    height: 34px;
    background-position: -504px -323px;
}

.prog-htmlemail {
    width: 69px;
    height: 25px;
    background-position: -270px -104px;
}

.prog-icomoon {
    width: 41px;
    height: 41px;
    background-position: -1px -359px;
}

.prog-icons {
    width: 120px;
    height: 30px;
    background-position: -44px -359px;
}

.prog-immutable {
    width: 116px;
    height: 20px;
    background-position: -166px -359px;
}

.prog-js-tutorial {
    width: 43px;
    height: 48px;
    background-position: -284px -359px;
}

.prog-jsnice {
    width: 67px;
    height: 27px;
    background-position: -329px -359px;
}

.prog-json {
    width: 99px;
    height: 31px;
    background-position: -504px -359px;
}

.prog-knowledgehut {
    width: 135px;
    height: 61px;
    background-position: -44px -392px;
}

.prog-kurshtml {
    width: 120px;
    height: 28px;
    background-position: -329px -392px;
}

.prog-kurshtmlcss {
    width: 154px;
    height: 25px;
    background-position: -451px -392px;
}

.prog-lawsofux {
    width: 36px;
    height: 36px;
    background-position: -607px -359px;
}

.prog-leetcode {
    width: 110px;
    height: 27px;
    background-position: -181px -419px;
}

.prog-loader {
    width: 40px;
    height: 40px;
    background-position: -607px -397px;
}

.prog-localforage {
    width: 75px;
    height: 28px;
    background-position: -451px -419px;
}

.prog-markdown_preview {
    width: 34px;
    height: 45px;
    background-position: -1px -439px;
}

.prog-material {
    width: 120px;
    height: 28px;
    background-position: -293px -439px;
}

.prog-materialize {
    width: 50px;
    height: 28px;
    background-position: -528px -439px;
}

.prog-materialuicolors {
    width: 120px;
    height: 18px;
    background-position: -37px -469px;
}

.prog-matic {
    width: 118px;
    height: 26px;
    background-position: -159px -469px;
}

.prog-meyerweb {
    width: 35px;
    height: 36px;
    background-position: -580px -439px;
}

.prog-minifier {
    width: 50px;
    height: 27px;
    background-position: -279px -477px;
}

.prog-nafrontendzie {
    width: 125px;
    height: 22px;
    background-position: -331px -469px;
}

.prog-nask {
    width: 96px;
    height: 18px;
    background-position: -1px -238px;
}

.prog-netlify {
    width: 38px;
    height: 38px;
    background-position: -617px -439px;
}

.prog-next {
    width: 64px;
    height: 35px;
    background-position: -458px -477px;
}

.prog-normalize {
    width: 36px;
    height: 36px;
    background-position: -524px -479px;
}

.prog-npm {
    width: 108px;
    height: 49px;
    background-position: -1px -517px;
}

.prog-obfuscator {
    width: 120px;
    height: 21px;
    background-position: -111px -517px;
}

.prog-obfuscator2 {
    width: 120px;
    height: 35px;
    background-position: -233px -517px;
}

.prog-obliczeniowo {
    width: 127px;
    height: 32px;
    background-position: -355px -517px;
}

.prog-ocks {
    width: 35px;
    height: 87px;
    background-position: -562px -479px;
}

.prog-ohmydev {
    width: 105px;
    height: 17px;
    background-position: -1px -568px;
}

.prog-outliner {
    width: 110px;
    height: 31px;
    background-position: -108px -568px;
}

.prog-pagespeed {
    width: 75px;
    height: 22px;
    background-position: -181px -392px;
}

.prog-pagespeed2 {
    width: 161px;
    height: 22px;
    background-position: -220px -568px;
}

.prog-paletton {
    width: 120px;
    height: 27px;
    background-position: -383px -568px;
}

.prog-paperjs {
    width: 69px;
    height: 25px;
    background-position: -505px -568px;
}

.prog-parcel {
    width: 102px;
    height: 28px;
    background-position: -1px -595px;
}

.prog-paths {
    width: 73px;
    height: 25px;
    background-position: -576px -568px;
}

.prog-phaser {
    width: 104px;
    height: 29px;
    background-position: -220px -595px;
}

.prog-pinterest {
    width: 35px;
    height: 87px;
    background-position: -599px -479px;
}

.prog-pixijs {
    width: 80px;
    height: 27px;
    background-position: -505px -595px;
}

.prog-polskifrontend {
    width: 130px;
    height: 41px;
    background-position: -659px -1px;
}

.prog-popmotion {
    width: 110px;
    height: 23px;
    background-position: -659px -44px;
}

.prog-pose {
    width: 80px;
    height: 28px;
    background-position: -659px -69px;
}

.prog-primefaces {
    width: 43px;
    height: 46px;
    background-position: -741px -69px;
}

.prog-puppeteer {
    width: 110px;
    height: 25px;
    background-position: -662px -117px;
}

.prog-puppeteer2 {
    width: 40px;
    height: 60px;
    background-position: -662px -144px;
}

.prog-ranking {
    width: 100px;
    height: 22px;
    background-position: -662px -206px;
}

.prog-reacthooks {
    width: 88px;
    height: 24px;
    background-position: -704px -144px;
}

.prog-reactjs {
    width: 120px;
    height: 39px;
    background-position: -662px -230px;
}

.prog-reactnative {
    width: 75px;
    height: 36px;
    background-position: -653px -271px;
}

.prog-reacttypa {
    width: 132px;
    height: 31px;
    background-position: -660px -309px;
}

.prog-reset {
    width: 36px;
    height: 36px;
    background-position: -730px -271px;
}

.prog-reverieai {
    width: 130px;
    height: 34px;
    background-position: -660px -342px;
}

.prog-rockstar {
    width: 110px;
    height: 20px;
    background-position: -353px -230px;
}

.prog-s_prites {
    width: 90px;
    height: 25px;
    background-position: -649px -378px;
}

.prog-sandbox {
    width: 42px;
    height: 46px;
    background-position: -741px -378px;
}

.prog-sass {
    width: 36px;
    height: 36px;
    background-position: -657px -426px;
}

.prog-serverless {
    width: 146px;
    height: 28px;
    background-position: -636px -479px;
}

.prog-slides {
    width: 41px;
    height: 40px;
    background-position: -695px -426px;
}

.prog-sortable {
    width: 45px;
    height: 47px;
    background-position: -738px -426px;
}

.prog-special {
    width: 100px;
    height: 23px;
    background-position: -636px -509px;
}

.prog-stabilityAi {
    width: 90px;
    height: 65px;
    background-position: -651px -534px;
}

.prog-svg {
    width: 75px;
    height: 34px;
    background-position: -704px -170px;
}

.prog-svg-js {
    width: 41px;
    height: 41px;
    background-position: -743px -509px;
}

.prog-svgomg {
    width: 41px;
    height: 41px;
    background-position: -743px -552px;
}

.prog-svgsilh {
    width: 120px;
    height: 25px;
    background-position: -326px -601px;
}

.prog-swift {
    width: 45px;
    height: 45px;
    background-position: -587px -595px;
}

.prog-swr {
    width: 132px;
    height: 23px;
    background-position: -634px -601px;
}

.prog-syntax {
    width: 52px;
    height: 45px;
    background-position: -105px -601px;
}

.prog-textfancy {
    width: 124px;
    height: 31px;
    background-position: -159px -626px;
}

.prog-textshadow {
    width: 120px;
    height: 25px;
    background-position: -448px -626px;
}

.prog-theme-ui {
    width: 102px;
    height: 23px;
    background-position: -1px -626px;
}

.prog-threejs {
    width: 66px;
    height: 22px;
    background-position: -1px -44px;
}

.prog-tinypng {
    width: 120px;
    height: 38px;
    background-position: -634px -626px;
}

.prog-typeorm {
    width: 86px;
    height: 20px;
    background-position: -1px -666px;
}

.prog-unminify {
    width: 120px;
    height: 22px;
    background-position: -89px -666px;
}

.prog-vectorizer {
    width: 134px;
    height: 28px;
    background-position: -211px -666px;
}

.prog-vscode {
    width: 45px;
    height: 46px;
    background-position: -791px -1px;
}

.prog-vuejs {
    width: 50px;
    height: 45px;
    background-position: -786px -49px;
}

.prog-w3schools {
    width: 130px;
    height: 16px;
    background-position: -347px -666px;
}

.prog-workspace {
    width: 108px;
    height: 43px;
    background-position: -479px -666px;
}

.prog-wroc {
    width: 44px;
    height: 43px;
    background-position: -786px -96px;
}

.prog-xamarin {
    width: 106px;
    height: 25px;
    background-position: -589px -666px;
}

.prog-xenko {
    width: 110px;
    height: 22px;
    background-position: -697px -666px;
}

.prog-yarn {
    width: 46px;
    height: 46px;
    background-position: -794px -141px;
}

.prog-zoho-people {
    width: 180px;
    height: 33px;
    background-position: -1px -693px;
}

.prog-zoho-projects {
    width: 197px;
    height: 34px;
    background-position: -589px -693px;
}

.prog-zufana {
    width: 230px;
    height: 18px;
    background-position: -1px -729px;
}


/* #endregion */