@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('./font/Rubik-Regular.eot');
    src: local('open sans extralight'), local('open-sans-extralight'), url('./font/Rubik-Regular.eot?#iefix') format('embedded-opentype'), url('./font/Rubik-Regular.woff2') format('woff2'), url('./font/Rubik-Regular.woff') format('woff'), url('./font/Rubik-Regular.ttf') format('truetype'), url('./font/Rubik-Regular.svg#Barlow') format('svg');
}

:root {
    --color_1: #006600;
    --color_1h: #009c00;
    --color_2: #001600;
    --color_2h: #002e00;
    --color_3: #000800;
    --color_back: black;
    --color_shadow: rgba(0, 0, 0, 0.75);
    --font: 'Rubik', sans-serif;
    --anim_col: #085c08;
}

body {
    position: relative;
    margin: 15px 30px 0 30px;
    padding: 0;
    background-color: var(--color_back);
    color: var(--color_1);
    font-family: var(--font);
    font-size: 16px;
    /* color: #032703; */
}

.popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
}

.open_popup {
    cursor: pointer;
    border: 1px solid var(--color_1);
    padding: 0 3px;
    margin: 2px 0 0 0;
}

@keyframes curtain {
    0% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    25% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    99% {
        opacity: 0;
        width: 100%;
        height: 100%;
    }

    100% {
        width: 0px;
        height: 0px;
    }
}

#curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    background-color: var(--color_back);
    animation-name: curtain;
    animation-duration: .3s;
    animation-iteration-count: 1;
    opacity: 0;
}

#hidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    background-color: var(--color_back);
}

.section {
    /* max-width: 1750px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


#celestialAnimation {
    position: relative;
    margin: 14px 10px 10px 0;
}

.worldCanvas {
    position: relative;
    /* border: 2px solid var(--color_2); */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.moonCanvas {
    position: absolute;
    /* border: 2px solid var(--color_2); */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.rowCelestial {
    display: flex;
    flex-direction: row;
}

.celestialData {
    margin-bottom: 3px;
}

.sunTimes {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    top: 0;
}

.sunData {
    margin-bottom: 3px;
    width: min-content;
}

.celestialIcon {
    filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 1));
}

.celestialTime {
    color: var(--anim_col);
    font-size: 20px;
    margin: 5px 7px 0 7px;
    text-shadow: 0px 0px 4px #000;
}

#moonRiseBox, #moonSetBox {
    position: absolute;
    left: 0;
    top: 0;
}


.timer {
    position: absolute;
    color: var(--anim_col);
    text-shadow: 0px 0px 4px #000;
}

.part {
    display: flex;
    flex-direction: column;
    margin: 0 5px 10px 0;
    background-color: var(--color_3);
    height: max-content;
    min-width: 100px;
}

.part .part {
    margin: 5px 5px 10px 0;
}

.part .part:last-of-type {
    margin: 5px 0 10px 0;
}


/* .part .part a:not(.img) {
    display: inline;
    text-align: center;
} */

.part>h1 {
    margin: 0;
    padding: 0;
    /* padding: 2px 0; */
    text-align: center;
    font-size: 1em;
    width: 100%;
    background-color: var(--color_2);
    cursor: pointer;
    height: 23px;
    user-select: none;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.part>h1:hover {
    transform: scale(1, 1.3) translate(0, -4px);
    z-index: 100;
    -webkit-box-shadow: 0px 0px 16px 8px var(--color_shadow);
    -moz-box-shadow: 0px 0px 16px 8px var(--color_shadow);
    box-shadow: 0px 0px 16px 8px var(--color_shadow);
    color: var(--color_1h);
    background-color: var(--color_2h);
}

.part>.fold {
    position: relative;
    height: auto;
    border: none;
    margin: 0;
}

.part a,
#finder a {
    display: inherit;
    margin: 3px 0 0 0;
    color: var(--color_1);
    text-decoration: none;
}

.part img,
.part svg,
.part .base,
.part .prog,
.part a div,
.part a,
.part .smallInfo,
.part .smallpseudoicon,
#finder img,
#finder svg,
#finder .base,
#finder .prog,
#finder a div,
#finder a,
#finder .smallInfo,
#finder .smallpseudoicon {
    -webkit-transition: all .15s;
    transition: all .15s;
}

.column {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
}

.row {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.row>.column {
    margin-right: 3px;
}

.row>a {
    margin: 3px 3px 0 0;
}

@media screen and (max-width:620px) {
    #whole {
        width: 600px;
    }

    #mycanvas {
        order: 0;
    }

    #part1 {
        order: 1;
    }

    #part2 {
        order: 2;
    }

    #part3 {
        order: 3;
    }
}

#cssNeumorphism {
    width: 35px;
    height: 35px;
    border-radius: 12px;
    background: #1f1f1f;
    box-shadow: inset 3px 3px 7px #1c1c1c, inset -3px -3px 7px #222222;
}

#zapodaj {
    color: #fff;
    border: 1px #718d1e solid;
    background-color: #a3ca2d;
    font-weight: 700;
    text-align: center;
    width: 120px;
}

.btn-copy {
    width: 120px;
    height: 24px;
    background-color: var(--color_3);
    border: 1px solid var(--color_2h);
    color: var(--color_1);
    cursor: pointer;
    transition: all .3s;
}

.btn-copy:hover {
    background-color: var(--color_1);
    color: var(--color_3);
}

.smallpseudoicon {
    padding: 0 6px;
    height: 20px;
    background-color: var(--color_2h);
    display: initial !important;
    text-align: center;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.smallInfo {
    padding: 2px;
    background-color: var(--color_2h);
    width: max-content;
    font-size: 12px;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.consolas {
    font-family: Consolas;
    letter-spacing: 5px;
}

.chatGPT {
    font-family: 'Söhne', 'ui-sans-serif', 'system-ui', '-apple-system', 'Segoe UI', Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple 'Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: rgb(142, 142, 154);
    padding: 0 8px;
    background-color: rgb(21, 21, 21);
}

.times {
    font-family: 'Times New Roman';
    font-size: 20px;
    letter-spacing: 1px;
    height: 26px;
}

.sans {
    font-family: 'Open Sans';
    font-size: 20px;
    letter-spacing: 1px;
    height: 26px;
}

.polls {
    background: linear-gradient(90deg, rgba(192, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 44%, rgba(241, 255, 0, 1) 100%);
    color: #fff !important;
}

.lorem-ipsum {
    font-family: 'Georgia';
    background-color: #313131;
    color: #ddd !important;
    font-size: 22px;
    height: 28px;
}

.code_notes .fonts_sizes {
    margin-right: 20px;
}

.code_notes .sites {
    border: solid 1px var(--color_2h);
    padding: 0 10px 4px 10px;
}

.code_notes a {
    transition: all .3s;
}

.code_notes a:hover {
    background-color: var(--color_2h);
}

.breacker {
    background-color: var(--color_2h);
    width: 100%;
    height: 1px;
    margin: 4px 0 2px;
}

.js a {
    margin: 0 auto;
}

#playbackRate {
    font-size: 15px;
}

.ml {
    margin-left: 8px !important;
}

.ml4 {
    margin-left: 4px !important;
}

.part img:hover,
.part svg:hover,
.part .base:hover,
.part .prog:hover,
.part a div:hover,
.part a:hover,
.part smallInfo:hover,
.part .smallpseudoicon:hover,
#finder img:hover,
#finder svg:hover,
#finder .base:hover,
#finder .prog:hover,
#finder a div:hover,
#finder a:hover,
#finder smallInfo:hover,
#finder .smallpseudoicon:hover {
    transform: scale(1.08);
    /* border: 2px solid var(--color_back); */
    z-index: 100;
    -webkit-box-shadow: 0px 0px 16px 8px var(--color_shadow);
    -moz-box-shadow: 0px 0px 16px 8px var(--color_shadow);
    box-shadow: 0px 0px 16px 8px var(--color_shadow);
}

.part .static svg:hover,
.part .static div:hover,
#finder .static svg:hover,
#finder .static div:hover {
    transform: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

svg {
    position: relative;
    left: 0;
    top: 0;
}

.tanstackquery {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 24px;
    font-weight: 700;
    background-image: -webkit-linear-gradient(45deg, rgb(159, 14, 14), rgb(195, 126, 8) 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 24px;
    position: relative;
    top: -3px;
}

.turfjs {
    background-color: rgb(37, 163, 90);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 6.4px;
    line-height: 24px;
    text-align: center;
    padding: 0 0 0 5px;
}

.appium {
    background-color: var(--color_2h);
    color: rgb(147, 198, 111);
    font-family: "GothamBold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 5px;
}

.paperjs {
    border-bottom-color: rgb(0, 123, 184);
    color: rgb(39, 183, 255);
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.rainbow-text {
    background: linear-gradient(90deg, #0029ff 0, #ff008a);
    color: #fff;
    padding: 2px 4px;
    font-weight: 600;
}

.text {
    font-size: 22px;
    margin: 0 10px 0 0;
    color: var(--color_1h);
}

.searcher {
    z-index: 1000;
}

input {
    background-color: var(--color_2h);
    border: var(--color_1) solid 2px;
    margin: 0 0 5px 0;
    text-align: left;
    padding: 0 15px;
    color: var(--color_1h);
    font-size: 1.1em;
    width: 150px;
    font-family: var(--font);
    height: 24px;
}

#finder {
    position: absolute;
    left: 280px;
    top: 0;
    border: var(--color_1h) solid 2px;
    border-radius: 12px;
    background-color: var(--color_back);
    padding: 12px;
    min-width: 300px;
    /* min-height: 50px; */
    max-height: 400px;
    z-index: 1000;
}

.found-sites {
    text-align: center;
    margin-bottom: 12px;
}

#close-finder {
    position: absolute;
    right: 12px;
    top: 2px;
    font-size: 30px;
    cursor: pointer;
    color: var(--color_1h);
}

#finder-output {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 370px;
}

#finder-output a {
    margin: 5px;
}

.ml5 {
    margin-left: 5px !important;
}

.ml12 {
    margin-left: 12px !important;
}

#waiting-room {
    display: flex;
    flex-direction: row;
}

.waiting-room-colum {
    margin-right: 3px;
    display: flex;
    flex-direction: column;
}.base {
    background-image: url(./img/base.png);
    background-repeat: no-repeat;
    display: block;
}

.base-ecoharmonogram {
    width: 80px;
    height: 81px;
    background-position: -300px -0px;
}

.base-10minutemail {
    width: 100px;
    height: 12px;
    background-position: -131px -263px;
}

.base-3dmdb {
    width: 88px;
    height: 36px;
    background-position: -636px -517px;
}

.base-after-me {
    width: 110px;
    height: 28px;
    background-position: -636px -556px;
}

.base-ahrefs {
    width: 76px;
    height: 23px;
    background-position: -544px -520px;
}

.base-airpl {
    width: 38px;
    height: 37px;
    background-position: -915px -752px;
}

.base-allegro {
    width: 102px;
    height: 42px;
    background-position: -0px -520px;
}

.base-amway {
    width: 82px;
    height: 34px;
    background-position: -759px -171px;
}

.base-animatedknots {
    width: 61px;
    height: 30px;
    background-position: -53px -851px;
}

.base-aps {
    width: 75px;
    height: 21px;
    background-position: -194px -851px;
}

.base-artstation {
    width: 128px;
    height: 28px;
    background-position: -126px -603px;
}

.base-asciicker {
    width: 64px;
    height: 47px;
    background-position: -536px -261px;
}

.base-ask {
    width: 55px;
    height: 40px;
    background-position: -300px -194px;
}

.base-AstroNET {
    width: 41px;
    height: 40px;
    background-position: -915px -88px;
}

.base-astronew {
    width: 89px;
    height: 29px;
    background-position: -759px -484px;
}

.base-atari {
    width: 105px;
    height: 33px;
    background-position: -636px -300px;
}

.base-bankier {
    width: 64px;
    height: 41px;
    background-position: -759px -440px;
}

.base-bedeker {
    width: 42px;
    height: 35px;
    background-position: -915px -554px;
}

.base-bibcyf {
    width: 41px;
    height: 48px;
    background-position: -867px -48px;
}

.base-blender {
    width: 44px;
    height: 58px;
    background-position: -759px -649px;
}

.base-blenderguru {
    width: 108px;
    height: 27px;
    background-position: -0px -746px;
}

.base-c-64_scene {
    width: 36px;
    height: 30px;
    background-position: -867px -324px;
}

.base-c64fun {
    width: 150px;
    height: 26px;
    background-position: -359px -473px;
}

.base-c64portal {
    width: 146px;
    height: 27px;
    background-position: -175px -392px;
}

.base-c64sets {
    width: 42px;
    height: 34px;
    background-position: -915px -715px;
}

.base-calendar {
    width: 100px;
    height: 31px;
    background-position: -193px -128px;
}

.base-cams {
    width: 70px;
    height: 33px;
    background-position: -300px -117px;
}

.base-cda {
    width: 86px;
    height: 26px;
    background-position: -211px -82px;
}

.base-ceidg {
    width: 104px;
    height: 27px;
    background-position: -759px -69px;
}

.base-ciekawostkihist {
    width: 85px;
    height: 33px;
    background-position: -759px -99px;
}

.base-colossal {
    width: 123px;
    height: 25px;
    background-position: -128px -687px;
}

.base-commodore {
    width: 100px;
    height: 32px;
    background-position: -636px -447px;
}

.base-commodore_c64_books {
    width: 50px;
    height: 36px;
    background-position: -915px -0px;
}

.base-conwerter {
    width: 50px;
    height: 21px;
    background-position: -705px -715px;
}

.base-coub {
    width: 43px;
    height: 43px;
    background-position: -867px -194px;
}

.base-cqcounter {
    width: 89px;
    height: 30px;
    background-position: -759px -309px;
}

.base-crazynauka {
    width: 160px;
    height: 20px;
    background-position: -550px -603px;
}

.base-csdb {
    width: 109px;
    height: 55px;
    background-position: -0px -278px;
}

.base-darmprog {
    width: 202px;
    height: 24px;
    background-position: -216px -365px;
}

.base-datasheetspdf {
    width: 160px;
    height: 23px;
    background-position: -381px -520px;
}

.base-datasheetspdf1 {
    width: 297px;
    height: 37px;
    background-position: -0px -0px;
}

.base-dawnygdansk {
    width: 110px;
    height: 17px;
    background-position: -424px -637px;
}

.base-delta {
    width: 80px;
    height: 33px;
    background-position: -759px -375px;
}

.base-demagog {
    width: 132px;
    height: 23px;
    background-position: -254px -687px;
}

.base-duo {
    width: 36px;
    height: 36px;
    background-position: -915px -822px;
}

.base-ecudo {
    width: 105px;
    height: 47px;
    background-position: -0px -423px;
}

.base-elektroda {
    width: 110px;
    height: 20px;
    background-position: -564px -746px;
}

.base-elektroonline {
    width: 160px;
    height: 24px;
    background-position: -218px -520px;
}

.base-elportal {
    width: 160px;
    height: 20px;
    background-position: -0px -637px;
}

.base-epuap2 {
    width: 145px;
    height: 27px;
    background-position: -324px -392px;
}

.base-exbl {
    width: 160px;
    height: 21px;
    background-position: -387px -603px;
}

.base-extensionsblender {
    width: 208px;
    height: 43px;
    background-position: -0px -82px;
}

.base-facebook {
    width: 103px;
    height: 35px;
    background-position: -636px -230px;
}

.base-fake {
    width: 68px;
    height: 32px;
    background-position: -300px -237px;
}

.base-fakty {
    width: 107px;
    height: 27px;
    background-position: -111px -746px;
}

.base-filmon {
    width: 123px;
    height: 31px;
    background-position: -0px -603px;
}

.base-finviz {
    width: 37px;
    height: 44px;
    background-position: -915px -175px;
}

.base-forbot {
    width: 110px;
    height: 17px;
    background-position: -537px -637px;
}

.base-forsa {
    width: 102px;
    height: 30px;
    background-position: -272px -278px;
}

.base-forumogadka {
    width: 143px;
    height: 35px;
    background-position: -383px -179px;
}

.base-fosshub {
    width: 97px;
    height: 20px;
    background-position: -53px -776px;
}

.base-fotogdansk {
    width: 30px;
    height: 35px;
    background-position: -867px -357px;
}

.base-freemusicarchive {
    width: 51px;
    height: 25px;
    background-position: -472px -392px;
}

.base-freesound {
    width: 110px;
    height: 31px;
    background-position: -636px -336px;
}

.base-gameplay {
    width: 130px;
    height: 23px;
    background-position: -389px -687px;
}

.base-gb64b {
    width: 147px;
    height: 21px;
    background-position: -287px -660px;
}

.base-geargenerator {
    width: 85px;
    height: 30px;
    background-position: -759px -573px;
}

.base-geekaresexy {
    width: 124px;
    height: 38px;
    background-position: -113px -473px;
}

.base-geooo {
    width: 46px;
    height: 46px;
    background-position: -587px -445px;
}

.base-getionary {
    width: 40px;
    height: 40px;
    background-position: -915px -222px;
}

.base-gnew {
    width: 97px;
    height: 50px;
    background-position: -536px -0px;
}

.base-goodhomedesign {
    width: 110px;
    height: 44px;
    background-position: -0px -473px;
}

.base-google {
    width: 128px;
    height: 54px;
    background-position: -0px -221px;
}

.base-grypl {
    width: 107px;
    height: 47px;
    background-position: -383px -217px;
}

.base-guerrillamail {
    width: 207px;
    height: 26px;
    background-position: -0px -336px;
}

.base-hevensabo {
    width: 78px;
    height: 30px;
    background-position: -300px -84px;
}

.base-history {
    width: 146px;
    height: 21px;
    background-position: -437px -660px;
}

.base-imgw {
    width: 50px;
    height: 49px;
    background-position: -806px -649px;
}

.base-inhabit {
    width: 100px;
    height: 32px;
    background-position: -636px -482px;
}

.base-inkscape {
    width: 44px;
    height: 44px;
    background-position: -867px -99px;
}

.base-instalki {
    width: 105px;
    height: 32px;
    background-position: -636px -370px;
}

.base-jakdojade {
    width: 97px;
    height: 22px;
    background-position: -652px -687px;
}

.base-jayisgames {
    width: 150px;
    height: 36px;
    background-position: -383px -0px;
}

.base-jpg2png {
    width: 45px;
    height: 35px;
    background-position: -915px -398px;
}

.base-justgeek {
    width: 140px;
    height: 35px;
    background-position: -153px -172px;
}

.base-kalbi {
    width: 40px;
    height: 41px;
    background-position: -915px -131px;
}

.base-komputerswiat {
    width: 95px;
    height: 40px;
    background-position: -636px -70px;
}

.base-kopalniawiedzy {
    width: 86px;
    height: 39px;
    background-position: -636px -405px;
}

.base-kosmonauta {
    width: 144px;
    height: 24px;
    background-position: -413px -565px;
}

.base-kostka {
    width: 42px;
    height: 43px;
    background-position: -867px -240px;
}

.base-krytykapolityczna {
    width: 113px;
    height: 44px;
    background-position: -383px -316px;
}

.base-kurnik {
    width: 120px;
    height: 11px;
    background-position: -636px -587px;
}

.base-kwarantanna {
    width: 60px;
    height: 38px;
    background-position: -300px -153px;
}

.base-linkedin {
    width: 38px;
    height: 38px;
    background-position: -915px -592px;
}

.base-madeon {
    width: 110px;
    height: 26px;
    background-position: -221px -746px;
}

.base-make {
    width: 84px;
    height: 32px;
    background-position: -759px -274px;
}

.base-malawielkafirma {
    width: 80px;
    height: 38px;
    background-position: -536px -139px;
}

.base-mapa {
    width: 42px;
    height: 22px;
    background-position: -867px -395px;
}

.base-mapa_turystyczna {
    width: 89px;
    height: 30px;
    background-position: -759px -342px;
}

.base-mapbox {
    width: 142px;
    height: 34px;
    background-position: -108px -423px;
}

.base-math {
    width: 118px;
    height: 24px;
    background-position: -359px -715px;
}

.base-metadata2go {
    width: 127px;
    height: 23px;
    background-position: -522px -687px;
}

.base-meteo {
    width: 74px;
    height: 24px;
    background-position: -117px -851px;
}

.base-meteo2 {
    width: 86px;
    height: 28px;
    background-position: -536px -311px;
}

.base-millennium {
    width: 157px;
    height: 36px;
    background-position: -112px -278px;
}

.base-miloszbrzezinski {
    width: 260px;
    height: 39px;
    background-position: -0px -40px;
}

.base-mojemiasto {
    width: 90px;
    height: 46px;
    background-position: -536px -53px;
}

.base-ms {
    width: 120px;
    height: 32px;
    background-position: -636px -0px;
}

.base-mtechnik {
    width: 105px;
    height: 28px;
    background-position: -759px -0px;
}

.base-myabandonware {
    width: 150px;
    height: 46px;
    background-position: -0px -172px;
}

.base-myminifactory {
    width: 85px;
    height: 33px;
    background-position: -759px -135px;
}

.base-mynoise {
    width: 190px;
    height: 20px;
    background-position: -253px -423px;
}

.base-naszgdansk {
    width: 36px;
    height: 46px;
    background-position: -915px -39px;
}

.base-natemat {
    width: 133px;
    height: 24px;
    background-position: -0px -660px;
}

.base-naukaoklimacie {
    width: 115px;
    height: 17px;
    background-position: -306px -637px;
}

.base-netoog {
    width: 77px;
    height: 39px;
    background-position: -536px -219px;
}

.base-ninateka {
    width: 109px;
    height: 23px;
    background-position: -593px -715px;
}

.base-ninateka_logo {
    width: 190px;
    height: 41px;
    background-position: -0px -128px;
}

.base-noizz {
    width: 87px;
    height: 28px;
    background-position: -759px -710px;
}

.base-nosil {
    width: 83px;
    height: 29px;
    background-position: -536px -342px;
}

.base-oldversion {
    width: 110px;
    height: 15px;
    background-position: -255px -317px;
}

.base-onetimesecret {
    width: 45px;
    height: 45px;
    background-position: -867px -0px;
}

.base-osm {
    width: 140px;
    height: 21px;
    background-position: -586px -660px;
}

.base-otranscribe {
    width: 110px;
    height: 17px;
    background-position: -153px -776px;
}

.base-panel {
    width: 114px;
    height: 21px;
    background-position: -334px -746px;
}

.base-pazyl {
    width: 100px;
    height: 18px;
    background-position: -53px -799px;
}

.base-pi-hole {
    width: 44px;
    height: 63px;
    background-position: -759px -208px;
}

.base-pico8 {
    width: 120px;
    height: 29px;
    background-position: -636px -268px;
}

.base-pimeyes {
    width: 110px;
    height: 34px;
    background-position: -636px -193px;
}

.base-pinterest {
    width: 111px;
    height: 35px;
    background-position: -0px -565px;
}

.base-playgl {
    width: 149px;
    height: 39px;
    background-position: -131px -221px;
}

.base-podroznik {
    width: 110px;
    height: 23px;
    background-position: -480px -715px;
}

.base-policjagda {
    width: 48px;
    height: 50px;
    background-position: -536px -445px;
}

.base-polyhaven {
    width: 44px;
    height: 62px;
    background-position: -806px -208px;
}

.base-programy {
    width: 110px;
    height: 19px;
    background-position: -677px -746px;
}

.base-protonmail {
    width: 109px;
    height: 24px;
    background-position: -421px -365px;
}

.base-pulsbiznesu {
    width: 84px;
    height: 35px;
    background-position: -759px -31px;
}

.base-qwant {
    width: 38px;
    height: 40px;
    background-position: -915px -478px;
}

.base-racjonalista {
    width: 110px;
    height: 21px;
    background-position: -451px -746px;
}

.base-radio {
    width: 49px;
    height: 30px;
    background-position: -915px -521px;
}

.base-rainymood {
    width: 168px;
    height: 26px;
    background-position: -210px -336px;
}

.base-raspberrypi {
    width: 36px;
    height: 44px;
    background-position: -915px -351px;
}

.base-reallusion {
    width: 172px;
    height: 28px;
    background-position: -0px -392px;
}

.base-resetobywatelski {
    width: 130px;
    height: 41px;
    background-position: -383px -39px;
}

.base-retrogamer {
    width: 148px;
    height: 21px;
    background-position: -136px -660px;
}

.base-reverso {
    width: 40px;
    height: 40px;
    background-position: -915px -265px;
}

.base-rzygacz {
    width: 50px;
    height: 38px;
    background-position: -0px -851px;
}

.base-schemat {
    width: 25px;
    height: 18px;
    background-position: -867px -420px;
}

.base-scope {
    width: 88px;
    height: 27px;
    background-position: -536px -374px;
}

.base-sejmometr {
    width: 63px;
    height: 38px;
    background-position: -536px -404px;
}

.base-skiplagged {
    width: 90px;
    height: 20px;
    background-position: -74px -821px;
}

.base-sklepy24 {
    width: 120px;
    height: 32px;
    background-position: -636px -35px;
}

.base-softwareok {
    width: 213px;
    height: 24px;
    background-position: -0px -365px;
}

.base-spacelabeu {
    width: 140px;
    height: 16px;
    background-position: -112px -317px;
}

.base-staregrynet {
    width: 147px;
    height: 25px;
    background-position: -263px -565px;
}

.base-supercook {
    width: 100px;
    height: 26px;
    background-position: -759px -411px;
}

.base-svg {
    width: 71px;
    height: 27px;
    background-position: -0px -821px;
}

.base-tajemniceatari8 {
    width: 120px;
    height: 25px;
    background-position: -113px -715px;
}

.base-taxeon {
    width: 146px;
    height: 26px;
    background-position: -114px -565px;
}

.base-teatrtelewizji {
    width: 50px;
    height: 42px;
    background-position: -0px -776px;
}

.base-thewest {
    width: 149px;
    height: 35px;
    background-position: -383px -83px;
}

.base-thingiverse {
    width: 125px;
    height: 25px;
    background-position: -0px -687px;
}

.base-timeanddate {
    width: 45px;
    height: 25px;
    background-position: -915px -861px;
}

.base-tokfm {
    width: 95px;
    height: 55px;
    background-position: -383px -121px;
}

.base-tp-link {
    width: 90px;
    height: 13px;
    background-position: -536px -498px;
}

.base-translator {
    width: 35px;
    height: 35px;
    background-position: -867px -286px;
}

.base-tvn {
    width: 38px;
    height: 38px;
    background-position: -915px -633px;
}

.base-urszula {
    width: 105px;
    height: 24px;
    background-position: -759px -516px;
}

.base-usdebt {
    width: 110px;
    height: 36px;
    background-position: -105px -520px;
}

.base-useme {
    width: 99px;
    height: 38px;
    background-position: -636px -152px;
}

.base-vectra {
    width: 120px;
    height: 25px;
    background-position: -236px -715px;
}

.base-vimeo {
    width: 116px;
    height: 38px;
    background-position: -240px -473px;
}

.base-voice {
    width: 42px;
    height: 45px;
    background-position: -867px -146px;
}

.base-wei {
    width: 90px;
    height: 34px;
    background-position: -536px -102px;
}

.base-wikimap {
    width: 127px;
    height: 28px;
    background-position: -257px -603px;
}

.base-windy {
    width: 38px;
    height: 38px;
    background-position: -915px -674px;
}

.base-wirtualneszlaki {
    width: 47px;
    height: 46px;
    background-position: -481px -121px;
}

.base-wtz {
    width: 140px;
    height: 18px;
    background-position: -163px -637px;
}

.base-wu {
    width: 64px;
    height: 40px;
    background-position: -759px -606px;
}

.base-yahoo {
    width: 110px;
    height: 28px;
    background-position: -0px -715px;
}

.base-yandex {
    width: 94px;
    height: 27px;
    background-position: -759px -543px;
}

.base-yeggi {
    width: 62px;
    height: 24px;
    background-position: -560px -565px;
}

.base-yt {
    width: 109px;
    height: 46px;
    background-position: -383px -267px;
}

.base-zama {
    width: 40px;
    height: 40px;
    background-position: -915px -308px;
}

.base-zegaratomowy {
    width: 40px;
    height: 39px;
    background-position: -915px -436px;
}

.base-ziemianarozdrozu {
    width: 105px;
    height: 36px;
    background-position: -636px -113px;
}

.base-ztmg {
    width: 50px;
    height: 27px;
    background-position: -915px -792px;
}

.base-zumi {
    width: 84px;
    height: 36px;
    background-position: -536px -180px;
}

.prog {
    background-image: url(./img/prog.png);
    background-repeat: no-repeat;
    display: block;
}

.prog-adobe {
    width: 114px;
    height: 21px;
    background-position: -359px -612px;
}

.prog-aftermarket {
    width: 160px;
    height: 27px;
    background-position: -0px -443px;
}

.prog-ahrefs {
    width: 79px;
    height: 25px;
    background-position: -78px -727px;
}

.prog-ajordison {
    width: 200px;
    height: 38px;
    background-position: -203px -171px;
}

.prog-alicevision {
    width: 58px;
    height: 50px;
    background-position: -621px -196px;
}

.prog-animacje {
    width: 103px;
    height: 27px;
    background-position: -621px -249px;
}

.prog-anime {
    width: 112px;
    height: 22px;
    background-position: -113px -642px;
}

.prog-animista {
    width: 42px;
    height: 42px;
    background-position: -771px -570px;
}

.prog-antyweb {
    width: 52px;
    height: 45px;
    background-position: -415px -206px;
}

.prog-apollographql {
    width: 113px;
    height: 36px;
    background-position: -478px -217px;
}

.prog-asciigenerator {
    width: 110px;
    height: 45px;
    background-position: -0px -358px;
}

.prog-awesome {
    width: 45px;
    height: 45px;
    background-position: -771px -234px;
}

.prog-babel {
    width: 66px;
    height: 32px;
    background-position: -771px -0px;
}

.prog-befonts {
    width: 105px;
    height: 36px;
    background-position: -478px -321px;
}

.prog-bezier {
    width: 125px;
    height: 18px;
    background-position: -595px -612px;
}

.prog-bionicReading {
    width: 75px;
    height: 35px;
    background-position: -621px -279px;
}

.prog-caniuse {
    width: 110px;
    height: 25px;
    background-position: -0px -642px;
}

.prog-canvas {
    width: 113px;
    height: 25px;
    background-position: -225px -578px;
}

.prog-codewars {
    width: 45px;
    height: 45px;
    background-position: -771px -282px;
}

.prog-colorbox {
    width: 120px;
    height: 31px;
    background-position: -478px -360px;
}

.prog-colorhunt {
    width: 120px;
    height: 30px;
    background-position: -478px -430px;
}

.prog-colors_picker {
    width: 120px;
    height: 34px;
    background-position: -478px -145px;
}

.prog-compresor {
    width: 93px;
    height: 27px;
    background-position: -621px -495px;
}

.prog-compressor {
    width: 90px;
    height: 22px;
    background-position: -309px -670px;
}

.prog-cursor {
    width: 72px;
    height: 18px;
    background-position: -491px -670px;
}

.prog-d3 {
    width: 36px;
    height: 34px;
    background-position: -728px -509px;
}

.prog-davinci17 {
    width: 214px;
    height: 22px;
    background-position: -159px -323px;
}

.prog-dbdiagram {
    width: 100px;
    height: 24px;
    background-position: -621px -556px;
}

.prog-docs-w3cub {
    width: 137px;
    height: 25px;
    background-position: -320px -443px;
}

.prog-dojotoolkit {
    width: 73px;
    height: 36px;
    background-position: -621px -317px;
}

.prog-dragonbones {
    width: 34px;
    height: 34px;
    background-position: -728px -546px;
}

.prog-draw {
    width: 40px;
    height: 40px;
    background-position: -728px -60px;
}

.prog-droidcon {
    width: 120px;
    height: 26px;
    background-position: -246px -504px;
}

.prog-electronjs {
    width: 156px;
    height: 32px;
    background-position: -0px -323px;
}

.prog-ezgif {
    width: 120px;
    height: 23px;
    background-position: -113px -612px;
}

.prog-fbflipper {
    width: 30px;
    height: 30px;
    background-position: -728px -583px;
}

.prog-feathericons {
    width: 39px;
    height: 37px;
    background-position: -728px -235px;
}

.prog-figma {
    width: 40px;
    height: 57px;
    background-position: -728px -0px;
}

.prog-flaticon {
    width: 121px;
    height: 25px;
    background-position: -205px -535px;
}

.prog-flex {
    width: 100px;
    height: 25px;
    background-position: -621px -439px;
}

.prog-font-converter {
    width: 120px;
    height: 25px;
    background-position: -329px -535px;
}

.prog-formatjson {
    width: 145px;
    height: 21px;
    background-position: -313px -473px;
}

.prog-getmdl {
    width: 41px;
    height: 41px;
    background-position: -771px -615px;
}

.prog-github {
    width: 36px;
    height: 36px;
    background-position: -728px -275px;
}

.prog-glyphicons {
    width: 135px;
    height: 19px;
    background-position: -461px -473px;
}

.prog-googlecloud {
    width: 45px;
    height: 36px;
    background-position: -0px -788px;
}

.prog-graphql {
    width: 88px;
    height: 28px;
    background-position: -621px -525px;
}

.prog-grid {
    width: 100px;
    height: 25px;
    background-position: -621px -467px;
}

.prog-gtmetrix {
    width: 110px;
    height: 33px;
    background-position: -478px -394px;
}

.prog-h5p {
    width: 60px;
    height: 43px;
    background-position: -621px -356px;
}

.prog-holepunch {
    width: 110px;
    height: 27px;
    background-position: -0px -612px;
}

.prog-html5 {
    width: 154px;
    height: 34px;
    background-position: -133px -279px;
}

.prog-htmlemail {
    width: 69px;
    height: 25px;
    background-position: -341px -249px;
}

.prog-icomoon {
    width: 41px;
    height: 41px;
    background-position: -771px -659px;
}

.prog-icons {
    width: 120px;
    height: 30px;
    background-position: -290px -279px;
}

.prog-immutable {
    width: 116px;
    height: 20px;
    background-position: -476px -612px;
}

.prog-joinpeertube {
    width: 100px;
    height: 22px;
    background-position: -103px -670px;
}

.prog-js-tutorial {
    width: 43px;
    height: 48px;
    background-position: -771px -183px;
}

.prog-jsnice {
    width: 67px;
    height: 27px;
    background-position: -0px -758px;
}

.prog-json {
    width: 99px;
    height: 31px;
    background-position: -0px -578px;
}

.prog-knowledgehut {
    width: 135px;
    height: 61px;
    background-position: -0px -215px;
}

.prog-kurshtml {
    width: 120px;
    height: 28px;
    background-position: -347px -358px;
}

.prog-kurshtmlcss {
    width: 154px;
    height: 25px;
    background-position: -163px -443px;
}

.prog-lawsofux {
    width: 36px;
    height: 36px;
    background-position: -728px -314px;
}

.prog-lipsum {
    width: 200px;
    height: 41px;
    background-position: -0px -171px;
}

.prog-loader {
    width: 40px;
    height: 40px;
    background-position: -728px -103px;
}

.prog-localforage {
    width: 75px;
    height: 28px;
    background-position: -0px -727px;
}

.prog-markdown_preview {
    width: 34px;
    height: 45px;
    background-position: -728px -146px;
}

.prog-material {
    width: 120px;
    height: 28px;
    background-position: -0px -504px;
}

.prog-materialize {
    width: 50px;
    height: 28px;
    background-position: -48px -788px;
}

.prog-materialuicolors {
    width: 120px;
    height: 18px;
    background-position: -454px -642px;
}

.prog-matic {
    width: 118px;
    height: 26px;
    background-position: -84px -535px;
}

.prog-meyerweb {
    width: 35px;
    height: 36px;
    background-position: -728px -470px;
}

.prog-minifier {
    width: 50px;
    height: 27px;
    background-position: -70px -758px;
}

.prog-nafrontendzie {
    width: 125px;
    height: 22px;
    background-position: -341px -578px;
}

.prog-nask {
    width: 96px;
    height: 18px;
    background-position: -366px -406px;
}

.prog-nch {
    width: 81px;
    height: 40px;
    background-position: -0px -535px;
}

.prog-netlify {
    width: 38px;
    height: 38px;
    background-position: -728px -194px;
}

.prog-normalize {
    width: 36px;
    height: 36px;
    background-position: -728px -353px;
}

.prog-npm_trends {
    width: 45px;
    height: 45px;
    background-position: -771px -330px;
}

.prog-obfuscator {
    width: 120px;
    height: 21px;
    background-position: -236px -612px;
}

.prog-obfuscator2 {
    width: 120px;
    height: 35px;
    background-position: -478px -73px;
}

.prog-obliczeniowo {
    width: 127px;
    height: 32px;
    background-position: -478px -182px;
}

.prog-ocks {
    width: 35px;
    height: 87px;
    background-position: -621px -32px;
}

.prog-oldskoolcoder {
    width: 200px;
    height: 25px;
    background-position: -138px -249px;
}

.prog-openscad {
    width: 140px;
    height: 30px;
    background-position: -478px -0px;
}

.prog-pagespeed2 {
    width: 161px;
    height: 22px;
    background-position: -149px -473px;
}

.prog-paletton {
    width: 120px;
    height: 27px;
    background-position: -123px -504px;
}

.prog-parcel {
    width: 102px;
    height: 28px;
    background-position: -621px -165px;
}

.prog-paths {
    width: 73px;
    height: 25px;
    background-position: -160px -727px;
}

.prog-phaser {
    width: 104px;
    height: 29px;
    background-position: -621px -0px;
}

.prog-pinterest {
    width: 35px;
    height: 87px;
    background-position: -659px -32px;
}

.prog-polskifrontend {
    width: 130px;
    height: 41px;
    background-position: -0px -279px;
}

.prog-popmotion {
    width: 110px;
    height: 23px;
    background-position: -504px -504px;
}

.prog-pose {
    width: 80px;
    height: 28px;
    background-position: -0px -696px;
}

.prog-primefaces {
    width: 43px;
    height: 46px;
    background-position: -771px -426px;
}

.prog-puppeteer2 {
    width: 40px;
    height: 60px;
    background-position: -415px -87px;
}

.prog-ranking {
    width: 100px;
    height: 22px;
    background-position: -206px -670px;
}

.prog-reacttypa {
    width: 132px;
    height: 31px;
    background-position: -478px -111px;
}

.prog-reset {
    width: 36px;
    height: 36px;
    background-position: -728px -392px;
}

.prog-reverieai {
    width: 130px;
    height: 34px;
    background-position: -0px -406px;
}

.prog-rockstar {
    width: 110px;
    height: 20px;
    background-position: -341px -642px;
}

.prog-sandbox {
    width: 42px;
    height: 46px;
    background-position: -771px -475px;
}

.prog-sass {
    width: 36px;
    height: 36px;
    background-position: -728px -431px;
}

.prog-serverless {
    width: 146px;
    height: 28px;
    background-position: -0px -473px;
}

.prog-slides {
    width: 41px;
    height: 40px;
    background-position: -684px -356px;
}

.prog-sortable {
    width: 45px;
    height: 47px;
    background-position: -771px -84px;
}

.prog-special {
    width: 100px;
    height: 23px;
    background-position: -0px -670px;
}

.prog-sullygnome {
    width: 45px;
    height: 53px;
    background-position: -415px -150px;
}

.prog-svg-js {
    width: 41px;
    height: 41px;
    background-position: -771px -703px;
}

.prog-svg {
    width: 75px;
    height: 34px;
    background-position: -621px -402px;
}

.prog-svgomg {
    width: 41px;
    height: 41px;
    background-position: -682px -196px;
}

.prog-svgsilh {
    width: 120px;
    height: 25px;
    background-position: -452px -535px;
}

.prog-swr {
    width: 132px;
    height: 23px;
    background-position: -369px -504px;
}

.prog-syntax {
    width: 52px;
    height: 45px;
    background-position: -415px -254px;
}

.prog-s_prites {
    width: 90px;
    height: 25px;
    background-position: -316px -215px;
}

.prog-textfancy {
    width: 124px;
    height: 31px;
    background-position: -478px -256px;
}

.prog-textshadow {
    width: 120px;
    height: 25px;
    background-position: -102px -578px;
}

.prog-theme-ui {
    width: 102px;
    height: 23px;
    background-position: -621px -583px;
}

.prog-threejs {
    width: 66px;
    height: 22px;
    background-position: -176px -696px;
}

.prog-tinypng {
    width: 120px;
    height: 38px;
    background-position: -224px -358px;
}

.prog-typeorm {
    width: 86px;
    height: 20px;
    background-position: -402px -670px;
}

.prog-unminify {
    width: 120px;
    height: 22px;
    background-position: -469px -578px;
}

.prog-vectorizer {
    width: 134px;
    height: 28px;
    background-position: -478px -290px;
}

.prog-vived {
    width: 114px;
    height: 37px;
    background-position: -478px -33px;
}

.prog-vscode {
    width: 45px;
    height: 46px;
    background-position: -771px -134px;
}

.prog-vuejs {
    width: 50px;
    height: 45px;
    background-position: -415px -302px;
}

.prog-W3 {
    width: 73px;
    height: 40px;
    background-position: -621px -122px;
}

.prog-w3schools {
    width: 130px;
    height: 16px;
    background-position: -577px -642px;
}

.prog-wasp {
    width: 45px;
    height: 45px;
    background-position: -771px -378px;
}

.prog-workspace {
    width: 108px;
    height: 43px;
    background-position: -113px -358px;
}

.prog-wroc {
    width: 44px;
    height: 43px;
    background-position: -771px -524px;
}

.prog-xenko {
    width: 110px;
    height: 22px;
    background-position: -228px -642px;
}

.prog-yarn {
    width: 46px;
    height: 46px;
    background-position: -771px -35px;
}

.prog-zufana {
    width: 230px;
    height: 18px;
    background-position: -133px -406px;
}

.prog-kickAssembler {
    width: 175px;
    height: 31px;
    background-position: -138px -215px;
}

.prog-nocodemakers {
    width: 60px;
    height: 84px;
    background-position: -415px -0px;
}

.prog-relume {
    width: 412px;
    height: 168px;
    background-position: -0px -0px;
}

.prog-uiverse {
    width: 90px;
    height: 24px;
    background-position: -83px -696px;
}

