.base {
    background-image: url(./img/base.png);
    background-repeat: no-repeat;
    display: block;
}

.base-10minutemail {
    width: 100px;
    height: 12px;
    background-position: -321px -739px;
}

.base-3dmdb {
    width: 88px;
    height: 36px;
    background-position: -617px -301px;
}

.base-after-me {
    width: 110px;
    height: 28px;
    background-position: -503px -544px;
}

.base-ahrefs {
    width: 76px;
    height: 23px;
    background-position: -635px -648px;
}

.base-airpl {
    width: 38px;
    height: 37px;
    background-position: -961px -123px;
}

.base-allegro {
    width: 102px;
    height: 42px;
    background-position: -300px -169px;
}

.base-amway {
    width: 82px;
    height: 34px;
    background-position: -725px -405px;
}

.base-animatedknots {
    width: 61px;
    height: 30px;
    background-position: -855px -602px;
}

.base-aps {
    width: 75px;
    height: 21px;
    background-position: -232px -827px;
}

.base-artstation {
    width: 128px;
    height: 28px;
    background-position: -372px -544px;
}

.base-asciicker {
    width: 64px;
    height: 47px;
    background-position: -725px -68px;
}

.base-ask {
    width: 55px;
    height: 40px;
    background-position: -855px -135px;
}

.base-AstroNET {
    width: 41px;
    height: 40px;
    background-position: -855px -769px;
}

.base-astronew {
    width: 89px;
    height: 29px;
    background-position: -524px -77px;
}

.base-atari {
    width: 105px;
    height: 33px;
    background-position: -617px -118px;
}

.base-bankier {
    width: 64px;
    height: 41px;
    background-position: -617px -524px;
}

.base-bedeker {
    width: 42px;
    height: 35px;
    background-position: -172px -896px;
}

.base-bibcyf {
    width: 41px;
    height: 48px;
    background-position: -855px -369px;
}

.base-blender {
    width: 44px;
    height: 58px;
    background-position: -0px -766px;
}

.base-blenderguru {
    width: 108px;
    height: 27px;
    background-position: -725px -149px;
}

.base-c-64_scene {
    width: 36px;
    height: 30px;
    background-position: -961px -240px;
}

.base-c64fun {
    width: 150px;
    height: 26px;
    background-position: -416px -435px;
}

.base-c64portal {
    width: 146px;
    height: 27px;
    background-position: -119px -435px;
}

.base-c64sets {
    width: 42px;
    height: 34px;
    background-position: -810px -405px;
}

.base-calendar {
    width: 100px;
    height: 31px;
    background-position: -617px -340px;
}

.base-cams {
    width: 70px;
    height: 33px;
    background-position: -0px -860px;
}

.base-cda {
    width: 86px;
    height: 26px;
    background-position: -277px -766px;
}

.base-ceidg {
    width: 104px;
    height: 27px;
    background-position: -725px -303px;
}

.base-ciekawostkihist {
    width: 85px;
    height: 33px;
    background-position: -725px -333px;
}

.base-colossal {
    width: 123px;
    height: 25px;
    background-position: -241px -648px;
}

.base-commodore {
    width: 100px;
    height: 32px;
    background-position: -617px -231px;
}

.base-commodore_c64_books {
    width: 50px;
    height: 36px;
    background-position: -855px -681px;
}

.base-conwerter {
    width: 50px;
    height: 21px;
    background-position: -310px -827px;
}

.base-coub {
    width: 43px;
    height: 43px;
    background-position: -855px -556px;
}

.base-cqcounter {
    width: 89px;
    height: 30px;
    background-position: -725px -543px;
}

.base-crazynauka {
    width: 160px;
    height: 20px;
    background-position: -446px -515px;
}

.base-csdb {
    width: 109px;
    height: 55px;
    background-position: -300px -0px;
}

.base-darmprog {
    width: 202px;
    height: 24px;
    background-position: -412px -0px;
}

.base-datasheetspdf {
    width: 160px;
    height: 23px;
    background-position: -276px -476px;
}

.base-datasheetspdf1 {
    width: 297px;
    height: 37px;
    background-position: -0px -0px;
}

.base-dawnygdansk {
    width: 110px;
    height: 17px;
    background-position: -569px -713px;
}

.base-delta {
    width: 80px;
    height: 33px;
    background-position: -725px -636px;
}

.base-demagog {
    width: 132px;
    height: 23px;
    background-position: -367px -648px;
}

.base-duo {
    width: 36px;
    height: 36px;
    background-position: -961px -163px;
}

.base-ecudo {
    width: 105px;
    height: 47px;
    background-position: -412px -242px;
}

.base-elektroda {
    width: 110px;
    height: 20px;
    background-position: -491px -394px;
}

.base-elektroonline {
    width: 160px;
    height: 24px;
    background-position: -113px -476px;
}

.base-elportal {
    width: 160px;
    height: 20px;
    background-position: -243px -579px;
}

.base-epuap2 {
    width: 145px;
    height: 27px;
    background-position: -268px -435px;
}

.base-exbl {
    width: 160px;
    height: 21px;
    background-position: -439px -476px;
}

.base-extensionsblender {
    width: 208px;
    height: 43px;
    background-position: -0px -82px;
}

.base-facebook {
    width: 103px;
    height: 35px;
    background-position: -617px -80px;
}

.base-fake {
    width: 68px;
    height: 32px;
    background-position: -73px -860px;
}

.base-fakty {
    width: 107px;
    height: 27px;
    background-position: -725px -217px;
}

.base-filmon {
    width: 123px;
    height: 31px;
    background-position: -246px -544px;
}

.base-finviz {
    width: 37px;
    height: 44px;
    background-position: -921px -0px;
}

.base-forbot {
    width: 110px;
    height: 17px;
    background-position: -682px -713px;
}

.base-forsa {
    width: 102px;
    height: 30px;
    background-position: -617px -374px;
}

.base-forumogadka {
    width: 143px;
    height: 35px;
    background-position: -152px -356px;
}

.base-fosshub {
    width: 97px;
    height: 20px;
    background-position: -619px -682px;
}

.base-fotogdansk {
    width: 30px;
    height: 35px;
    background-position: -961px -273px;
}

.base-freemusicarchive {
    width: 51px;
    height: 25px;
    background-position: -217px -896px;
}

.base-freesound {
    width: 110px;
    height: 31px;
    background-position: -0px -648px;
}

.base-gameplay {
    width: 130px;
    height: 23px;
    background-position: -502px -648px;
}

.base-gb64b {
    width: 147px;
    height: 21px;
    background-position: -410px -616px;
}

.base-geargenerator {
    width: 85px;
    height: 30px;
    background-position: -528px -126px;
}

.base-geekaresexy {
    width: 124px;
    height: 38px;
    background-position: -0px -394px;
}

.base-geooo {
    width: 46px;
    height: 46px;
    background-position: -855px -227px;
}

.base-getionary {
    width: 40px;
    height: 40px;
    background-position: -0px -896px;
}

.base-gnew {
    width: 97px;
    height: 50px;
    background-position: -300px -116px;
}

.base-goodhomedesign {
    width: 110px;
    height: 44px;
    background-position: -412px -329px;
}

.base-google {
    width: 128px;
    height: 54px;
    background-position: -0px -221px;
}

.base-grypl {
    width: 107px;
    height: 47px;
    background-position: -412px -27px;
}

.base-guerrillamail {
    width: 207px;
    height: 26px;
    background-position: -160px -278px;
}

.base-hevensabo {
    width: 78px;
    height: 30px;
    background-position: -0px -827px;
}

.base-history {
    width: 146px;
    height: 21px;
    background-position: -560px -616px;
}

.base-imgw {
    width: 50px;
    height: 49px;
    background-position: -47px -766px;
}

.base-inhabit {
    width: 100px;
    height: 32px;
    background-position: -617px -266px;
}

.base-inkscape {
    width: 44px;
    height: 44px;
    background-position: -855px -420px;
}

.base-instalki {
    width: 105px;
    height: 32px;
    background-position: -617px -154px;
}

.base-jakdojade {
    width: 97px;
    height: 22px;
    background-position: -108px -739px;
}

.base-jayisgames {
    width: 150px;
    height: 36px;
    background-position: -0px -317px;
}

.base-jpg2png {
    width: 45px;
    height: 35px;
    background-position: -805px -26px;
}

.base-justgeek {
    width: 140px;
    height: 35px;
    background-position: -412px -173px;
}

.base-kalbi {
    width: 40px;
    height: 41px;
    background-position: -792px -68px;
}

.base-komputerswiat {
    width: 95px;
    height: 40px;
    background-position: -300px -214px;
}

.base-kopalniawiedzy {
    width: 86px;
    height: 39px;
    background-position: -617px -189px;
}

.base-kosmonauta {
    width: 144px;
    height: 24px;
    background-position: -299px -515px;
}

.base-kostka {
    width: 42px;
    height: 43px;
    background-position: -855px -635px;
}

.base-krytykapolityczna {
    width: 113px;
    height: 44px;
    background-position: -412px -126px;
}

.base-kurnik {
    width: 120px;
    height: 11px;
    background-position: -131px -263px;
}

.base-kwarantanna {
    width: 60px;
    height: 38px;
    background-position: -855px -94px;
}

.base-linkedin {
    width: 38px;
    height: 38px;
    background-position: -961px -0px;
}

.base-madeon {
    width: 110px;
    height: 26px;
    background-position: -725px -247px;
}

.base-make {
    width: 84px;
    height: 32px;
    background-position: -725px -508px;
}

.base-malawielkafirma {
    width: 80px;
    height: 38px;
    background-position: -617px -444px;
}

.base-mapa {
    width: 42px;
    height: 22px;
    background-position: -808px -636px;
}

.base-mapa_turystyczna {
    width: 89px;
    height: 30px;
    background-position: -725px -576px;
}

.base-mapbox {
    width: 142px;
    height: 34px;
    background-position: -412px -292px;
}

.base-math {
    width: 118px;
    height: 24px;
    background-position: -725px -276px;
}

.base-metadata2go {
    width: 127px;
    height: 23px;
    background-position: -725px -0px;
}

.base-meteo {
    width: 74px;
    height: 24px;
    background-position: -155px -827px;
}

.base-meteo2 {
    width: 86px;
    height: 28px;
    background-position: -211px -82px;
}

.base-millennium {
    width: 157px;
    height: 36px;
    background-position: -0px -278px;
}

.base-miloszbrzezinski {
    width: 260px;
    height: 39px;
    background-position: -0px -40px;
}

.base-mojemiasto {
    width: 90px;
    height: 46px;
    background-position: -522px -27px;
}

.base-ms {
    width: 120px;
    height: 32px;
    background-position: -0px -544px;
}

.base-mtechnik {
    width: 105px;
    height: 28px;
    background-position: -725px -118px;
}

.base-myabandonware {
    width: 150px;
    height: 46px;
    background-position: -0px -172px;
}

.base-myminifactory {
    width: 85px;
    height: 33px;
    background-position: -725px -369px;
}

.base-mynoise {
    width: 190px;
    height: 20px;
    background-position: -298px -394px;
}

.base-naszgdansk {
    width: 36px;
    height: 46px;
    background-position: -855px -720px;
}

.base-natemat {
    width: 133px;
    height: 24px;
    background-position: -123px -616px;
}

.base-naukaoklimacie {
    width: 115px;
    height: 17px;
    background-position: -451px -713px;
}

.base-netoog {
    width: 77px;
    height: 39px;
    background-position: -725px -26px;
}

.base-ninateka {
    width: 109px;
    height: 23px;
    background-position: -113px -713px;
}

.base-ninateka_logo {
    width: 190px;
    height: 41px;
    background-position: -0px -128px;
}

.base-noizz {
    width: 87px;
    height: 28px;
    background-position: -193px -128px;
}

.base-nosil {
    width: 83px;
    height: 29px;
    background-position: -100px -766px;
}

.base-oldversion {
    width: 110px;
    height: 15px;
    background-position: -412px -376px;
}

.base-onetimesecret {
    width: 45px;
    height: 45px;
    background-position: -855px -321px;
}

.base-osm {
    width: 140px;
    height: 21px;
    background-position: -359px -682px;
}

.base-otranscribe {
    width: 110px;
    height: 17px;
    background-position: -208px -739px;
}

.base-panel {
    width: 114px;
    height: 21px;
    background-position: -502px -682px;
}

.base-pazyl {
    width: 100px;
    height: 18px;
    background-position: -300px -257px;
}

.base-pi-hole {
    width: 44px;
    height: 63px;
    background-position: -725px -442px;
}

.base-pico8 {
    width: 120px;
    height: 29px;
    background-position: -0px -616px;
}

.base-pimeyes {
    width: 110px;
    height: 34px;
    background-position: -0px -579px;
}

.base-pinterest {
    width: 111px;
    height: 35px;
    background-position: -298px -356px;
}

.base-playgl {
    width: 149px;
    height: 39px;
    background-position: -131px -221px;
}

.base-podroznik {
    width: 110px;
    height: 23px;
    background-position: -0px -713px;
}

.base-policjagda {
    width: 48px;
    height: 50px;
    background-position: -855px -41px;
}

.base-polyhaven {
    width: 44px;
    height: 62px;
    background-position: -772px -442px;
}

.base-programy {
    width: 110px;
    height: 19px;
    background-position: -338px -713px;
}

.base-protonmail {
    width: 109px;
    height: 24px;
    background-position: -725px -609px;
}

.base-pulsbiznesu {
    width: 84px;
    height: 35px;
    background-position: -725px -179px;
}

.base-qwant {
    width: 38px;
    height: 40px;
    background-position: -684px -524px;
}

.base-racjonalista {
    width: 110px;
    height: 21px;
    background-position: -225px -713px;
}

.base-radio {
    width: 49px;
    height: 30px;
    background-position: -555px -173px;
}

.base-rainymood {
    width: 168px;
    height: 26px;
    background-position: -127px -394px;
}

.base-raspberrypi {
    width: 36px;
    height: 44px;
    background-position: -921px -47px;
}

.base-reallusion {
    width: 172px;
    height: 28px;
    background-position: -412px -211px;
}

.base-resetobywatelski {
    width: 130px;
    height: 41px;
    background-position: -153px -172px;
}

.base-retrogamer {
    width: 148px;
    height: 21px;
    background-position: -259px -616px;
}

.base-reverso {
    width: 40px;
    height: 40px;
    background-position: -43px -896px;
}

.base-rzygacz {
    width: 50px;
    height: 38px;
    background-position: -855px -467px;
}

.base-schemat {
    width: 25px;
    height: 18px;
    background-position: -961px -311px;
}

.base-scope {
    width: 88px;
    height: 27px;
    background-position: -186px -766px;
}

.base-sejmometr {
    width: 63px;
    height: 38px;
    background-position: -855px -0px;
}

.base-skiplagged {
    width: 90px;
    height: 20px;
    background-position: -366px -766px;
}

.base-sklepy24 {
    width: 120px;
    height: 32px;
    background-position: -123px -544px;
}

.base-softwareok {
    width: 213px;
    height: 24px;
    background-position: -153px -317px;
}

.base-spacelabeu {
    width: 140px;
    height: 16px;
    background-position: -549px -579px;
}

.base-staregrynet {
    width: 147px;
    height: 25px;
    background-position: -149px -515px;
}

.base-supercook {
    width: 100px;
    height: 26px;
    background-position: -725px -672px;
}

.base-svg {
    width: 71px;
    height: 27px;
    background-position: -81px -827px;
}

.base-tajemniceatari8 {
    width: 120px;
    height: 25px;
    background-position: -113px -682px;
}

.base-taxeon {
    width: 146px;
    height: 26px;
    background-position: -0px -515px;
}

.base-teatrtelewizji {
    width: 50px;
    height: 42px;
    background-position: -855px -276px;
}

.base-thewest {
    width: 149px;
    height: 35px;
    background-position: -0px -356px;
}

.base-thingiverse {
    width: 125px;
    height: 25px;
    background-position: -113px -648px;
}

.base-timeanddate {
    width: 45px;
    height: 25px;
    background-position: -569px -435px;
}

.base-tokfm {
    width: 95px;
    height: 55px;
    background-position: -300px -58px;
}

.base-tp-link {
    width: 90px;
    height: 13px;
    background-position: -524px -109px;
}

.base-translator {
    width: 35px;
    height: 35px;
    background-position: -961px -202px;
}

.base-tvn {
    width: 38px;
    height: 38px;
    background-position: -961px -41px;
}

.base-urszula {
    width: 105px;
    height: 24px;
    background-position: -0px -739px;
}

.base-usdebt {
    width: 110px;
    height: 36px;
    background-position: -0px -476px;
}

.base-useme {
    width: 99px;
    height: 38px;
    background-position: -617px -39px;
}

.base-vectra {
    width: 120px;
    height: 25px;
    background-position: -236px -682px;
}

.base-vimeo {
    width: 116px;
    height: 38px;
    background-position: -0px -435px;
}

.base-voice {
    width: 42px;
    height: 45px;
    background-position: -855px -508px;
}

.base-wei {
    width: 90px;
    height: 34px;
    background-position: -617px -407px;
}

.base-wikimap {
    width: 127px;
    height: 28px;
    background-position: -113px -579px;
}

.base-windy {
    width: 38px;
    height: 38px;
    background-position: -961px -82px;
}

.base-wirtualneszlaki {
    width: 47px;
    height: 46px;
    background-position: -855px -178px;
}

.base-wtz {
    width: 140px;
    height: 18px;
    background-position: -406px -579px;
}

.base-wu {
    width: 64px;
    height: 40px;
    background-position: -525px -329px;
}

.base-yahoo {
    width: 110px;
    height: 28px;
    background-position: -0px -682px;
}

.base-yandex {
    width: 94px;
    height: 27px;
    background-position: -520px -242px;
}

.base-yeggi {
    width: 62px;
    height: 24px;
    background-position: -144px -860px;
}

.base-yt {
    width: 109px;
    height: 46px;
    background-position: -412px -77px;
}

.base-zama {
    width: 40px;
    height: 40px;
    background-position: -86px -896px;
}

.base-zegaratomowy {
    width: 40px;
    height: 39px;
    background-position: -129px -896px;
}

.base-ziemianarozdrozu {
    width: 105px;
    height: 36px;
    background-position: -617px -0px;
}

.base-ztmg {
    width: 50px;
    height: 27px;
    background-position: -557px -292px;
}

.base-zumi {
    width: 84px;
    height: 36px;
    background-position: -617px -485px;
}

