.base {
    background-image: url(./img/base.png);
    background-repeat: no-repeat;
    display: block;
}

.base-csdb {
    width: 109px;
    height: 55px;
    background-position: -0px -236px;
}

.base-datasheetspdf {
    width: 160px;
    height: 23px;
    background-position: -416px -465px;
}

.base-datasheetspdf1 {
    width: 297px;
    height: 37px;
    background-position: -0px -0px;
}

.base-extensionsblender {
    width: 208px;
    height: 43px;
    background-position: -0px -40px;
}

.base-forumogadka {
    width: 143px;
    height: 35px;
    background-position: -300px -208px;
}

.base-reallusion {
    width: 172px;
    height: 28px;
    background-position: -259px -321px;
}

.base-10minutemail {
    width: 100px;
    height: 12px;
    background-position: -105px -495px;
}

.base-3dmdb {
    width: 88px;
    height: 36px;
    background-position: -610px -301px;
}

.base-after-me {
    width: 110px;
    height: 28px;
    background-position: -718px -0px;
}

.base-ahrefs {
    width: 76px;
    height: 23px;
    background-position: -526px -510px;
}

.base-airpl {
    width: 38px;
    height: 37px;
    background-position: -943px -0px;
}

.base-allegro {
    width: 102px;
    height: 42px;
    background-position: -0px -465px;
}

.base-amway {
    width: 82px;
    height: 34px;
    background-position: -718px -598px;
}

.base-animatedknots {
    width: 61px;
    height: 30px;
    background-position: -831px -579px;
}

.base-aps {
    width: 75px;
    height: 21px;
    background-position: -0px -798px;
}

.base-artstation {
    width: 128px;
    height: 28px;
    background-position: -372px -549px;
}

.base-asciicker {
    width: 64px;
    height: 47px;
    background-position: -718px -288px;
}

.base-ask {
    width: 55px;
    height: 40px;
    background-position: -831px -77px;
}

.base-AstroNET {
    width: 41px;
    height: 40px;
    background-position: -831px -746px;
}

.base-astronew {
    width: 89px;
    height: 29px;
    background-position: -510px -189px;
}

.base-atari {
    width: 105px;
    height: 33px;
    background-position: -610px -118px;
}

.base-bankier {
    width: 64px;
    height: 41px;
    background-position: -510px -145px;
}

.base-bedeker {
    width: 42px;
    height: 35px;
    background-position: -446px -208px;
}

.base-bibcyf {
    width: 41px;
    height: 48px;
    background-position: -831px -346px;
}

.base-blender {
    width: 44px;
    height: 58px;
    background-position: -510px -327px;
}

.base-blenderguru {
    width: 108px;
    height: 27px;
    background-position: -718px -369px;
}

.base-c-64_scene {
    width: 36px;
    height: 30px;
    background-position: -943px -117px;
}

.base-c64portal {
    width: 146px;
    height: 27px;
    background-position: -359px -418px;
}

.base-c64sets {
    width: 42px;
    height: 34px;
    background-position: -164px -865px;
}

.base-calendar {
    width: 100px;
    height: 31px;
    background-position: -718px -62px;
}

.base-cams {
    width: 70px;
    height: 33px;
    background-position: -831px -0px;
}

.base-cda {
    width: 86px;
    height: 26px;
    background-position: -503px -549px;
}

.base-ceidg {
    width: 104px;
    height: 27px;
    background-position: -718px -496px;
}

.base-ciekawostkihist {
    width: 85px;
    height: 33px;
    background-position: -718px -526px;
}

.base-colossal {
    width: 123px;
    height: 25px;
    background-position: -128px -682px;
}

.base-commodore {
    width: 100px;
    height: 32px;
    background-position: -610px -231px;
}

.base-commodore_c64_books {
    width: 50px;
    height: 36px;
    background-position: -831px -658px;
}

.base-conwerter {
    width: 50px;
    height: 21px;
    background-position: -665px -682px;
}

.base-coub {
    width: 43px;
    height: 43px;
    background-position: -831px -533px;
}

.base-cqcounter {
    width: 89px;
    height: 30px;
    background-position: -610px -375px;
}

.base-crazynauka {
    width: 160px;
    height: 20px;
    background-position: -553px -584px;
}

.base-darmprog {
    width: 202px;
    height: 24px;
    background-position: -300px -246px;
}

.base-dawnygdansk {
    width: 110px;
    height: 17px;
    background-position: -714px -710px;
}

.base-delta {
    width: 80px;
    height: 33px;
    background-position: -610px -496px;
}

.base-demagog {
    width: 132px;
    height: 23px;
    background-position: -254px -682px;
}

.base-duo {
    width: 36px;
    height: 36px;
    background-position: -943px -40px;
}

.base-ecudo {
    width: 105px;
    height: 47px;
    background-position: -0px -368px;
}

.base-elektroda {
    width: 110px;
    height: 20px;
    background-position: -276px -621px;
}

.base-elektroonline {
    width: 160px;
    height: 24px;
    background-position: -253px -465px;
}

.base-elportal {
    width: 160px;
    height: 20px;
    background-position: -113px -621px;
}

.base-epuap2 {
    width: 145px;
    height: 27px;
    background-position: -105px -465px;
}

.base-exbl {
    width: 160px;
    height: 21px;
    background-position: -390px -584px;
}

.base-facebook {
    width: 103px;
    height: 35px;
    background-position: -610px -80px;
}

.base-fake {
    width: 68px;
    height: 32px;
    background-position: -831px -120px;
}

.base-fakty {
    width: 107px;
    height: 27px;
    background-position: -718px -437px;
}

.base-filmon {
    width: 123px;
    height: 31px;
    background-position: -246px -549px;
}

.base-finviz {
    width: 37px;
    height: 44px;
    background-position: -557px -327px;
}

.base-forbot {
    width: 110px;
    height: 17px;
    background-position: -559px -738px;
}

.base-forsa {
    width: 102px;
    height: 30px;
    background-position: -718px -96px;
}

.base-fosshub {
    width: 97px;
    height: 20px;
    background-position: -610px -561px;
}

.base-fotogdansk {
    width: 30px;
    height: 35px;
    background-position: -943px -150px;
}

.base-freemusicarchive {
    width: 51px;
    height: 25px;
    background-position: -262px -865px;
}

.base-freesound {
    width: 110px;
    height: 31px;
    background-position: -0px -621px;
}

.base-gameplay {
    width: 130px;
    height: 23px;
    background-position: -389px -682px;
}

.base-gb64b {
    width: 147px;
    height: 21px;
    background-position: -287px -655px;
}

.base-geargenerator {
    width: 85px;
    height: 30px;
    background-position: -510px -251px;
}

.base-geekaresexy {
    width: 124px;
    height: 38px;
    background-position: -113px -418px;
}

.base-geooo {
    width: 46px;
    height: 46px;
    background-position: -831px -204px;
}

.base-getionary {
    width: 40px;
    height: 40px;
    background-position: -0px -822px;
}

.base-gnew {
    width: 97px;
    height: 50px;
    background-position: -510px -0px;
}

.base-goodhomedesign {
    width: 110px;
    height: 44px;
    background-position: -0px -418px;
}

.base-google {
    width: 128px;
    height: 54px;
    background-position: -0px -179px;
}

.base-grypl {
    width: 107px;
    height: 47px;
    background-position: -398px -150px;
}

.base-guerrillamail {
    width: 207px;
    height: 26px;
    background-position: -300px -0px;
}

.base-hevensabo {
    width: 78px;
    height: 30px;
    background-position: -0px -765px;
}

.base-history {
    width: 146px;
    height: 21px;
    background-position: -437px -655px;
}

.base-inhabit {
    width: 100px;
    height: 32px;
    background-position: -610px -266px;
}

.base-inkscape {
    width: 44px;
    height: 44px;
    background-position: -831px -397px;
}

.base-instalki {
    width: 105px;
    height: 32px;
    background-position: -610px -154px;
}

.base-jakdojade {
    width: 97px;
    height: 22px;
    background-position: -341px -738px;
}

.base-jayisgames {
    width: 150px;
    height: 36px;
    background-position: -300px -29px;
}

.base-jpg2png {
    width: 45px;
    height: 35px;
    background-position: -453px -29px;
}

.base-justgeek {
    width: 140px;
    height: 35px;
    background-position: -116px -321px;
}

.base-kalbi {
    width: 40px;
    height: 41px;
    background-position: -785px -288px;
}

.base-komputerswiat {
    width: 95px;
    height: 40px;
    background-position: -510px -102px;
}

.base-kopalniawiedzy {
    width: 86px;
    height: 39px;
    background-position: -610px -189px;
}

.base-kosmonauta {
    width: 144px;
    height: 24px;
    background-position: -243px -584px;
}

.base-kostka {
    width: 42px;
    height: 43px;
    background-position: -831px -612px;
}

.base-krytykapolityczna {
    width: 113px;
    height: 44px;
    background-position: -0px -321px;
}

.base-kurnik {
    width: 120px;
    height: 11px;
    background-position: -131px -221px;
}

.base-kwarantanna {
    width: 60px;
    height: 38px;
    background-position: -831px -36px;
}

.base-linkedin {
    width: 38px;
    height: 38px;
    background-position: -41px -865px;
}

.base-madeon {
    width: 110px;
    height: 26px;
    background-position: -718px -467px;
}

.base-make {
    width: 84px;
    height: 32px;
    background-position: -610px -340px;
}

.base-malawielkafirma {
    width: 80px;
    height: 38px;
    background-position: -718px -166px;
}

.base-mapa {
    width: 42px;
    height: 22px;
    background-position: -237px -822px;
}

.base-mapa_turystyczna {
    width: 89px;
    height: 30px;
    background-position: -610px -408px;
}

.base-mapbox {
    width: 142px;
    height: 34px;
    background-position: -108px -368px;
}

.base-math {
    width: 118px;
    height: 24px;
    background-position: -0px -738px;
}

.base-metadata2go {
    width: 127px;
    height: 23px;
    background-position: -246px -710px;
}

.base-meteo {
    width: 74px;
    height: 24px;
    background-position: -424px -368px;
}

.base-meteo2 {
    width: 86px;
    height: 28px;
    background-position: -510px -419px;
}

.base-millennium {
    width: 157px;
    height: 36px;
    background-position: -112px -236px;
}

.base-mojemiasto {
    width: 90px;
    height: 46px;
    background-position: -510px -53px;
}

.base-ms {
    width: 120px;
    height: 32px;
    background-position: -0px -549px;
}

.base-mtechnik {
    width: 105px;
    height: 28px;
    background-position: -718px -338px;
}

.base-myabandonware {
    width: 150px;
    height: 46px;
    background-position: -0px -130px;
}

.base-myminifactory {
    width: 85px;
    height: 33px;
    background-position: -718px -562px;
}

.base-mynoise {
    width: 190px;
    height: 20px;
    background-position: -216px -294px;
}

.base-naszgdansk {
    width: 36px;
    height: 46px;
    background-position: -831px -697px;
}

.base-natemat {
    width: 133px;
    height: 24px;
    background-position: -0px -655px;
}

.base-naukaoklimacie {
    width: 115px;
    height: 17px;
    background-position: -441px -738px;
}

.base-netoog {
    width: 77px;
    height: 39px;
    background-position: -718px -246px;
}

.base-ninateka {
    width: 109px;
    height: 23px;
    background-position: -489px -710px;
}

.base-ninateka_logo {
    width: 190px;
    height: 41px;
    background-position: -0px -86px;
}

.base-noizz {
    width: 87px;
    height: 28px;
    background-position: -510px -388px;
}

.base-nosil {
    width: 83px;
    height: 29px;
    background-position: -211px -40px;
}

.base-odysee {
    width: 52px;
    height: 52px;
    background-position: -610px -441px;
}

.base-oldversion {
    width: 110px;
    height: 15px;
    background-position: -81px -765px;
}

.base-onetimesecret {
    width: 45px;
    height: 45px;
    background-position: -831px -298px;
}

.base-osm {
    width: 140px;
    height: 21px;
    background-position: -522px -682px;
}

.base-otranscribe {
    width: 110px;
    height: 17px;
    background-position: -672px -738px;
}

.base-panel {
    width: 114px;
    height: 21px;
    background-position: -586px -655px;
}

.base-pazyl {
    width: 100px;
    height: 18px;
    background-position: -615px -621px;
}

.base-pi-hole {
    width: 44px;
    height: 63px;
    background-position: -718px -635px;
}

.base-pimeyes {
    width: 110px;
    height: 34px;
    background-position: -0px -584px;
}

.base-pinterest {
    width: 111px;
    height: 35px;
    background-position: -113px -510px;
}

.base-playgl {
    width: 149px;
    height: 39px;
    background-position: -131px -179px;
}

.base-podroznik {
    width: 110px;
    height: 23px;
    background-position: -376px -710px;
}

.base-policjagda {
    width: 48px;
    height: 50px;
    background-position: -665px -441px;
}

.base-polyhaven {
    width: 44px;
    height: 62px;
    background-position: -765px -635px;
}

.base-programy {
    width: 110px;
    height: 19px;
    background-position: -502px -621px;
}

.base-protonmail {
    width: 109px;
    height: 24px;
    background-position: -121px -738px;
}

.base-pulsbiznesu {
    width: 84px;
    height: 35px;
    background-position: -718px -399px;
}

.base-qwant {
    width: 38px;
    height: 40px;
    background-position: -0px -865px;
}

.base-racjonalista {
    width: 110px;
    height: 21px;
    background-position: -601px -710px;
}

.base-radio {
    width: 49px;
    height: 30px;
    background-position: -452px -112px;
}

.base-rainymood {
    width: 168px;
    height: 26px;
    background-position: -253px -368px;
}

.base-raspberrypi {
    width: 36px;
    height: 44px;
    background-position: -904px -0px;
}

.base-resetobywatelski {
    width: 130px;
    height: 41px;
    background-position: -300px -68px;
}

.base-retrogamer {
    width: 148px;
    height: 21px;
    background-position: -136px -655px;
}

.base-reverso {
    width: 40px;
    height: 40px;
    background-position: -43px -822px;
}

.base-rzygacz {
    width: 50px;
    height: 38px;
    background-position: -831px -444px;
}

.base-schemat {
    width: 25px;
    height: 18px;
    background-position: -943px -188px;
}

.base-scope {
    width: 88px;
    height: 27px;
    background-position: -193px -86px;
}

.base-sejmometr {
    width: 63px;
    height: 38px;
    background-position: -433px -68px;
}

.base-skiplagged {
    width: 90px;
    height: 20px;
    background-position: -409px -294px;
}

.base-sklepy24 {
    width: 120px;
    height: 32px;
    background-position: -123px -549px;
}

.base-softwareok {
    width: 213px;
    height: 24px;
    background-position: -0px -294px;
}

.base-spacelabeu {
    width: 140px;
    height: 16px;
    background-position: -112px -275px;
}

.base-staregrynet {
    width: 147px;
    height: 25px;
    background-position: -376px -510px;
}

.base-strongpasswordgenerator {
    width: 110px;
    height: 20px;
    background-position: -389px -621px;
}

.base-supercook {
    width: 100px;
    height: 26px;
    background-position: -610px -532px;
}

.base-svg {
    width: 71px;
    height: 27px;
    background-position: -434px -321px;
}

.base-tajemniceatari8 {
    width: 120px;
    height: 25px;
    background-position: -0px -710px;
}

.base-taxeon {
    width: 146px;
    height: 26px;
    background-position: -227px -510px;
}

.base-teatrtelewizji {
    width: 50px;
    height: 42px;
    background-position: -831px -253px;
}

.base-thewest {
    width: 149px;
    height: 35px;
    background-position: -300px -112px;
}

.base-thingiverse {
    width: 125px;
    height: 25px;
    background-position: -0px -682px;
}

.base-timeanddate {
    width: 45px;
    height: 25px;
    background-position: -316px -865px;
}

.base-tokfm {
    width: 95px;
    height: 55px;
    background-position: -300px -150px;
}

.base-tp-link {
    width: 90px;
    height: 13px;
    background-position: -194px -765px;
}

.base-translator {
    width: 35px;
    height: 35px;
    background-position: -943px -79px;
}

.base-tvn {
    width: 38px;
    height: 38px;
    background-position: -82px -865px;
}

.base-urszula {
    width: 105px;
    height: 24px;
    background-position: -233px -738px;
}

.base-usdebt {
    width: 110px;
    height: 36px;
    background-position: -0px -510px;
}

.base-useme {
    width: 99px;
    height: 38px;
    background-position: -610px -39px;
}

.base-vectra {
    width: 120px;
    height: 25px;
    background-position: -123px -710px;
}

.base-vimeo {
    width: 116px;
    height: 38px;
    background-position: -240px -418px;
}

.base-voice {
    width: 42px;
    height: 45px;
    background-position: -831px -485px;
}

.base-wei {
    width: 90px;
    height: 34px;
    background-position: -718px -129px;
}

.base-wikimap {
    width: 127px;
    height: 28px;
    background-position: -113px -584px;
}

.base-windy {
    width: 38px;
    height: 38px;
    background-position: -123px -865px;
}

.base-wirtualneszlaki {
    width: 47px;
    height: 46px;
    background-position: -831px -155px;
}

.base-wtz {
    width: 140px;
    height: 18px;
    background-position: -300px -273px;
}

.base-wu {
    width: 64px;
    height: 40px;
    background-position: -510px -284px;
}

.base-yahoo {
    width: 110px;
    height: 28px;
    background-position: -718px -31px;
}

.base-yandex {
    width: 94px;
    height: 27px;
    background-position: -510px -221px;
}

.base-yeggi {
    width: 62px;
    height: 24px;
    background-position: -172px -822px;
}

.base-yt {
    width: 109px;
    height: 46px;
    background-position: -153px -130px;
}

.base-zama {
    width: 40px;
    height: 40px;
    background-position: -86px -822px;
}

.base-zegaratomowy {
    width: 40px;
    height: 39px;
    background-position: -129px -822px;
}

.base-ziemianarozdrozu {
    width: 105px;
    height: 36px;
    background-position: -610px -0px;
}

.base-ztmg {
    width: 50px;
    height: 27px;
    background-position: -209px -865px;
}

.base-zumi {
    width: 84px;
    height: 36px;
    background-position: -718px -207px;
}

