.prog {
    background-image: url(./img/prog.png);
    background-repeat: no-repeat;
    display: block;
}

.prog-adobe {
    width: 114px;
    height: 21px;
    background-position: -123px -588px;
}

.prog-aftermarket {
    width: 160px;
    height: 27px;
    background-position: -133px -273px;
}

.prog-ahrefs {
    width: 79px;
    height: 25px;
    background-position: -0px -666px;
}

.prog-ajordison {
    width: 200px;
    height: 38px;
    background-position: -0px -108px;
}

.prog-alicevision {
    width: 58px;
    height: 50px;
    background-position: -563px -31px;
}

.prog-animacje {
    width: 103px;
    height: 27px;
    background-position: -369px -437px;
}

.prog-anime {
    width: 112px;
    height: 22px;
    background-position: -217px -248px;
}

.prog-animista {
    width: 42px;
    height: 42px;
    background-position: -716px -30px;
}

.prog-antyweb {
    width: 52px;
    height: 45px;
    background-position: -563px -503px;
}

.prog-apollographql {
    width: 113px;
    height: 36px;
    background-position: -336px -217px;
}

.prog-asciigenerator {
    width: 110px;
    height: 45px;
    background-position: -203px -44px;
}

.prog-awesome {
    width: 45px;
    height: 45px;
    background-position: -668px -150px;
}

.prog-babel {
    width: 66px;
    height: 32px;
    background-position: -479px -424px;
}

.prog-befonts {
    width: 105px;
    height: 36px;
    background-position: -0px -362px;
}

.prog-bezier {
    width: 125px;
    height: 18px;
    background-position: -251px -560px;
}

.prog-bionicReading {
    width: 75px;
    height: 35px;
    background-position: -563px -84px;
}

.prog-caniuse {
    width: 110px;
    height: 25px;
    background-position: -0px -560px;
}

.prog-canvas {
    width: 113px;
    height: 25px;
    background-position: -322px -526px;
}

.prog-codewars {
    width: 45px;
    height: 45px;
    background-position: -668px -198px;
}

.prog-colorbox {
    width: 120px;
    height: 31px;
    background-position: -108px -362px;
}

.prog-colorhunt {
    width: 120px;
    height: 30px;
    background-position: -231px -362px;
}

.prog-colors_picker {
    width: 120px;
    height: 34px;
    background-position: -336px -145px;
}

.prog-compresor {
    width: 93px;
    height: 27px;
    background-position: -563px -300px;
}

.prog-compressor {
    width: 90px;
    height: 22px;
    background-position: -432px -612px;
}

.prog-cursor {
    width: 72px;
    height: 18px;
    background-position: -401px -401px;
}

.prog-d3 {
    width: 36px;
    height: 34px;
    background-position: -626px -161px;
}

.prog-davinci17 {
    width: 214px;
    height: 22px;
    background-position: -0px -248px;
}

.prog-dbdiagram {
    width: 100px;
    height: 24px;
    background-position: -563px -361px;
}

.prog-docs-w3cub {
    width: 137px;
    height: 25px;
    background-position: -113px -401px;
}

.prog-dojotoolkit {
    width: 73px;
    height: 36px;
    background-position: -563px -122px;
}

.prog-dragonbones {
    width: 34px;
    height: 34px;
    background-position: -618px -503px;
}

.prog-draw {
    width: 40px;
    height: 40px;
    background-position: -716px -333px;
}

.prog-droidcon {
    width: 120px;
    height: 26px;
    background-position: -0px -468px;
}

.prog-electronjs {
    width: 156px;
    height: 32px;
    background-position: -157px -183px;
}

.prog-ezgif {
    width: 120px;
    height: 23px;
    background-position: -438px -526px;
}

.prog-fbflipper {
    width: 30px;
    height: 30px;
    background-position: -753px -419px;
}

.prog-feathericons {
    width: 39px;
    height: 37px;
    background-position: -716px -533px;
}

.prog-figma {
    width: 40px;
    height: 57px;
    background-position: -479px -224px;
}

.prog-flaticon {
    width: 121px;
    height: 25px;
    background-position: -203px -220px;
}

.prog-flex {
    width: 100px;
    height: 25px;
    background-position: -563px -244px;
}

.prog-font-converter {
    width: 120px;
    height: 25px;
    background-position: -121px -497px;
}

.prog-formatjson {
    width: 145px;
    height: 21px;
    background-position: -253px -401px;
}

.prog-getmdl {
    width: 41px;
    height: 41px;
    background-position: -716px -75px;
}

.prog-github {
    width: 36px;
    height: 36px;
    background-position: -716px -634px;
}

.prog-glyphicons {
    width: 135px;
    height: 19px;
    background-position: -113px -560px;
}

.prog-googlecloud {
    width: 45px;
    height: 36px;
    background-position: -716px -294px;
}

.prog-graphql {
    width: 88px;
    height: 28px;
    background-position: -563px -330px;
}

.prog-grid {
    width: 100px;
    height: 25px;
    background-position: -563px -272px;
}

.prog-gtmetrix {
    width: 110px;
    height: 33px;
    background-position: -0px -401px;
}

.prog-h5p {
    width: 60px;
    height: 43px;
    background-position: -563px -161px;
}

.prog-holepunch {
    width: 110px;
    height: 27px;
    background-position: -209px -526px;
}

.prog-html5 {
    width: 154px;
    height: 34px;
    background-position: -0px -183px;
}

.prog-htmlemail {
    width: 69px;
    height: 25px;
    background-position: -490px -497px;
}

.prog-icomoon {
    width: 41px;
    height: 41px;
    background-position: -716px -119px;
}

.prog-icons {
    width: 120px;
    height: 30px;
    background-position: -354px -362px;
}

.prog-immutable {
    width: 116px;
    height: 20px;
    background-position: -240px -588px;
}

.prog-joinpeertube {
    width: 100px;
    height: 22px;
    background-position: -226px -612px;
}

.prog-js-tutorial {
    width: 43px;
    height: 48px;
    background-position: -668px -99px;
}

.prog-jsnice {
    width: 67px;
    height: 27px;
    background-position: -716px -0px;
}

.prog-json {
    width: 99px;
    height: 31px;
    background-position: -0px -526px;
}

.prog-knowledgehut {
    width: 135px;
    height: 61px;
    background-position: -0px -44px;
}

.prog-kurshtml {
    width: 120px;
    height: 28px;
    background-position: -0px -437px;
}

.prog-kurshtmlcss {
    width: 154px;
    height: 25px;
    background-position: -149px -331px;
}

.prog-lawsofux {
    width: 36px;
    height: 36px;
    background-position: -668px -486px;
}

.prog-lipsum {
    width: 200px;
    height: 41px;
    background-position: -0px -0px;
}

.prog-loader {
    width: 40px;
    height: 40px;
    background-position: -716px -376px;
}

.prog-localforage {
    width: 75px;
    height: 28px;
    background-position: -479px -393px;
}

.prog-markdown_preview {
    width: 34px;
    height: 45px;
    background-position: -716px -419px;
}

.prog-material {
    width: 120px;
    height: 28px;
    background-position: -123px -437px;
}

.prog-materialize {
    width: 50px;
    height: 28px;
    background-position: -716px -573px;
}

.prog-materialuicolors {
    width: 120px;
    height: 18px;
    background-position: -379px -560px;
}

.prog-matic {
    width: 118px;
    height: 26px;
    background-position: -0px -497px;
}

.prog-meyerweb {
    width: 35px;
    height: 36px;
    background-position: -624px -31px;
}

.prog-minifier {
    width: 50px;
    height: 27px;
    background-position: -716px -604px;
}

.prog-nafrontendzie {
    width: 125px;
    height: 22px;
    background-position: -258px -468px;
}

.prog-nask {
    width: 96px;
    height: 18px;
    background-position: -233px -310px;
}

.prog-nch {
    width: 81px;
    height: 40px;
    background-position: -479px -0px;
}

.prog-netlify {
    width: 38px;
    height: 38px;
    background-position: -716px -492px;
}

.prog-normalize {
    width: 36px;
    height: 36px;
    background-position: -668px -525px;
}

.prog-npm_trends {
    width: 45px;
    height: 45px;
    background-position: -668px -246px;
}

.prog-obfuscator {
    width: 120px;
    height: 21px;
    background-position: -0px -588px;
}

.prog-obfuscator2 {
    width: 120px;
    height: 35px;
    background-position: -336px -73px;
}

.prog-obliczeniowo {
    width: 127px;
    height: 32px;
    background-position: -336px -182px;
}

.prog-ocks {
    width: 35px;
    height: 87px;
    background-position: -479px -43px;
}

.prog-oldskoolcoder {
    width: 200px;
    height: 25px;
    background-position: -0px -220px;
}

.prog-openscad {
    width: 140px;
    height: 30px;
    background-position: -336px -0px;
}

.prog-pagespeed2 {
    width: 161px;
    height: 22px;
    background-position: -306px -331px;
}

.prog-paletton {
    width: 120px;
    height: 27px;
    background-position: -246px -437px;
}

.prog-paperjs {
    width: 69px;
    height: 25px;
    background-position: -158px -666px;
}

.prog-parcel {
    width: 102px;
    height: 28px;
    background-position: -563px -0px;
}

.prog-paths {
    width: 73px;
    height: 25px;
    background-position: -82px -666px;
}

.prog-phaser {
    width: 104px;
    height: 29px;
    background-position: -102px -526px;
}

.prog-pinterest {
    width: 35px;
    height: 87px;
    background-position: -517px -43px;
}

.prog-pixijs {
    width: 80px;
    height: 27px;
    background-position: -479px -363px;
}

.prog-polskifrontend {
    width: 130px;
    height: 41px;
    background-position: -203px -0px;
}

.prog-popmotion {
    width: 110px;
    height: 23px;
    background-position: -0px -612px;
}

.prog-pose {
    width: 80px;
    height: 28px;
    background-position: -479px -284px;
}

.prog-primefaces {
    width: 43px;
    height: 46px;
    background-position: -668px -342px;
}

.prog-puppeteer2 {
    width: 40px;
    height: 60px;
    background-position: -563px -414px;
}

.prog-ranking {
    width: 100px;
    height: 22px;
    background-position: -329px -612px;
}

.prog-reacttypa {
    width: 132px;
    height: 31px;
    background-position: -336px -111px;
}

.prog-reset {
    width: 36px;
    height: 36px;
    background-position: -668px -564px;
}

.prog-reverieai {
    width: 130px;
    height: 34px;
    background-position: -0px -273px;
}

.prog-rockstar {
    width: 110px;
    height: 20px;
    background-position: -359px -588px;
}

.prog-sandbox {
    width: 42px;
    height: 46px;
    background-position: -668px -391px;
}

.prog-sass {
    width: 36px;
    height: 36px;
    background-position: -668px -603px;
}

.prog-serverless {
    width: 146px;
    height: 28px;
    background-position: -0px -331px;
}

.prog-slides {
    width: 41px;
    height: 40px;
    background-position: -716px -251px;
}

.prog-sortable {
    width: 45px;
    height: 47px;
    background-position: -668px -0px;
}

.prog-special {
    width: 100px;
    height: 23px;
    background-position: -563px -477px;
}

.prog-sullygnome {
    width: 45px;
    height: 53px;
    background-position: -606px -414px;
}

.prog-svg-js {
    width: 41px;
    height: 41px;
    background-position: -716px -163px;
}

.prog-svg {
    width: 75px;
    height: 34px;
    background-position: -563px -207px;
}

.prog-svgomg {
    width: 41px;
    height: 41px;
    background-position: -716px -207px;
}

.prog-svgsilh {
    width: 120px;
    height: 25px;
    background-position: -244px -497px;
}

.prog-swr {
    width: 132px;
    height: 23px;
    background-position: -123px -468px;
}

.prog-syntax {
    width: 52px;
    height: 45px;
    background-position: -479px -176px;
}

.prog-s_prites {
    width: 90px;
    height: 25px;
    background-position: -0px -638px;
}

.prog-textfancy {
    width: 124px;
    height: 31px;
    background-position: -336px -256px;
}

.prog-textshadow {
    width: 120px;
    height: 25px;
    background-position: -367px -497px;
}

.prog-theme-ui {
    width: 102px;
    height: 23px;
    background-position: -563px -388px;
}

.prog-threejs {
    width: 66px;
    height: 22px;
    background-position: -716px -467px;
}

.prog-tinypng {
    width: 120px;
    height: 38px;
    background-position: -203px -138px;
}

.prog-typeorm {
    width: 86px;
    height: 20px;
    background-position: -472px -588px;
}

.prog-unminify {
    width: 120px;
    height: 22px;
    background-position: -386px -468px;
}

.prog-vectorizer {
    width: 134px;
    height: 28px;
    background-position: -336px -290px;
}

.prog-vived {
    width: 114px;
    height: 37px;
    background-position: -336px -33px;
}

.prog-vscode {
    width: 45px;
    height: 46px;
    background-position: -668px -50px;
}

.prog-vuejs {
    width: 50px;
    height: 45px;
    background-position: -479px -315px;
}

.prog-W3 {
    width: 73px;
    height: 40px;
    background-position: -479px -133px;
}

.prog-w3schools {
    width: 130px;
    height: 16px;
    background-position: -502px -560px;
}

.prog-wasp {
    width: 45px;
    height: 45px;
    background-position: -668px -294px;
}

.prog-workspace {
    width: 108px;
    height: 43px;
    background-position: -203px -92px;
}

.prog-wroc {
    width: 44px;
    height: 43px;
    background-position: -668px -440px;
}

.prog-xenko {
    width: 110px;
    height: 22px;
    background-position: -113px -612px;
}

.prog-yarn {
    width: 46px;
    height: 46px;
    background-position: -138px -44px;
}

.prog-zufana {
    width: 230px;
    height: 18px;
    background-position: -0px -310px;
}

.prog-kickAssembler {
    width: 175px;
    height: 31px;
    background-position: -0px -149px;
}

.prog-uiverse {
    width: 90px;
    height: 24px;
    background-position: -93px -638px;
}

