.prog {
    background-image: url(./img/prog.png);
    background-repeat: no-repeat;
    display: block;
}

.prog-adobe {
    width: 114px;
    height: 21px;
    background-position: -246px -544px;
}

.prog-aftermarket {
    width: 160px;
    height: 27px;
    background-position: -256px -281px;
}

.prog-ahrefs {
    width: 79px;
    height: 25px;
    background-position: -93px -595px;
}

.prog-alicevision {
    width: 58px;
    height: 50px;
    background-position: -427px -114px;
}

.prog-animacje {
    width: 103px;
    height: 27px;
    background-position: -427px -167px;
}

.prog-anime {
    width: 112px;
    height: 22px;
    background-position: -0px -570px;
}

.prog-animista {
    width: 42px;
    height: 42px;
    background-position: -719px -570px;
}

.prog-antyweb {
    width: 52px;
    height: 45px;
    background-position: -488px -114px;
}

.prog-apollographql {
    width: 113px;
    height: 36px;
    background-position: -427px -0px;
}

.prog-asciigenerator {
    width: 110px;
    height: 45px;
    background-position: -203px -57px;
}

.prog-awesome {
    width: 45px;
    height: 45px;
    background-position: -719px -234px;
}

.prog-babel {
    width: 66px;
    height: 32px;
    background-position: -719px -0px;
}

.prog-befonts {
    width: 105px;
    height: 36px;
    background-position: -427px -39px;
}

.prog-bezier {
    width: 125px;
    height: 18px;
    background-position: -233px -322px;
}

.prog-bionicReading {
    width: 75px;
    height: 35px;
    background-position: -427px -225px;
}

.prog-caniuse {
    width: 110px;
    height: 25px;
    background-position: -427px -197px;
}

.prog-canvas {
    width: 113px;
    height: 25px;
    background-position: -543px -476px;
}

.prog-codewars {
    width: 45px;
    height: 45px;
    background-position: -719px -282px;
}

.prog-colorbox {
    width: 120px;
    height: 31px;
    background-position: -0px -482px;
}

.prog-colorhunt {
    width: 120px;
    height: 30px;
    background-position: -123px -482px;
}

.prog-colors_picker {
    width: 120px;
    height: 34px;
    background-position: -0px -383px;
}

.prog-compresor {
    width: 93px;
    height: 27px;
    background-position: -316px -102px;
}

.prog-compressor {
    width: 90px;
    height: 22px;
    background-position: -217px -256px;
}

.prog-cursor {
    width: 72px;
    height: 18px;
    background-position: -350px -595px;
}

.prog-d3 {
    width: 36px;
    height: 34px;
    background-position: -666px -616px;
}

.prog-davinci17 {
    width: 214px;
    height: 22px;
    background-position: -0px -256px;
}

.prog-dbdiagram {
    width: 100px;
    height: 24px;
    background-position: -316px -163px;
}

.prog-docs-w3cub {
    width: 137px;
    height: 25px;
    background-position: -264px -448px;
}

.prog-dojotoolkit {
    width: 73px;
    height: 36px;
    background-position: -427px -263px;
}

.prog-dragonbones {
    width: 34px;
    height: 34px;
    background-position: -505px -225px;
}

.prog-draw {
    width: 40px;
    height: 40px;
    background-position: -666px -262px;
}

.prog-droidcon {
    width: 120px;
    height: 26px;
    background-position: -543px -104px;
}

.prog-electronjs {
    width: 156px;
    height: 32px;
    background-position: -0px -221px;
}

.prog-ezgif {
    width: 120px;
    height: 23px;
    background-position: -0px -544px;
}

.prog-fbflipper {
    width: 30px;
    height: 30px;
    background-position: -505px -374px;
}

.prog-feathericons {
    width: 39px;
    height: 37px;
    background-position: -666px -437px;
}

.prog-figma {
    width: 40px;
    height: 57px;
    background-position: -138px -44px;
}

.prog-flaticon {
    width: 121px;
    height: 25px;
    background-position: -0px -516px;
}

.prog-flex {
    width: 100px;
    height: 25px;
    background-position: -316px -46px;
}

.prog-font-converter {
    width: 120px;
    height: 25px;
    background-position: -543px -196px;
}

.prog-fontsgoogle {
    width: 135px;
    height: 29px;
    background-position: -253px -383px;
}

.prog-formatjson {
    width: 145px;
    height: 21px;
    background-position: -321px -420px;
}

.prog-getmdl {
    width: 41px;
    height: 41px;
    background-position: -719px -615px;
}

.prog-github {
    width: 36px;
    height: 36px;
    background-position: -666px -538px;
}

.prog-glyphicons {
    width: 135px;
    height: 19px;
    background-position: -375px -516px;
}

.prog-googlecloud {
    width: 45px;
    height: 36px;
    background-position: -666px -223px;
}

.prog-graphql {
    width: 88px;
    height: 28px;
    background-position: -316px -132px;
}

.prog-grid {
    width: 100px;
    height: 25px;
    background-position: -316px -74px;
}

.prog-gtmetrix {
    width: 110px;
    height: 33px;
    background-position: -427px -78px;
}

.prog-h5p {
    width: 60px;
    height: 43px;
    background-position: -427px -328px;
}

.prog-html5 {
    width: 154px;
    height: 34px;
    background-position: -133px -149px;
}

.prog-htmlemail {
    width: 69px;
    height: 25px;
    background-position: -78px -654px;
}

.prog-icomoon {
    width: 41px;
    height: 41px;
    background-position: -666px -48px;
}

.prog-icons {
    width: 120px;
    height: 30px;
    background-position: -246px -482px;
}

.prog-immutable {
    width: 116px;
    height: 20px;
    background-position: -363px -544px;
}

.prog-js-tutorial {
    width: 43px;
    height: 48px;
    background-position: -719px -183px;
}

.prog-jsnice {
    width: 67px;
    height: 27px;
    background-position: -166px -623px;
}

.prog-json {
    width: 99px;
    height: 31px;
    background-position: -543px -162px;
}

.prog-knowledgehut {
    width: 135px;
    height: 61px;
    background-position: -0px -44px;
}

.prog-kurshtml {
    width: 120px;
    height: 28px;
    background-position: -369px -482px;
}

.prog-kurshtmlcss {
    width: 154px;
    height: 25px;
    background-position: -0px -420px;
}

.prog-lawsofux {
    width: 36px;
    height: 36px;
    background-position: -666px -577px;
}

.prog-loader {
    width: 40px;
    height: 40px;
    background-position: -666px -305px;
}

.prog-localforage {
    width: 75px;
    height: 28px;
    background-position: -0px -654px;
}

.prog-markdown_preview {
    width: 34px;
    height: 45px;
    background-position: -666px -348px;
}

.prog-material {
    width: 120px;
    height: 28px;
    background-position: -543px -0px;
}

.prog-materialize {
    width: 50px;
    height: 28px;
    background-position: -666px -477px;
}

.prog-materialuicolors {
    width: 120px;
    height: 18px;
    background-position: -513px -516px;
}

.prog-matic {
    width: 118px;
    height: 26px;
    background-position: -543px -133px;
}

.prog-meyerweb {
    width: 35px;
    height: 36px;
    background-position: -490px -328px;
}

.prog-minifier {
    width: 50px;
    height: 27px;
    background-position: -666px -508px;
}

.prog-nafrontendzie {
    width: 125px;
    height: 22px;
    background-position: -124px -516px;
}

.prog-nask {
    width: 96px;
    height: 18px;
    background-position: -251px -595px;
}

.prog-netlify {
    width: 38px;
    height: 38px;
    background-position: -666px -396px;
}

.prog-normalize {
    width: 36px;
    height: 36px;
    background-position: -627px -61px;
}

.prog-obfuscator {
    width: 120px;
    height: 21px;
    background-position: -123px -544px;
}

.prog-obfuscator2 {
    width: 120px;
    height: 35px;
    background-position: -117px -343px;
}

.prog-obliczeniowo {
    width: 127px;
    height: 32px;
    background-position: -123px -383px;
}

.prog-ocks {
    width: 35px;
    height: 87px;
    background-position: -543px -312px;
}

.prog-pagespeed2 {
    width: 161px;
    height: 22px;
    background-position: -157px -420px;
}

.prog-paletton {
    width: 120px;
    height: 27px;
    background-position: -543px -31px;
}

.prog-paperjs {
    width: 69px;
    height: 25px;
    background-position: -150px -654px;
}

.prog-parcel {
    width: 102px;
    height: 28px;
    background-position: -543px -445px;
}

.prog-paths {
    width: 73px;
    height: 25px;
    background-position: -175px -595px;
}

.prog-phaser {
    width: 104px;
    height: 29px;
    background-position: -543px -280px;
}

.prog-pinterest {
    width: 35px;
    height: 87px;
    background-position: -581px -312px;
}

.prog-pixijs {
    width: 80px;
    height: 27px;
    background-position: -83px -623px;
}

.prog-polskifrontend {
    width: 130px;
    height: 41px;
    background-position: -0px -149px;
}

.prog-popmotion {
    width: 110px;
    height: 23px;
    background-position: -427px -302px;
}

.prog-pose {
    width: 80px;
    height: 28px;
    background-position: -0px -623px;
}

.prog-primefaces {
    width: 43px;
    height: 46px;
    background-position: -719px -426px;
}

.prog-puppeteer2 {
    width: 40px;
    height: 60px;
    background-position: -619px -312px;
}

.prog-ranking {
    width: 100px;
    height: 22px;
    background-position: -115px -570px;
}

.prog-reacttypa {
    width: 132px;
    height: 31px;
    background-position: -240px -343px;
}

.prog-reset {
    width: 36px;
    height: 36px;
    background-position: -619px -402px;
}

.prog-reverieai {
    width: 130px;
    height: 34px;
    background-position: -123px -281px;
}

.prog-rockstar {
    width: 110px;
    height: 20px;
    background-position: -482px -544px;
}

.prog-sandbox {
    width: 42px;
    height: 46px;
    background-position: -719px -475px;
}

.prog-sass {
    width: 36px;
    height: 36px;
    background-position: -503px -263px;
}

.prog-serverless {
    width: 146px;
    height: 28px;
    background-position: -159px -221px;
}

.prog-slides {
    width: 41px;
    height: 40px;
    background-position: -666px -180px;
}

.prog-sortable {
    width: 45px;
    height: 47px;
    background-position: -719px -84px;
}

.prog-special {
    width: 100px;
    height: 23px;
    background-position: -203px -193px;
}

.prog-sullygnome {
    width: 45px;
    height: 53px;
    background-position: -316px -216px;
}

.prog-svg-js {
    width: 41px;
    height: 41px;
    background-position: -666px -92px;
}

.prog-svg {
    width: 75px;
    height: 34px;
    background-position: -427px -374px;
}

.prog-svgomg {
    width: 41px;
    height: 41px;
    background-position: -666px -136px;
}

.prog-svgsilh {
    width: 120px;
    height: 25px;
    background-position: -543px -224px;
}

.prog-swr {
    width: 132px;
    height: 23px;
    background-position: -404px -448px;
}

.prog-syntax {
    width: 52px;
    height: 45px;
    background-position: -364px -216px;
}

.prog-s_prites {
    width: 90px;
    height: 25px;
    background-position: -0px -595px;
}

.prog-textfancy {
    width: 124px;
    height: 31px;
    background-position: -0px -448px;
}

.prog-textshadow {
    width: 120px;
    height: 25px;
    background-position: -543px -252px;
}

.prog-theme-ui {
    width: 102px;
    height: 23px;
    background-position: -316px -190px;
}

.prog-threejs {
    width: 66px;
    height: 22px;
    background-position: -719px -659px;
}

.prog-tinypng {
    width: 120px;
    height: 38px;
    background-position: -0px -281px;
}

.prog-typeorm {
    width: 86px;
    height: 20px;
    background-position: -236px -623px;
}

.prog-unminify {
    width: 120px;
    height: 22px;
    background-position: -252px -516px;
}

.prog-vectorizer {
    width: 134px;
    height: 28px;
    background-position: -127px -448px;
}

.prog-vived {
    width: 114px;
    height: 37px;
    background-position: -0px -343px;
}

.prog-vscode {
    width: 45px;
    height: 46px;
    background-position: -719px -134px;
}

.prog-vuejs {
    width: 50px;
    height: 45px;
    background-position: -666px -0px;
}

.prog-W3 {
    width: 73px;
    height: 40px;
    background-position: -543px -402px;
}

.prog-w3schools {
    width: 130px;
    height: 16px;
    background-position: -218px -570px;
}

.prog-workspace {
    width: 108px;
    height: 43px;
    background-position: -316px -0px;
}

.prog-wroc {
    width: 44px;
    height: 43px;
    background-position: -719px -524px;
}

.prog-xenko {
    width: 110px;
    height: 22px;
    background-position: -203px -105px;
}

.prog-yarn {
    width: 46px;
    height: 46px;
    background-position: -719px -35px;
}

.prog-zufana {
    width: 230px;
    height: 18px;
    background-position: -0px -322px;
}

.prog-ajordison {
    width: 200px;
    height: 38px;
    background-position: -0px -108px;
}

.prog-holepunch {
    width: 110px;
    height: 54px;
    background-position: -203px -0px;
}

.prog-lipsum {
    width: 200px;
    height: 41px;
    background-position: -0px -0px;
}

.prog-nch {
    width: 81px;
    height: 40px;
    background-position: -543px -61px;
}

.prog-npm_trends {
    width: 45px;
    height: 45px;
    background-position: -719px -330px;
}

.prog-oldskoolcoder {
    width: 200px;
    height: 25px;
    background-position: -0px -193px;
}

.prog-wasp {
    width: 45px;
    height: 45px;
    background-position: -719px -378px;
}

