.prog {
    background-image: url(./img/prog.png);
    background-repeat: no-repeat;
    display: block;
}

.prog-adobe {
    width: 114px;
    height: 21px;
    background-position: -359px -612px;
}

.prog-aftermarket {
    width: 160px;
    height: 27px;
    background-position: -0px -443px;
}

.prog-ahrefs {
    width: 79px;
    height: 25px;
    background-position: -78px -727px;
}

.prog-ajordison {
    width: 200px;
    height: 38px;
    background-position: -203px -171px;
}

.prog-alicevision {
    width: 58px;
    height: 50px;
    background-position: -621px -196px;
}

.prog-animacje {
    width: 103px;
    height: 27px;
    background-position: -621px -249px;
}

.prog-anime {
    width: 112px;
    height: 22px;
    background-position: -113px -642px;
}

.prog-animista {
    width: 42px;
    height: 42px;
    background-position: -771px -570px;
}

.prog-antyweb {
    width: 52px;
    height: 45px;
    background-position: -415px -206px;
}

.prog-apollographql {
    width: 113px;
    height: 36px;
    background-position: -478px -217px;
}

.prog-asciigenerator {
    width: 110px;
    height: 45px;
    background-position: -0px -358px;
}

.prog-awesome {
    width: 45px;
    height: 45px;
    background-position: -771px -234px;
}

.prog-babel {
    width: 66px;
    height: 32px;
    background-position: -771px -0px;
}

.prog-befonts {
    width: 105px;
    height: 36px;
    background-position: -478px -321px;
}

.prog-bezier {
    width: 125px;
    height: 18px;
    background-position: -595px -612px;
}

.prog-bionicReading {
    width: 75px;
    height: 35px;
    background-position: -621px -279px;
}

.prog-caniuse {
    width: 110px;
    height: 25px;
    background-position: -0px -642px;
}

.prog-canvas {
    width: 113px;
    height: 25px;
    background-position: -225px -578px;
}

.prog-codewars {
    width: 45px;
    height: 45px;
    background-position: -771px -282px;
}

.prog-colorbox {
    width: 120px;
    height: 31px;
    background-position: -478px -360px;
}

.prog-colorhunt {
    width: 120px;
    height: 30px;
    background-position: -478px -430px;
}

.prog-colors_picker {
    width: 120px;
    height: 34px;
    background-position: -478px -145px;
}

.prog-compresor {
    width: 93px;
    height: 27px;
    background-position: -621px -495px;
}

.prog-compressor {
    width: 90px;
    height: 22px;
    background-position: -309px -670px;
}

.prog-cursor {
    width: 72px;
    height: 18px;
    background-position: -491px -670px;
}

.prog-d3 {
    width: 36px;
    height: 34px;
    background-position: -728px -509px;
}

.prog-davinci17 {
    width: 214px;
    height: 22px;
    background-position: -159px -323px;
}

.prog-dbdiagram {
    width: 100px;
    height: 24px;
    background-position: -621px -556px;
}

.prog-docs-w3cub {
    width: 137px;
    height: 25px;
    background-position: -320px -443px;
}

.prog-dojotoolkit {
    width: 73px;
    height: 36px;
    background-position: -621px -317px;
}

.prog-dragonbones {
    width: 34px;
    height: 34px;
    background-position: -728px -546px;
}

.prog-draw {
    width: 40px;
    height: 40px;
    background-position: -728px -60px;
}

.prog-droidcon {
    width: 120px;
    height: 26px;
    background-position: -246px -504px;
}

.prog-electronjs {
    width: 156px;
    height: 32px;
    background-position: -0px -323px;
}

.prog-ezgif {
    width: 120px;
    height: 23px;
    background-position: -113px -612px;
}

.prog-fbflipper {
    width: 30px;
    height: 30px;
    background-position: -728px -583px;
}

.prog-feathericons {
    width: 39px;
    height: 37px;
    background-position: -728px -235px;
}

.prog-figma {
    width: 40px;
    height: 57px;
    background-position: -728px -0px;
}

.prog-flaticon {
    width: 121px;
    height: 25px;
    background-position: -205px -535px;
}

.prog-flex {
    width: 100px;
    height: 25px;
    background-position: -621px -439px;
}

.prog-font-converter {
    width: 120px;
    height: 25px;
    background-position: -329px -535px;
}

.prog-formatjson {
    width: 145px;
    height: 21px;
    background-position: -313px -473px;
}

.prog-getmdl {
    width: 41px;
    height: 41px;
    background-position: -771px -615px;
}

.prog-github {
    width: 36px;
    height: 36px;
    background-position: -728px -275px;
}

.prog-glyphicons {
    width: 135px;
    height: 19px;
    background-position: -461px -473px;
}

.prog-googlecloud {
    width: 45px;
    height: 36px;
    background-position: -0px -788px;
}

.prog-graphql {
    width: 88px;
    height: 28px;
    background-position: -621px -525px;
}

.prog-grid {
    width: 100px;
    height: 25px;
    background-position: -621px -467px;
}

.prog-gtmetrix {
    width: 110px;
    height: 33px;
    background-position: -478px -394px;
}

.prog-h5p {
    width: 60px;
    height: 43px;
    background-position: -621px -356px;
}

.prog-holepunch {
    width: 110px;
    height: 27px;
    background-position: -0px -612px;
}

.prog-html5 {
    width: 154px;
    height: 34px;
    background-position: -133px -279px;
}

.prog-htmlemail {
    width: 69px;
    height: 25px;
    background-position: -341px -249px;
}

.prog-icomoon {
    width: 41px;
    height: 41px;
    background-position: -771px -659px;
}

.prog-icons {
    width: 120px;
    height: 30px;
    background-position: -290px -279px;
}

.prog-immutable {
    width: 116px;
    height: 20px;
    background-position: -476px -612px;
}

.prog-joinpeertube {
    width: 100px;
    height: 22px;
    background-position: -103px -670px;
}

.prog-js-tutorial {
    width: 43px;
    height: 48px;
    background-position: -771px -183px;
}

.prog-jsnice {
    width: 67px;
    height: 27px;
    background-position: -0px -758px;
}

.prog-json {
    width: 99px;
    height: 31px;
    background-position: -0px -578px;
}

.prog-knowledgehut {
    width: 135px;
    height: 61px;
    background-position: -0px -215px;
}

.prog-kurshtml {
    width: 120px;
    height: 28px;
    background-position: -347px -358px;
}

.prog-kurshtmlcss {
    width: 154px;
    height: 25px;
    background-position: -163px -443px;
}

.prog-lawsofux {
    width: 36px;
    height: 36px;
    background-position: -728px -314px;
}

.prog-lipsum {
    width: 200px;
    height: 41px;
    background-position: -0px -171px;
}

.prog-loader {
    width: 40px;
    height: 40px;
    background-position: -728px -103px;
}

.prog-localforage {
    width: 75px;
    height: 28px;
    background-position: -0px -727px;
}

.prog-markdown_preview {
    width: 34px;
    height: 45px;
    background-position: -728px -146px;
}

.prog-material {
    width: 120px;
    height: 28px;
    background-position: -0px -504px;
}

.prog-materialize {
    width: 50px;
    height: 28px;
    background-position: -48px -788px;
}

.prog-materialuicolors {
    width: 120px;
    height: 18px;
    background-position: -454px -642px;
}

.prog-matic {
    width: 118px;
    height: 26px;
    background-position: -84px -535px;
}

.prog-meyerweb {
    width: 35px;
    height: 36px;
    background-position: -728px -470px;
}

.prog-minifier {
    width: 50px;
    height: 27px;
    background-position: -70px -758px;
}

.prog-nafrontendzie {
    width: 125px;
    height: 22px;
    background-position: -341px -578px;
}

.prog-nask {
    width: 96px;
    height: 18px;
    background-position: -366px -406px;
}

.prog-nch {
    width: 81px;
    height: 40px;
    background-position: -0px -535px;
}

.prog-netlify {
    width: 38px;
    height: 38px;
    background-position: -728px -194px;
}

.prog-normalize {
    width: 36px;
    height: 36px;
    background-position: -728px -353px;
}

.prog-npm_trends {
    width: 45px;
    height: 45px;
    background-position: -771px -330px;
}

.prog-obfuscator {
    width: 120px;
    height: 21px;
    background-position: -236px -612px;
}

.prog-obfuscator2 {
    width: 120px;
    height: 35px;
    background-position: -478px -73px;
}

.prog-obliczeniowo {
    width: 127px;
    height: 32px;
    background-position: -478px -182px;
}

.prog-ocks {
    width: 35px;
    height: 87px;
    background-position: -621px -32px;
}

.prog-oldskoolcoder {
    width: 200px;
    height: 25px;
    background-position: -138px -249px;
}

.prog-openscad {
    width: 140px;
    height: 30px;
    background-position: -478px -0px;
}

.prog-pagespeed2 {
    width: 161px;
    height: 22px;
    background-position: -149px -473px;
}

.prog-paletton {
    width: 120px;
    height: 27px;
    background-position: -123px -504px;
}

.prog-parcel {
    width: 102px;
    height: 28px;
    background-position: -621px -165px;
}

.prog-paths {
    width: 73px;
    height: 25px;
    background-position: -160px -727px;
}

.prog-phaser {
    width: 104px;
    height: 29px;
    background-position: -621px -0px;
}

.prog-pinterest {
    width: 35px;
    height: 87px;
    background-position: -659px -32px;
}

.prog-polskifrontend {
    width: 130px;
    height: 41px;
    background-position: -0px -279px;
}

.prog-popmotion {
    width: 110px;
    height: 23px;
    background-position: -504px -504px;
}

.prog-pose {
    width: 80px;
    height: 28px;
    background-position: -0px -696px;
}

.prog-primefaces {
    width: 43px;
    height: 46px;
    background-position: -771px -426px;
}

.prog-puppeteer2 {
    width: 40px;
    height: 60px;
    background-position: -415px -87px;
}

.prog-ranking {
    width: 100px;
    height: 22px;
    background-position: -206px -670px;
}

.prog-reacttypa {
    width: 132px;
    height: 31px;
    background-position: -478px -111px;
}

.prog-reset {
    width: 36px;
    height: 36px;
    background-position: -728px -392px;
}

.prog-reverieai {
    width: 130px;
    height: 34px;
    background-position: -0px -406px;
}

.prog-rockstar {
    width: 110px;
    height: 20px;
    background-position: -341px -642px;
}

.prog-sandbox {
    width: 42px;
    height: 46px;
    background-position: -771px -475px;
}

.prog-sass {
    width: 36px;
    height: 36px;
    background-position: -728px -431px;
}

.prog-serverless {
    width: 146px;
    height: 28px;
    background-position: -0px -473px;
}

.prog-slides {
    width: 41px;
    height: 40px;
    background-position: -684px -356px;
}

.prog-sortable {
    width: 45px;
    height: 47px;
    background-position: -771px -84px;
}

.prog-special {
    width: 100px;
    height: 23px;
    background-position: -0px -670px;
}

.prog-sullygnome {
    width: 45px;
    height: 53px;
    background-position: -415px -150px;
}

.prog-svg-js {
    width: 41px;
    height: 41px;
    background-position: -771px -703px;
}

.prog-svg {
    width: 75px;
    height: 34px;
    background-position: -621px -402px;
}

.prog-svgomg {
    width: 41px;
    height: 41px;
    background-position: -682px -196px;
}

.prog-svgsilh {
    width: 120px;
    height: 25px;
    background-position: -452px -535px;
}

.prog-swr {
    width: 132px;
    height: 23px;
    background-position: -369px -504px;
}

.prog-syntax {
    width: 52px;
    height: 45px;
    background-position: -415px -254px;
}

.prog-s_prites {
    width: 90px;
    height: 25px;
    background-position: -316px -215px;
}

.prog-textfancy {
    width: 124px;
    height: 31px;
    background-position: -478px -256px;
}

.prog-textshadow {
    width: 120px;
    height: 25px;
    background-position: -102px -578px;
}

.prog-theme-ui {
    width: 102px;
    height: 23px;
    background-position: -621px -583px;
}

.prog-threejs {
    width: 66px;
    height: 22px;
    background-position: -176px -696px;
}

.prog-tinypng {
    width: 120px;
    height: 38px;
    background-position: -224px -358px;
}

.prog-typeorm {
    width: 86px;
    height: 20px;
    background-position: -402px -670px;
}

.prog-unminify {
    width: 120px;
    height: 22px;
    background-position: -469px -578px;
}

.prog-vectorizer {
    width: 134px;
    height: 28px;
    background-position: -478px -290px;
}

.prog-vived {
    width: 114px;
    height: 37px;
    background-position: -478px -33px;
}

.prog-vscode {
    width: 45px;
    height: 46px;
    background-position: -771px -134px;
}

.prog-vuejs {
    width: 50px;
    height: 45px;
    background-position: -415px -302px;
}

.prog-W3 {
    width: 73px;
    height: 40px;
    background-position: -621px -122px;
}

.prog-w3schools {
    width: 130px;
    height: 16px;
    background-position: -577px -642px;
}

.prog-wasp {
    width: 45px;
    height: 45px;
    background-position: -771px -378px;
}

.prog-workspace {
    width: 108px;
    height: 43px;
    background-position: -113px -358px;
}

.prog-wroc {
    width: 44px;
    height: 43px;
    background-position: -771px -524px;
}

.prog-xenko {
    width: 110px;
    height: 22px;
    background-position: -228px -642px;
}

.prog-yarn {
    width: 46px;
    height: 46px;
    background-position: -771px -35px;
}

.prog-zufana {
    width: 230px;
    height: 18px;
    background-position: -133px -406px;
}

.prog-kickAssembler {
    width: 175px;
    height: 31px;
    background-position: -138px -215px;
}

.prog-nocodemakers {
    width: 60px;
    height: 84px;
    background-position: -415px -0px;
}

.prog-relume {
    width: 412px;
    height: 168px;
    background-position: -0px -0px;
}

.prog-uiverse {
    width: 90px;
    height: 24px;
    background-position: -83px -696px;
}

